<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itemmania.mapper.MileageMapper">

    <select id="getMileageCount"
            parameterType="Integer"
            resultType="Integer">

        select ifnull((select sum(mileage_in)) - (select sum(mileage_out)),0) from mileage m
        inner join user u ON m.user_num = u.user_num
        where u.user_num = #{userNum}

    </select>

</mapper>
