<link type="text/css" rel="stylesheet" href="/css/board/boardList.css">

<div th:replace="fragment/header" xmlns:th="http://www.thymeleaf.org"/>
<!--content_center-> class 입력시 중앙정렬-->
<div class="content_center">

    <div class="g_title_blue">
        <div class="g_left">
            <ul class="trade_sub_title">
                <li>팝니다</li>
                <li class="game_name">
                    <span>로스트아크_서버전체</span>
                </li>
            </ul>
        </div>
        <div class="g_right">
            <a href="/sell/" class="btn_reg">판매등록 +</a>
        </div>
    </div>


    <div id="detail_search" class="detail_search">
        <form id="frm_search" name="frm_search" method="POST">
            <input type="hidden" name="game_code" id="game_code" value="2696">
            <input type="hidden" name="server_code" id="server_code" value="">
            <input type="hidden" name="search_game" id="search_game" value="2696">
            <input type="hidden" name="search_server" id="search_server" value="">
            <input type="hidden" name="search_game_text" id="search_game_text" value="로스트아크">
            <input type="hidden" name="search_server_text" id="search_server_text" value="서버전체">
            <input type="hidden" name="search_goods" id="search_goods" value="all">
            <input type="hidden" name="search_word" id="search_word" value="">
            <input type="hidden" name="search_type" id="search_type" value="sell">
            <input type="hidden" name="money_listOrder" id="money_listOrder" value="">
            <input type="hidden" name="good_listOrder" id="good_listOrder" value="">
            <input type="hidden" name="srch_item_depth1" id="srch_item_depth1" value="">
            <input type="hidden" name="srch_item_depth2" id="srch_item_depth2" value="">
            <input type="hidden" name="srch_item_depth3" id="srch_item_depth3" value="">
            <input type="hidden" name="srch_item_depth4" id="srch_item_depth4" value="">
            <input type="hidden" name="order" id="order" value="2">
            <input type="hidden" name="srch_char_alarm" id="srch_char_alarm" value="">
            <input type="hidden" name="overlap" id="overlap" value="">

            <div class="search_box">
                <div class="search_reset">초기화</div>
                <div class="search_row">
                    <div class="search_tit">물품유형</div>
                    <ul id="goods">
                        <li>
                            <input id="goods_type_1" type="radio" name="goods_type" value="1" class="g_btn_white2_radio"
                                   checked="">
                            <label for="goods_type_1">전체</label>
                        </li>
                        <li>
                            <input id="goods_type_2" type="radio" name="goods_type" value="2"
                                   class="g_btn_white2_radio">
                            <label for="goods_type_2">일반</label>
                        </li>

                        <li>
                            <input id="goods_type_3" type="radio" name="goods_type" value="3"
                                   class="g_btn_white2_radio">
                            <label for="goods_type_3">분할</label>
                        </li>

                        <li>
                            <input id="goods_type_4" type="radio" name="goods_type" value="4"
                                   class="g_btn_white2_radio">
                            <label for="goods_type_4">흥정</label>
                        </li>
                    </ul>
                    <div class="search_tit">거래상태</div>
                    <ul id="state">
                        <li>
                            <input id="trade_state_1" type="radio" name="trade_state" value="1"
                                   class="g_btn_white2_radio">
                            <label for="trade_state_1">전체</label>
                        </li>
                        <li>
                            <input id="trade_state_2" type="radio" name="trade_state" value="2"
                                   class="g_btn_white2_radio">
                            <label for="trade_state_2">거래대기</label>
                        </li>
                        <li>
                            <input id="trade_state_3" type="radio" name="trade_state" value="3"
                                   class="g_btn_white2_radio" checked="">
                            <label for="trade_state_3">거래종료</label>
                        </li>
                    </ul>
                </div>
                <div class="search_row">
                    <div class="search_tit">신용등급</div>
                    <ul id="credit">
                        <li>
                            <input id="credit_type_1" type="radio" name="credit_type" value="1"
                                   class="g_btn_white2_radio" checked="">
                            <label for="credit_type_1">전체</label>
                        </li>
                        <li>
                            <input id="credit_type_2" type="radio" name="credit_type" value="2"
                                   class="g_btn_white2_radio">
                            <label for="credit_type_2">VIP 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_4" type="radio" name="credit_type" value="4"
                                   class="g_btn_white2_radio">
                            <label for="credit_type_4">플래티넘 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_5" type="radio" name="credit_type" value="5"
                                   class="g_btn_white2_radio">
                            <label for="credit_type_5">골드 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_6" type="radio" name="credit_type" value="6"
                                   class="g_btn_white2_radio">
                            <label for="credit_type_6">실버 이상</label>
                        </li>
                    </ul>
                    <div class="search_tit">기타조건</div>
                    <ul id="etc">
                        <li>
                            <input type="checkbox" name="compen" id="compen" class="g_checkbox check_purple">
                            <label for="compen">200% 보상 물품</label>
                        </li>
                        <li>
                            <input type="checkbox" name="sell_compen" id="sell_compen" class="g_checkbox check_purple">
                            <label for="sell_compen">200% 구매보상</label>
                        </li>
                        <li>
                            <input type="checkbox" name="discont" id="discont" class="g_checkbox check_purple">
                            <label for="discont">구매할인 물품</label>
                        </li>
                        <li>
                            <input type="checkbox" name="excellent" id="excellent" class="g_checkbox check_purple">
                            <label for="excellent">우수인증 물품</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="toggleer"></div>
        </form>
    </div>


    <div class="search_list_all">
        <ul class="search_list list_head">
            <li>
                <div class="col_01">서버종류</div>
                <div class="col_02">물품제목</div>
                <div class="col_03">판매금액</div>
                <div class="col_04">물품정보</div>
                <div class="col_05">등록시간</div>
            </li>
        </ul>
        <ul class="search_list search_list_normal">
            <li id="boardList"></li>

            <li th:each="List:${boarList}">

       <!--         <input type="hidden" th:value="${List.userNum}"/>  &lt;!&ndash;회원 번호&ndash;&gt;
                <input type="hidden" th:value="${List.userName}"/>&lt;!&ndash;회원 아이디&ndash;&gt;
                <input type="hidden" th:value="${List.userRealName}"/>&lt;!&ndash;회원 본명&ndash;&gt;
                <input type="hidden" th:value="${List.userPassword}"/>&lt;!&ndash;회원 비밀번호&ndash;&gt;
                <input type="hidden" th:value="${List.userPhoneNumber}"/> &lt;!&ndash;회원 폰번호&ndash;&gt;-->
             <!--   <input type="hidden" th:value="${List.userEmail}"/>&lt;!&ndash;회원 이메일&ndash;&gt;
                <input type="hidden" th:value="${List.userMileage}"/>&lt;!&ndash;유저마일리지&ndash;&gt;
                <input type="hidden" th:value="${List.userCreditScore}"/>&lt;!&ndash;회원 신용점수&ndash;&gt;
                <input type="hidden" th:value="${List.userIsManager}"/>&lt;!&ndash;회원 구분(0: 유저 1: 관리자)&ndash;&gt;
                <input type="hidden" th:value="${List.itemUnit}"/>&lt;!&ndash;아이템 수량&ndash;&gt;
                <input type="hidden" th:value="${List.itemNum}"/>&lt;!&ndash;아이템 번호&ndash;&gt;
                <input type="hidden" th:value="${List.gameNum}"/>&lt;!&ndash;게임번호&ndash;&gt;
                <input type="hidden" th:value="${List.gameServer}"/>서버명-->
                <input type="hidden" th:value="${List.boardTime}"/><!--게시글 작성시간-->
                <input type="hidden" th:value="${List.boardTitle}"/><!--게시판 제목,물품제목-->
                <input type="hidden" th:value="${List.saleUnit}"/><!--수량-->
                <input type="hidden" th:value="${List.salePrice}"/><!--금액-->
                <input type="hidden" th:value="${List.saleNickName}"/><!--거래하는 본인캐릭터 명-->
                <input type="hidden" th:value="${List.saleAria}"/><!--상세설명-->
                <input type="hidden" th:value="${List.salePhoto}"/><!--판매 스크린샷 최대5장-->
                <input type="hidden" th:value="${List.saleType}"/><!--타입 (일반[value:0] 분할[value:1])-->
                <input type="hidden" th:value="${List.boardTradeStatus}"/><!--거래현황 (진행중 [value:0] 거래완료 [value:1])-->
                <input type="hidden" th:value="${List.salePremium}"/><!--프리미엄서비스 유무-->
                <input type="hidden" th:value="${List.dealEndTime}"/><!--거래완료시간-->
                <input type="hidden" th:value="${List.dealCheck}"/><!--board 판매 구매 구분-->

                <div class="col_01"><a href="javascript:;" th:text="${List.gameServer}"></a>
                </div>
                <div class="col_02 active"><a href="javascript:;" data-same="false">
                    <div class="mulline"><span class="unit" th:text="${'['+List.salePrice+']'}">  </span> <br>
                        <span class="title" th:text="${List.saleAria}"></span>
                    </div>
                </a>
                    <div class="sp_list view_detail"></div>
                </div>
                <div class="col_03">
                    <div class="mulline" th:text="${List.salePrice}"></div>
                </div>
                <div class="col_04"><i class="sp_list icon_good">우수인증</i> <i class="sp_list icon_200">200%보상</i> <i
                        class="sp_list icon_200_buy">200%구매보상</i> <i class="sp_list icon_dc active_icon">할인</i></div>
                <div class="col_05"><span th:text="${#strings.substring(List.boardTime,0,10)}"></span></div>

            </li>
            <!--  <li data-tid="" data-state="a">
                  <div class="col_01"><a href="javascript:;" data-scode="16178" data-sname="" data-search="true">아만</a>
                  </div>
                  <div class="col_02 active"><a href="javascript:;" data-same="false">
                      <div class="mulline"><span class="unit">[3만~4,569만]  </span> <br> <span class="title">█▓▓▓▓▓█ 절대 블럭없습니다 2OO%보상★바로 우편거래 █▓▓▓▓▓█</span>
                      </div>
                  </a>
                      <div class="sp_list view_detail"></div>
                  </div>
                  <div class="col_03">
                      <div class="mulline"> 1만당 7,800원<br> <span>최소 23,400원</span></div>
                  </div>
                  <div class="col_04"><i class="sp_list icon_good">우수인증</i> <i class="sp_list icon_200">200%보상</i> <i
                          class="sp_list icon_200_buy">200%구매보상</i> <i class="sp_list icon_dc active_icon">할인</i></div>
                  <div class="col_05"><span>14:44</span></div>
              </li>-->

        </ul>
        <div class="loading g_hidden"></div>
        <div class="load_more">
            + 50개 더보기
        </div>
    </div>

</div>
<div th:replace="fragment/footer"/>
<!--
           boardList.boardNum //게시판 번호
           boardList.userNum //회원 번호
           boardList.gameNum //게임 번호
           boardList.gameServer //서버명
           boardList.boardTime //게시글 작성 시간
           boardList.boardTitle //게시판 제목, 물품 제목
           boardList.saleUnit //물건 수량
           boardList.salePrice /판매 금액
           boardList.saleNickName //거래하는 본인 캐릭터 명
           boardList.saleAria //게시판 상세 -> 상세설명
           boardList.salePhoto //게시판 상세 -> 판매 스크린샷(최대5장)
           boardList.saleType //판매 물품 수량  타입 (일반[value:0], 분할[value:1])
           boardList.boardTradeStatus //거래 현황  (진행중 [value:0], 거래완료 [value:1])
           boardList.salePremium //프리미엄 서비스 우뮤
           -->