<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/board/boardList.css">

<div th:replace="fragment/header"/>
<!--content_center-> class 입력시 중앙정렬-->
<div class="g_container">
    <div class="spacer_bottom_20"></div>
    <th:block th:if="${#strings.equals(searchType,'sale')}">
        <div class="g_title_blue">
            <div class="g_left">
                <ul class="trade_sub_title">
                    <li>팝니다</li>
                    <li class="game_name">
                        <span th:text="${searchGameServer}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>


    <th:block th:if="${#strings.equals(searchType,'buy')}">
        <div class="g_title_green">
            <div class="g_left">
                <ul class="trade_sub_title">
                    <li>삽니다</li>
                    <li class="game_name">
                        <span th:text="${searchGameServer}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>

    <form id="frm_search" name="frm_search" method="POST" action="/board/boardList">
        <div class="g_tab">
            <div class="side">
                <ul class="search_word">
                    <li>
                        <input type="text" class="g_text" name="titleSearch" value="" placeholder="물품제목"
                               maxlength="12">
                    </li>
                    <li>
                        <span class="sp_list btn_search">검색</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="g_finish"></div>
        <div id="detail_search" class="detail_search">
            <input type="hidden" name="searchGameServer" id="game_code" th:value="${searchGameServer}">
            <input type="hidden" name="deal" th:value="${searchType}">

            <div class="search_box">
                <div class="search_reset">초기화</div>
                <div class="search_row">
                    <div class="search_tit">신용등급</div>
                    <ul id="credit">
                        <li>
                            <input id="credit_type_1" type="radio" name="userCreditScore" value="0"
                                   class="g_btn_white2_radio" th:checked="${userCreditScore == 0?true : false }">
                            <label for="credit_type_1">전체</label>
                        </li>
                        <li>
                            <input id="credit_type_2" type="radio" name="userCreditScore" value="4"
                                   class="g_btn_white2_radio" th:checked="${userCreditScore eq 4}">
                            <label for="credit_type_2">VIP 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_4" type="radio" name="userCreditScore" value="3"
                                   class="g_btn_white2_radio" th:checked="${userCreditScore eq 3}">
                            <label for="credit_type_4">플래티넘 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_5" type="radio" name="userCreditScore" value="2"
                                   class="g_btn_white2_radio" th:checked="${userCreditScore eq 2}">
                            <label for="credit_type_5">골드 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_6" type="radio" name="userCreditScore" value="1"
                                   class="g_btn_white2_radio" th:checked="${userCreditScore eq 1}">
                            <label for="credit_type_6">실버 이상</label>
                        </li>
                    </ul>
                    <div class="search_tit">거래상태</div>
                    <ul id="state">
                        <li>
                            <input id="trade_state_2" type="radio" name="boardTradeStatus" value="false"
                                   class="g_btn_white2_radio" th:checked="${boardTradeStatus == false}">
                            <label for="trade_state_2">거래대기</label>
                        </li>
                        <li>
                            <input id="trade_state_3" type="radio" name="boardTradeStatus" value="true"
                                   class="g_btn_white2_radio" th:checked="${boardTradeStatus eq true}">
                            <label for="trade_state_3">거래종료</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="g_subtitle">
            <div class="g_left">프리미엄</div>
        </div>
    </form>

    <div class="search_list_all">
        <ul class="search_list search_list_premium">
            <li th:each="P_List:${boarPList}">
                <div class="col_01">
                    <span th:text="${P_List.game_server_name}"></span>
                </div>
                <div class="col_02 active">
                    <a th:href="@{/board/view(boardNum=${P_List.board_num},deal=${P_List.deal_check})}">
                        <div class="mulline">
                            <span class="title title_blue" th:text="${P_List.board_title}"></span>
                        </div>
                    </a>
                </div>
                <div class="col_03">
                    <div class="mulline" th:text="${P_List.sale_price}"></div>
                </div>
                <div class="col_04"><i class="sp_list icon_good">우수인증</i> <i class="sp_list icon_200">200%보상</i> <i
                        class="sp_list icon_200_buy">200%구매보상</i> <i class="sp_list icon_dc active_icon">할인</i>
                </div>
                <div class="col_05"><span th:text="${#strings.substring(P_List.board_time,0,10)}"></span></div>
            </li>
        </ul>
        <div class="loading g_hidden"></div>
    </div>
    <div class="g_subtitle">
        <div class="g_left">물품리스트<a name="list_top"></a>
        </div>
    </div>
    <div class="search_list_all">
        <ul class="search_list list_head">
            <li>
                <div class="col_01">서버종류</div>
                <div class="col_02">물품제목</div>
                <div class="col_03">판매금액</div>
                <div class="col_04">물품정보</div>
                <div class="col_05">등록시간</div>
            </li>
        </ul>
        <ul id="demo" class="search_list search_list_normal">
            <li th:each="List:${boarList}">

                <div class="col_01"><span th:text="${List.game_server_name}"></span></div>
                <div class="col_02 active">
                    <a th:href="@{/board/view(boardNum=${List.board_num},deal=${List.deal_check})}">
                        <div class="mulline">
                            <span class="title" th:text="${List.board_title}"></span>
                        </div>
                    </a>
                    <div class="sp_list view_detail"></div>
                </div>
                <div class="col_03">
                    <div class="mulline" th:text="${List.sale_price}"></div>
                </div>
                <div class="col_04"><i class="sp_list icon_good">우수인증</i> <i class="sp_list icon_200">200%보상</i> <i
                        class="sp_list icon_200_buy">200%구매보상</i> <i class="sp_list icon_dc">할인</i></div>
                <div class="col_05"><span th:text="${#strings.substring(List.board_time,0,10)}"></span></div>
            </li>
        </ul>
    </div>

    <div class="load_more" id="boardListPaging">
        + 5개 더보기 (변경예정)
    </div>

</div>

<div th:replace="fragment/footer"/>
</html>


<script>
    $(document).ready(() => {
        let pageNum = 1

        console.log('준비완료');


        // 라디오버튼, 체크박스 검색
        $('.search_box input[type="radio"]').on('click', function () {
            $('#frm_search').submit();
        });
        // 검색 버튼 클릭시 form태그 실행
        $('.btn_search').click(function () {
            $("form").submit();
        })

        // 클릭시 리스트 추가 페이징처리
        $('#boardListPaging').on('click', function () {

            // 게임서버
            const searchGameServer = '[[${searchGameServer}]]';
            // 거래타입
            const searchType = '[[${searchType}]]';
            // 게시글 등록자의 신용점수
            const userCreditScore = '[[${userCreditScore}]]';
            // 거래상태표시
            const boardTradeStatus = '[[${boardTradeStatus}]]';


            $.ajax({
                url: '/board/boardListAjax',
                type: 'get',
                contentType: 'text',
                data: {
                    searchGameServer: searchGameServer,
                    deal: searchType,
                    boardTradeStatus: boardTradeStatus,
                    userCreditScore: userCreditScore,
                    p: pageNum++
                }
            }).done(function (data) {
                console.log("결과확인")
                console.log(data)

                if (data == "") {
                    alert("마지막 페이지 입니다")
                }
                let listHtml = "";

                $.each(data, function (index, el) {

                    listHtml += '<li>' +
                        '               <div class="col_01">' + el.game_server_name + '</div>';

                    listHtml += '       <div class="col_02 active">';
                    listHtml += '	        <a href="/board/view?boardNum=' + el.board_num + '&deal=' + el.deal_check + '">';
                    listHtml += '	            <div class="mulline">';
                    listHtml += '	    	        <span class="title">' + el.board_title + '</span>';
                    listHtml += '               </div>'
                    listHtml += '	        </a>';
                    listHtml += '       </div>'
                    listHtml += '        <div class="col_03">'
                    listHtml += '            <div class="mulline">' + el.sale_price + '</div>'
                    listHtml += '        </div>'
                    listHtml += '<div class="col_04"><i class="sp_list icon_good">우수인증</i> <i class="sp_list icon_200">200%보상</i> <i class="sp_list icon_200_buy">200%구매보상</i> <i class="sp_list icon_dc">할인</i></div>\n' +
                        '                <div class="col_05"><span>Sun Feb 02</span></div>'
                    listHtml += '</div>'
                    listHtml += '</li>'
                })

                $("#demo").append(listHtml)


            }).fail(function (xhr, status, errorThrown) {
                $("#demo").html("오류가 발생했습니다.<br>")
                    .append("오류명: " + +errorThrown + "<br>")
                    .append("상태: " + status);
            })
        })
    })


</script>
