<link type="text/css" rel="stylesheet" href="/css/board/boardList.css">

<div th:replace="fragment/header" xmlns:th="http://www.thymeleaf.org"/>
<!--content_center-> class 입력시 중앙정렬-->
<div class="g_container">
    <div class="spacer_bottom_20"></div>
    <div class="g_title_blue">
        <div class="g_left">
            <ul class="trade_sub_title">
                <li>팝니다</li>
                <li class="game_name">
                    <span>로스트아크_서버전체</span>
                </li>
            </ul>
        </div>
        <div class="g_right">
            <a href="/sell/" class="btn_reg">판매등록 +</a>
        </div>
    </div>
    <div class="g_tab">
        <div class="" value="money">게임머니</div>
        <div class="" value="item">아이템</div>
        <div class="" value="etc">기타</div>
        <div class="side">
            <ul class="search_word">
                <li>
                    <input type="text" class="g_text" name="word" id="word" value="" placeholder="물품제목"
                           maxlength="7">
                </li>
                <li>
                    <span class="sp_list btn_search">검색</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="g_finish"></div>
    <div id="detail_search" class="detail_search">
        <form id="frm_search" name="frm_search" method="POST">
            <input type="hidden" name="game_code" id="game_code" value="2696">
            <input type="hidden" name="server_code" id="server_code" value="">
            <input type="hidden" name="search_game" id="search_game" value="2696">
            <input type="hidden" name="search_server" id="search_server" value="">
            <input type="hidden" name="search_game_text" id="search_game_text" value="로스트아크">
            <input type="hidden" name="search_server_text" id="search_server_text" value="">
            <input type="hidden" name="search_goods" id="search_goods" value="all">
            <input type="hidden" name="search_word" id="search_word" value="">
            <input type="hidden" name="search_type" id="search_type" value="sell">
            <input type="hidden" name="money_listOrder" id="money_listOrder" value="">
            <input type="hidden" name="good_listOrder" id="good_listOrder" value="">
            <input type="hidden" name="srch_item_depth1" id="srch_item_depth1" value="">
            <input type="hidden" name="srch_item_depth2" id="srch_item_depth2" value="">
            <input type="hidden" name="srch_item_depth3" id="srch_item_depth3" value="">
            <input type="hidden" name="srch_item_depth4" id="srch_item_depth4" value="">
            <input type="hidden" name="order" id="order" value="2">
            <input type="hidden" name="srch_char_alarm" id="srch_char_alarm" value="">
            <input type="hidden" name="overlap" id="overlap" value="">

            <div class="search_box">
                <div class="search_reset">초기화</div>
                <div class="search_row">
                    <div class="search_tit">물품유형</div>
                    <ul id="goods">
                        <li>
                            <input id="goods_type_1" type="radio" name="goods_type" value="1"
                                   class="g_btn_white2_radio"
                                   checked="">
                            <label for="goods_type_1">전체</label>
                        </li>
                        <li>
                            <input id="goods_type_2" type="radio" name="goods_type" value="2"
                                   class="g_btn_white2_radio">
                            <label for="goods_type_2">일반</label>
                        </li>

                        <li>
                            <input id="goods_type_3" type="radio" name="goods_type" value="3"
                                   class="g_btn_white2_radio">
                            <label for="goods_type_3">분할</label>
                        </li>

                        <li>
                            <input id="goods_type_4" type="radio" name="goods_type" value="4"
                                   class="g_btn_white2_radio">
                            <label for="goods_type_4">흥정</label>
                        </li>
                    </ul>
                    <div class="search_tit">거래상태</div>
                    <ul id="state">
                        <li>
                            <input id="trade_state_1" type="radio" name="trade_state" value="1"
                                   class="g_btn_white2_radio" checked="">
                            <label for="trade_state_1">전체</label>
                        </li>
                        <li>
                            <input id="trade_state_2" type="radio" name="trade_state" value="2"
                                   class="g_btn_white2_radio">
                            <label for="trade_state_2">거래대기</label>
                        </li>
                        <li>
                            <input id="trade_state_3" type="radio" name="trade_state" value="3"
                                   class="g_btn_white2_radio">
                            <label for="trade_state_3">거래종료</label>
                        </li>
                    </ul>
                </div>
                <div class="search_row">
                    <div class="search_tit">신용등급</div>
                    <ul id="credit">
                        <li>
                            <input id="credit_type_1" type="radio" name="credit_type" value="1"
                                   class="g_btn_white2_radio" checked="">
                            <label for="credit_type_1">전체</label>
                        </li>
                        <li>
                            <input id="credit_type_2" type="radio" name="credit_type" value="2"
                                   class="g_btn_white2_radio">
                            <label for="credit_type_2">VIP 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_4" type="radio" name="credit_type" value="4"
                                   class="g_btn_white2_radio">
                            <label for="credit_type_4">플래티넘 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_5" type="radio" name="credit_type" value="5"
                                   class="g_btn_white2_radio">
                            <label for="credit_type_5">골드 이상</label>
                        </li>
                        <li>
                            <input id="credit_type_6" type="radio" name="credit_type" value="6"
                                   class="g_btn_white2_radio">
                            <label for="credit_type_6">실버 이상</label>
                        </li>
                    </ul>
                    <div class="search_tit">기타조건</div>
                    <ul id="etc">
                        <li>
                            <input type="checkbox" name="compen" id="compen" class="g_checkbox check_purple">
                            <label for="compen">200% 보상 물품</label>
                        </li>
                        <li>
                            <input type="checkbox" name="sell_compen" id="sell_compen"
                                   class="g_checkbox check_purple">
                            <label for="sell_compen">200% 구매보상</label>
                        </li>
                        <li>
                            <input type="checkbox" name="discont" id="discont" class="g_checkbox check_purple">
                            <label for="discont">구매할인 물품</label>
                        </li>
                        <li>
                            <input type="checkbox" name="excellent" id="excellent" class="g_checkbox check_purple">
                            <label for="excellent">우수인증 물품</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="toggleer"></div>
        </form>
    </div>
    <div class="g_subtitle">
        <div class="g_left">프리미엄</div>
        <div class="g_right">
            <a href="javascript:_window.open('premium_guide','/sell/premium_guide.html',628, 630);"
               class="premium_info">프리미엄 등록안내</a>
        </div>
    </div>

    <div class="search_list_all">
        <ul class="search_list search_list_premium">

            <li th:each="P_List:${boarPList}" data-tid="2023011707392798" data-state="a">
                <div class="col_01"><a href="javascript:;" data-scode="16179" data-sname="카마인"
                                       data-search="true" th:text="${P_List.serverNum.gameServerName}"></a></div>
                <div class="col_02 active"><a href="javascript:;" data-same="false">
                    <div class="mulline">
                        <span class="title title_blue" th:text="${P_List.boardTitle}"></span>
                    </div>
                </a>
                    <div class="sp_list view_detail"></div>
                </div>
                <div class="col_03">
                    <div class="mulline" th:text="${P_List.salePrice}"></div>
                </div>
                <div class="col_04"><i class="sp_list icon_good">우수인증</i> <i class="sp_list icon_200">200%보상</i> <i
                        class="sp_list icon_200_buy">200%구매보상</i> <i class="sp_list icon_dc active_icon">할인</i>
                </div>
                <div class="col_05"><span th:text="${#strings.substring(P_List.boardTime,0,10)}"></span></div>
            </li>
        </ul>
        <div class="loading g_hidden"></div>
    </div>
    <div class="g_subtitle">
        <div class="g_left">물품리스트<a name="list_top"></a>
            <ul class="opt_list" id="opt_list">
                <li data-type="1" class="active">전체</li>
                <li data-type="2">일반</li>
                <li data-type="3">분할</li>
                <li data-type="4">흥정</li>
            </ul>
        </div>
    </div>
    <div class="search_list_all">
        <ul class="search_list list_head">
            <li>
                <div class="col_01">서버종류</div>
                <div class="col_02">물품제목</div>
                <div class="col_03">판매금액</div>
                <div class="col_04">물품정보</div>
                <div class="col_05">등록시간</div>
            </li>
        </ul>
        <ul class="search_list search_list_normal">
            <li th:each="List:${boarList}" data-tid="2023011707336513" data-state="a">

                <div class="col_01"><a href="javascript:;" data-scode="18182" data-sname="니나브"
                                       data-search="true" th:text="${List.salePrice}"></a></div>
                <div class="col_02 active">
                    <a th:href="@{/view_buy(
                    boardNum=${List.boardNum},
                    gameNum=${List.gameNum.gameNum.gameName},
                    boardTitle=${List.boardTitle},
                    serverNum=${List.serverNum.gameServerName},
                    boardTime=${List.boardTime},
                    boardTradeStatus=${List.boardTradeStatus},
                    saleType=${List.saleType},
                    saleUnit=${List.saleUnit},
                    salePrice=${List.salePrice},
                    saleNickName=${List.saleNickName},
                    saleAria=${List.saleAria},
                    salePhoto=${List.salePhoto},
                    salePremium=${List.salePremium},
                    dealEndTime=${List.dealEndTime},
                    dealCheck=${List.dealCheck},
                    userNum=${List.userNum.userNum},
                    itemNum=${List.userNum.itemNum.itemNum},
                    itemUnit=${List.userNum.itemUnit},
                    userRealName=${List.userNum.userRealName},
                    userName=${List.userNum.userName},
                    userPhoneNum=${List.userNum.userPhoneNumber},
                    userEmail=${List.userNum.userEmail},
                    userCreditScore=${List.userNum.userCreditScore},
                    userMaileage=${List.userNum.userMileage},
                    userIsManager=${List.userNum.userIsManager})}
                   ">
                        <div class="mulline">
                            <span class="title" th:text="${List.boardTitle}"></span>
                        </div>
                    </a>
                    <div class="sp_list view_detail"></div>
                </div>
                <div class="col_03">
                    <div class="mulline" th:text="${List.salePrice}"></div>
                </div>
                <div class="col_04"><i class="sp_list icon_good">우수인증</i> <i class="sp_list icon_200">200%보상</i> <i
                        class="sp_list icon_200_buy">200%구매보상</i> <i class="sp_list icon_dc">할인</i></div>
                <div class="col_05"><span th:text="${#strings.substring(List.boardTime,0,10)}"></span></div>
            </li>
        </ul>
    </div>
    <div class="loading g_hidden"></div>
    <div class="load_more">
        + 50개 더보기
    </div>
</div>

</div>
<div th:replace="fragment/footer"/>
