<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../../image/favicon/hb.ico">
</head>

<body>

<div th:replace="fragment/header"/>

<link type="text/css" rel="stylesheet" href="/css/board/insertSale.css">


<div class="g_body" id="g_BODY">

  <div class="g_container" id="g_CONTENT">

    <div class="aside">
      <div class="title_blue">알아두기</div>
      <div class="menu_know">
        <p>판매물품 쉽게 등록하기</p>
        <img src="http://img2.itemmania.com/new_images/sell/sell_left_know.gif" width="192" height="224" alt="팝니다 쉽게 등록하기">
        <p>판매물품 등록 시 알아둘 점</p>
        <ul class="g_list">
          <li>등록자는 등록한 물품의 문제 발생 시 민/형사상의 모든 책임을 질 것에 동의하는 것으로 간주됩니다.</li>
          <li>현재 연락처로 꼭 수정해주세요.<br>연락처가 불분명 시 거래에 불이익을 받으실 수 있습니다.
          </li>
          <li>[나만의 검색메뉴]를 이용하시면 간편하게 물품등록을 할 수 있습니다.</li>
        </ul>
      </div><!--//.menu_know-->
    </div><!--//.aside-->

    <div class="g_content">
      <div class="g_title_blue">
        팝니다
        <span>등록</span>
        <ul class="g_path">
          <li>홈</li>
          <li class="select">판매등록</li>
        </ul>
      </div>

        <div class="g_subtitle first">물품정보</div>
        <table class="g_blue_table" id="reg_table">
          <colgroup>
            <col width="160">
            <col>
          </colgroup>
          <tr>
            <th>카테고리</th>
            <td>
              <div class="g_search_wrapper">
                <div class="search_wrap">
                  <div class="input_area">
                    <input type="text" class="g_text search_gs_name" id="searchRegGameServer" placeholder="게임명 또는 서버명을 입력해주세요." autocomplete="off" data-gameserver="true">
                  </div>
                  <a href="javascript:;" onclick="clearTextBox()" class="delete_btn"></a>
                  <button type="button" class="g_search_list" title="검색">
                    <span class="icon_search"></span>
                  </button>
                </div>
                <div class="g_search_frame g_hidden reg_gameserver" id="reg_gameserver">
                  <div class="gs_list g_hidden" data-gslist="true" id="reg_gameserver_list">
                    <div class="game" id="game_list">
                      <ul>
                        <th:block th:each="game:${searchGame}">
                          <li th:value="${game.gameNum}" th:text="${game.gameName}"></li>
                        </th:block>
                      </ul>
                    </div>
                    <div class="server" id="server_list">
                      <ul>
                        <th:block th:each="server:${searchServer}">
                          <li th:value="${server.gameNum.gameNum}" th:text="${server.gameServerName}"></li>
                        </th:block>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>판매유형</th>
            <td>
              <label><input type="radio" name="user_goods_type" class="g_radio first_radio" value="general" checked>일반</label>
              <label id="division"><input type="radio" name="user_goods_type" class="g_radio" value="division">분할</label>
            </td>
          </tr>
          <tbody id="d_template">
              <tr class="normal_sale">
                <th>판매수량</th>
                <td>
                  <div class="unit_type" id="unit_type">
                    <label><input type="radio" name="gamemoney_unit" class="g_radio" value="1" checked>없음</label>
                    <label><input type="radio" name="gamemoney_unit" class="g_radio" value="만">만</label>
                    <label><input type="radio" name="gamemoney_unit" class="g_radio" value="억">억</label>
                    <label class="f_blue1 f_small">(단위)</label>
                  </div>
                  <div id="game_money">
                    <input type="text" name="user_quantity" id="user_quantity" maxlength="7" class="g_text f_right">
                    <span class="unit"></span> 게임머니
                    <span class="g_txtbtn first_btn" id="plus10" value="10" onclick="increasesaleUnit(10)">+10</span>
                    <span class="g_txtbtn" id="plus50" value="50" onclick="increasesaleUnit(50)">+50</span>
                    <span class="g_txtbtn" id="plus100" value="100" onclick="increasesaleUnit(100)">+100</span>
                    <span class="g_txtbtn" id="plus500" value="500" onclick="increasesaleUnit(500)">+500</span>
                    <span class="g_txtbtn" id="plus1000" value="1000" onclick="increasesaleUnit(1000)">+1000</span>
                    <span class="g_txtbtn" id="initial" value="0" onclick="increasesaleUnit(0)">초기화</span>
                  </div>
                </td>
              </tr>
              <tr class="normal_sale">
                <th>판매금액</th>
                <td>
                  <input type="text" name="user_price" id="user_price" maxlength="10" class="g_text f_right"> 원 (3,000원 이상, 10원 단위 등록 가능)
                  <div id="coms_area" class="coms_area">수수료 5% :
                    <span class="f_red1" id="commission_price">0</span>원 | 실 수령액 :
                    <span class="f_red1" id="receive_price">0</span>원
                  </div>
                </td>
              </tr>

              <tr class="split_sale">
                <th>판매수량</th>
                <td>
                  <div class="unit_type" id="unit_type">
                    <label><input type="radio" name="gamemoney_unit" class="g_radio" value="1" checked>없음</label>
                    <label><input type="radio" name="gamemoney_unit" class="g_radio" value="만">만</label>
                    <label><input type="radio" name="gamemoney_unit" class="g_radio" value="억">억</label>
                    <label class="f_blue1 f_small">(단위)</label>
                  </div>
                  <div id="game_money">
                    최소
                    <input type="text" name="user_quantity_min" id="user_quantity_min" maxlength="7" class="g_text f_right">
                    <span class="unit"></span> 게임머니 ~
                    최대
                    <input type="text" name="user_quantity_max" id="user_quantity_max" maxlength="7" class="g_text f_right">
                    <span class="unit"></span> 게임머니
                  </div>
                </td>
              </tr>

              <tr class="split_sale">
                <th>판매금액</th>
                <td>
                  <input type="text" name="user_division_unit" id="user_division_unit" maxlength="7" class="g_text f_right" size="18">
                  <span class="unit"></span> 게임머니 당
                  <input type="text" name="user_division_price" id="user_division_price" maxlength="10" class="g_text f_right" size="18"> 원에 판매합니다.
                  <span class="f_small f_black1">(100원 이상, 10원 단위 등록 가능)</span>
                  <div class="discount">
                    <label><input type="checkbox" class="g_checkbox" name="discount_use" id="discount_use" value="1" onclick="fnRevenDiscount();">복수구매 할인적용</label>
                    <div id="reven_discount">
                      <input type="text" class="g_text" name="discount_quantity" id="discount_quantity" maxlength="10" disabled="" readonly="" onfocus="$(this).blur();"><span class="unit"></span> x
                      <input type="text" class="g_text discount_quantity_cnt" name="discount_quantity_cnt" id="discount_quantity_cnt" maxlength="10" disabled="">번 구매시
                      <input type="text" class="g_text discount_price" name="discount_price" id="discount_price" maxlength="10" disabled="">원 할인
                    </div>
                    <a href="javascript:;" class="guide_txt" id="discount_guide">복수구매할인이란?</a>
                    <div class="g_msgbox blue" id="discount_layer">
                      <div class="title">복수 구매할인이란?</div>
                      <div class="cont">
                        구매자가 분할물품에 구매신청을 할 때, 판매자가 정해놓은 일정 구매수량 조건을<br>
                        충족할 경우 구매자에게 거래금액을 할인해주는 거래 방식입니다.<br>
                        복수구매할인 적용 시 물품리스트 제목에 할인마크가 부여되며 묶음당 할인금액은<br>
                        판매자의 거래금액에서 차감됩니다.<br>
                        복수구매 할인에 대한 자세한 사항은 홈페이지 &gt; 이용안내를 참고해 주시기 바랍니다.
                      </div>
                      <div class="btn">
                        <a href="/guide/div_trade/index.html?file=02" class="btn_blue4">복수구매할인 이용안내 &gt;</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
            <th>캐릭터명</th>
            <td>
              <div class="g_left">
                <input type="text" class="g_text mode-active" name="user_character" maxlength="30" id="user_character"> 물품을 전달 하실 본인의 캐릭터명
                <span id="sub_text" class="f_red1"></span>
              </div>
              <p class="character_noti">* 본인이 사용하는 서버/캐릭터명 미 선택 및 미 기재 시 문제가 발생될 수 있으며, 거래신청자에게 책임이 있습니다.</p>
            </td>
          </tr>
          <tr id="screenshot">
            <th>스크린샷</th>
            <td>
              <div class="screen_guide2">
                파일 당 1MB 용량 이하의 jpg, png 확장자로 최대 10개  업로드 가능합니다.1
                <a href="javascript:_window.open('screenshot', './guide/screenshot.html', 718, 900);" class="guide_txt">등록가이드</a>
              </div>
              <div class="screenshot_wrap">
                <input type="file" name="user_screen[]" class="g_file">
              </div>
              <div class="g_msgbox blue illegal_filming" id="illegal_filming">
                <div class="title">스크린샷 첨부시 주의사항 안내 !!</div>
                <div class="cont f_blue1">
                  정보통신망에서 불법촬영물등을 유통할 경우<br>
                  「전기통신사업법」 제22조의 5 제1항에 따른<br>
                  삭제·접속차단 등 유통방지에 필요한 조치가 취해지며<br>
                  「성폭력처벌법」 제14조 「청소년보호법」 제11조에<br>
                  따라 형사처벌을 받을 수 있습니다.
                </div>
                <div class="btn">
                  <div class="g_left">
                    <input type="checkbox" id="illegal_filming_inptDeny" class="g_checkbox">
                    <label for="illegal_filming_inptDeny">오늘 하루 열지 않기</label>
                  </div>
                  <div class="g_right">
                    <a href="javascript:;" class="illegal_filming_close">닫기</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
          <tr>
            <th>물품제목</th>
            <td>
              <input type="text" class="g_text w100" name="user_title" id="user_title" maxlength="40" value="게임머니 팝니다.">
            </td>
          </tr>
          <tr>
            <th>상세설명</th>
            <td>
              <div class="item_detail_opts">
                <label><input type="radio" class="g_radio" name="text_select" value="0" checked>기본문구</label>
                <label><input type="radio" class="g_radio" name="text_select" value="1">직접입력</label>
              </div>
              <textarea id="user_text" name="user_text" class="txtarea w100" placeholder="휴대폰번호, 메신저(카톡) ID 및 거래와 무관한 내용 기재 시 물품은 삭제되며, 서비스 이용에 제재를 받게 됩니다." readonly>게임머니 팝니다.</textarea>
            </td>
          </tr>
        </table>
        <div class="g_subtitle">
          유료등록 서비스
          <div>
            <span class="f_small">등록하려는 물품 제목을 강조하거나, 물품리스트 상단에 노출 및 자동으로 등록된 물품을 재등록할 수 있는 서비스입니다.</span>
            <div class="btn_area">
            </div>
          </div>
        </div>
        <div id="dv_power" class="dv_power g_hidden"></div>

        <div class="charge_service">
          <dl>
            <dt>프리미엄등록</dt>
            <dd>
              <div class="charge_price">(이용료 :
                <strong> 100원 </strong> / 1시간)
              </div>
              <select id="user_premium_time" name="user_premium_time" onchange="calculateMileage()">
                <option value="">미설정</option>
                <option value="1">1시간</option><option value="2">2시간</option><option value="3">3시간</option><option value="4">4시간</option><option value="5">5시간</option><option value="6">6시간</option><option value="7">7시간</option><option value="8">8시간</option><option value="9">9시간</option><option value="10">10시간</option><option value="11">11시간</option><option value="12">12시간</option><option value="13">13시간</option><option value="14">14시간</option><option value="15">15시간</option><option value="16">16시간</option><option value="17">17시간</option><option value="18">18시간</option><option value="19">19시간</option><option value="20">20시간</option><option value="21">21시간</option><option value="22">22시간</option><option value="23">23시간</option><option value="24">24시간</option>                        </select>
              <div class="sub_txt">
                프리미엄 잔여시간이 많을수록<br>물품리스트 상단에 노출됩니다.
              </div>
              <div th:insert="/fragment/chargeModal"/>
            </dd>
          </dl>
          <div class="total_charge">
            <strong class="total_label">총 결제금액 : </strong>
            <strong class="total_charge_money f_red1" id="total_charge_money">0원</strong>
            <div>
              (내 사용가능한 마일리지 :
              <strong id="txtCurrentMileage" class="f_red1">0원</strong>)
            </div>
          </div>
        </div>

        <div class="g_subtitle">내 거래정보</div>
        <table class="g_blue_table private_area">
          <colgroup>
            <col width="160">
            <col/>
          </colgroup>
          <tr>
            <th>이름</th>
            <td th:text="${userInfo.userRealName}"></td>
          </tr>
          <tr>
            <th>연락처</th>
            <td >
              <span id="spnUserCell" th:text="${userInfo.userPhoneNumber}"></span>
              <a href="javascript:_window.open('private_edit', '/user/contact_edit.html?check=true', 496, 350);" class="btn_white1 after">연락처 수정</a>
            </td>
          </tr>
        </table>
      <div class="g_btn_wrap">
        <button type="submit" href="javascript:;" class="sell_reg" id="ok_btn" onclick="writePost()">판매 등록</button>
        <a href="/index.html" class="cancel_reg">등록 취소</a>
      </div>
      </form>
    </div>
    <div id="dvPremium" class="g_layer premium_info">
      <div class="inner">
        <div class="pre_title">프리미엄 등록안내</div>
        <div class="f_blue3 middle_text">프리미엄 물품 등록을 하시면 물품 리스트 상단에 판매 물품 노출이 가능합니다.<br/>빠른 거래를 원하신다면 프리미엄 등록서비스를 이용하시기 바랍니다.
        </div>
        <div class="f_blue3 mile_area">(내 사용가능한 마일리지 :
          <span id="pop_txtCurrentMileage" class="f_org1">0</span> 원)
        </div>
        <div class="dvpremium">
          <div class="g_left">
            <strong class="service_title">프리미엄 등록</strong>
            <select id="pop_user_premium_time" name="pop_user_premium_time" onchange="fnpremiumSelect($(this), $(this).val());">
              <option value="">미설정</option>
              <option value="1">1시간</option>
              <option value="2">2시간</option>
              <option value="3">3시간</option>
              <option value="4">4시간</option>
              <option value="5">5시간</option>
              <option value="6">6시간</option>
              <option value="7">7시간</option>
              <option value="8">8시간</option>
              <option value="9">9시간</option>
              <option value="10">10시간</option>
              <option value="11">11시간</option>
              <option value="12">12시간</option>
              <option value="13">13시간</option>
              <option value="14">14시간</option>
              <option value="15">15시간</option>
              <option value="16">16시간</option>
              <option value="17">17시간</option>
              <option value="18">18시간</option>
              <option value="19">19시간</option>
              <option value="20">20시간</option>
              <option value="21">21시간</option>
              <option value="22">22시간</option>
              <option value="23">23시간</option>
              <option value="24">24시간</option>
            </select>
            이용료<strong class="f_black3"> 100원 </strong> / 1시간
          </div>
          <div class="g_right">
            <a href="javascript:;_window.open('FREE_REMAINDER_LIST','/myroom/coupon/free_remainder_list.html?free_use_item=premium',440,450)" class="btn_blue3">프리미엄 무료이용권 보기</a>
          </div>
          <div class="g_clear">※ 프리미엄 잔여시간이 많을수록 물품리스트 상단에 노출됩니다.</div>
        </div>
        <div class="noti_txt">
          * 유료등록 서비스는 선불로 부과되며 거래성사여부, 취소여부, 삭제여부, 이용정지여부 등과<br>
          관계 없이 환불, 취소, 교환, 반환 등이 되지 않으니 신중하게 구매해 주시기 바랍니다.
        </div>
        <div class="g_btn_wrap">
          <a href="javascript:;" id="premium_btn"><img src="http://img4.itemmania.com/new_images/btn/pop_btn_ok.gif" width="63" height="35" alt="확인"></a>
        </div>
      </div>
    </div>
    <div id="dvPopup" class="g_layer reg_info">
      <div class="inner">
        <div class="title">
          물품등록정보
          <a href="javascript:;" class="close_w"></a>
        </div>
        <div class="cont">
        </div>
      </div>
    </div>
    <div class="g_finish"></div>
  </div>
</div>
  <div th:replace="fragment/footer"></div>
<script th:inline="javascript">
  function writePost()
  {
    const BoardSaleInsertRequest =
            {
              boardTitle:$("#user_title").val(),
              userNum:[[${userInfo}]].userNum,
              saleUnit:$("#user_quantity").val(),
              salePrice:$("#user_price").val(),
              serverName:$("#searchRegGameServer").val(),
              saleNickName:$("#user_character").val(),
              saleAria:$("#user_text").val(),
              salePremium:false
            }

    console.log(BoardSaleInsertRequest)

    $.ajax(
            {
              url:'/board/buy/insert',
              type:'post',
              data:JSON.stringify(BoardSaleInsertRequest),
              dataType:'JSON',
              contentType:'application/json',
              success:function (data)
              {
                alert("글 등록에 성공했다")
                console.log(data)
                window.location.replace("/");
              },
              fail:function (failed)
              {
                console.log("글 작성 실패")
                console.log(failed)
              },
              error:function (err)
              {
                console.log("에러 발생")
                console.log(err)
              }
            })
  }
</script>
<script>
  function increasesaleUnit(unit)
  {
    let gamemoney = Number($("#user_quantity").val());

    $("#user_quantity").val(gamemoney + Number(unit));

    if(unit == 0)
      $("#user_quantity").val("");
  }
</script>
<script th:inline="javascript">
  function calculateMileage()
  {
    $("#total_charge_money").text($("#user_premium_time").val() * 100)

    if(0 <= $("#total_charge_money").text())
      $('#showModalBtn').show();

    else
      $('#showModalBtn').hide();
  }
</script>
<script>
  $("#reg_gameserver_list").hide();
  $(document).ready(function () {

    $(".split_sale").hide();

    // 게임, 서버리스트 클릭시  g_search_frame가 사라지지 않게 해야함
    $(function (){
      $("#searchRegGameServer ").click(function () {
        /*검색바 클릭시 게임,서버리스트 표시*/
        $("#reg_gameserver_list").show();
      })
      $("#search_wrap").mouseleave(function ()
      {
        /*검색바 제외 클릭시 게임,서버리스트 숨김*/
        $("#reg_gameserver_list").hide();
      })
    })

    $("input[name='text_select']").change(function ()
    {
      if($("input[name='text_select']:checked").val() == 0)
        $('#user_text').attr("readonly", true);

      else
        $('#user_text').attr("readonly", false);
    })

    $("input[name='user_goods_type']").change(function ()
    {
      if($("input[name='user_goods_type']:checked").val() == "general")
      {
        $(".normal_sale").show();
        $(".split_sale").hide();
      }

      else
      {
        $(".normal_sale").hide();
        $(".split_sale").show();
      }
    })
  })

  $("#game_list>ul>li,#server_list>ul>li").click(function () {
    $("#searchRegGameServer").val($(this).text());
    console.log("클릭" + $(this).text());
    $("#reg_gameserver_list").hide();
  })

  function searchbarSubmit() {
    /*검색 전 예외처리*/
    //form태그 아이디 받기
    var formId = document.getElementById("g_searchbar_form");

    // 받은 formId에 속해있는  value추출
    var st = formId.querySelector('[name="deal"]:checked').value;
    var sGameServer = formId.querySelector('[name="searchGameServer"]').value;
    console.log("form 태그 이동" + st + "&" + sGameServer)
    console.log(st + "-" + sGameServer.trim());

    if (sGameServer.trim() == '') {
      alert("데이터를 입력해주세요")
      return false

      for (const sGameServerKey in sGameServer) {

      }
    }
    //검색시 링크에 deal=sale   deal=buy 값 파라미터로 넣어서 보내줘야함
  }
</script>
<script>
  function clearTextBox()
  {
    $("#searchRegGameServer").val("");
  }
</script>
</body>
</html>