<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragment/header"/>
    <div class="g_container" id="g_CONTENT">
        <input type="hidden" id="screenshot_info" value="TiUzQg==">

        <!--  aside  -->
        <div class="aside">
            <div class="title_blue">안전거래수칙</div>
            <div class="menu_know">
                <p>주의사항</p>
                <dl class="g_list">
                    <dt>구매 신청 시</dt>
                    <dd>구매할 물품 수량 확인</dd>
                    <dd>구매할 물품 내용 확인</dd>
                    <dd>구매할 물품 가격 확인</dd>
                    <dt>거래 진행 시</dt>
                    <dd>입금 확인 후 판매자 연락처 확인</dd>
                    <dd>등록된 연락처로만 통화하기</dd>
                    <dd>예약거래 절대 하지 않기</dd>
                    <dd>받은 물품 되돌려주지 않기</dd>
                </dl>
            </div>
        </div><!--//.aside-->

        <!--  main  -->
        <div class="g_content">
            <div class="g_title_blue">
                팝니다
                <ul class="g_path">
                    <li>홈</li>
                    <li class="select">팝니다</li>
                </ul>
            </div>

            <form name="frmSell" id="frmSell">
                <div class="g_subtitle">물품정보</div>
                <table class="g_blue_table">
                    <colgroup>
                        <col width="160">
                        <col width="250">
                        <col width="160">
                        <col/>
                    </colgroup>
                    <tr>
                        <th>카테고리</th>
                        <td colspan="3">
                            <span th:text="${boardView.serverNum.gameNum.gameName}"/> &gt; <span th:text="${boardView.serverNum.gameServerName}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>물품제목</th>
                        <td colspan="3" th:text="${boardView.boardTitle}">
                            <!-- 퀵 아이콘 -->
                            <!--<span class="quick_icon"><img src="http://img2.itemmania.com/new_images/sell/btn_quick.gif" alt="빠른거래 아이콘"></span>-->
                        </td>
                    </tr>
                    <tr>
                        <th>거래번호</th>
                        <td>
                            &#35;<span th:text="${boardView.tradeNum}"/>
                        </td>
                        <th>등록일시</th>
                        <td th:text="${boardView.boardTime}"></td>
                    </tr>
                    <tr>
                        <th>판매수량</th>
                        <td>
                            <span th:text="${boardView.saleUnit}"/>  <span th:text="${boardView.serverNum.gameNum.gameCurrency}"/>
                        </td>
                        <th>판매금액</th>
                        <td>
                            <span th:text="${boardView.salePrice}"/>  원
                        </td>
                    </tr>
                </table>
            </form>

            <div class="g_subtitle">
                판매자정보
            </div>
            <div class="certify_info">
                <div class="seller_info">
                    <span class="credit_mark vip">V</span>
                    <strong class="vip_txt">SIVER 회원</strong> (거래점수 : <span th:text="${boardView.userNum.userCreditScore}"/>점)
                </div>
            </div>

            <!--구매 신청 버튼-->
            <div class="g_btn_wrap">
                <a th:href="@{/board/requestPage(boardNum=${boardView.boardNum},deal=${boardView.dealCheck})}">
                    <img src="http://img2.itemmania.com/new_images/btn/btn_buy.gif" width="137" height="46" alt="구매신청">
                </a>
            </div>

            <!--  상세설명 -->
            <div class="g_subtitle">
                상세설명
            </div>

            <div class="detail_info" id="detail_info">
                <div class="detail_text" th:text="${boardView.saleAria}">

                </div><!--//.detail_text-->
            </div><!--//.detail_info-->
            <div class="wideview" id="wideview">+ 전체보기</div>
            <!-- ▲ 상세설명 //-->

            <div class="g_right">
                <a href='#'><img src="http://img4.itemmania.com/images/btn/btn_list.gif" width="32" height="14" alt="목록"></a>
                <a href="#top"><img src="http://img4.itemmania.com/images/btn/btn_top.gif" width="32" height="14" alt="TOP"></a>
            </div>
            <div class="g_finish"></div>

        </div><!--g_content-->

    </div><!--//.g_container-->

    <div th:replace="fragment/footer"/>

<link type="text/css" rel="stylesheet" href="/css/board/saleView.css">

</body>


</html>