<html lang="en">
<link type="text/css" rel="stylesheet" href="/css/nav.css">
<div style="background-color: yellow">검색영역</div>

<div class="g_header">
    <div class="nav_wrap nav_wrap_p">
        <div class="content_center">
            <ul class="nav nav_highlight">
                <li class="highlight">
                    <a href="http://trade.itemmania.com/index.html"><i class="portalSpGroup portalSpIcon adult19"></i>
                        아이템거래</a>
                </li>
            </ul>
            <ul class="nav nav_ct">
                <li><a href="http://giftcard.itemmania.com/portal/giftcard/">상품권몰</a></li>
                <li>
                    <a href="http://www.itemmania.com/gamemania/transfer.html?SendUrl=http://www.gamemania.co.kr/"
                       target="_blank">게임매니아</a>
                </li>
                <li><a href="http://www.itemmania.com/portal/free_coupon/">게임쿠폰</a></li>
                <li><a href="https://ssadaprice.itemmania.com" target="_blank"><i class="icon_ssada"></i>싸다프라이스<i
                        class="icon_event"></i></a></li>
                <li><a href="http://www.itemmania.com/myroom/lotto/lottopot.html">로또</a></li>
                <li><a href="http://www.itemmania.com/myroom/fortune/index.html">운세/사주</a></li>
            </ul>
            <div class="right_icon">
                <a href="http://www.itemmania.com/myroom/message/" class="user_noti">
                    <span class="sp_icon bell"></span>
                </a>
                <a href="javascript:;" class="all_menu" id="all_menu">
                    <span class="sp_icon list"></span>
                </a>
            </div>
        </div>
    </div>
    </nav>
</div>
<!--axios, bootstrap  CDN링크 추가-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>
