<html lang="ko">
<link type="text/css" rel="stylesheet" href="/css/main/nav.css">
<link type="text/css" rel="stylesheet" href="/css/main/header.css">
<div class="g_header ">

    <div class="nav_wrap">
        <div class="content_center">
            <ul class="nav nav_highlight">
                <li class="highlight"><a href="#">판매등록</a></li>
                <li class="highlight"><a href="#">구매등록</a></li>
            </ul>
            <ul class="nav nav_ct">
                <li><a href="/board/boardList/sale">삽니다<i class="icon_new"></i></a></li>
                <li><a href="/board/boardList/buy">팝니다<i class="icon_new"></i></a></li>
                <li><a href="/myroom">마이룸</a></li>
                <li><a href="#">포인트 충전</a></li>
                <li><a href="javascript:void(0);" id="boardListSale">삽니다<i class="icon_new"></i></a></li>
                <li><a href="javascript:void(0);" id="boardListBuy">팝니다<i class="icon_new"></i></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
</div>
</nav>
</div>
</html>
<script src="/js/boardList/boardList.js"/>
