<html>
<script>
    function searchbarSubmit() {

        //form태그 아이디 받기
        var formId = document.getElementById("g_searchbar_form");

        // 받은 formId에 속해있는  value추출
        var st = formId.querySelector('[name="deal"]:checked').value;
        var sGameServer = formId.querySelector('[name="searchGameServer"]').value;
        console.log("form 태그 이동" + st + "&" + sGameServer)
        console.log(st + "-" + sGameServer);
        //검색시 링크에 deal=sale   deal=buy 값 파라미터로 넣어서 보내줘야함

    }
</script>
<div class="g_logo_area">
    <!--▼▼▼ 공통 로고 배너 ▼▼▼ -->
    <div class="logo">
        <a href="/">
            <img src="../../image/logo.gif" width="220px"/>
        </a>
    </div>
    </style>
    <div class="g_search_top">
        <form id="g_searchbar_form" method="post" action="/board/boardList" onsubmit="return searchbarSubmit();">
            <div class="g_search_wrapper" id="g_search_wrapper">
                <div class="search_area">
                    <div class="g_trade_type">
                        <label class="radiocontainer f_blue1">
                            팝니다
                            <input type="radio" name="deal" value="sale"
                                   checked="checked"
                                   th:checked="${searchType==null ?true:'sale'}">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radiocontainer f_green1">
                            삽니다
                            <input type="radio" name="deal" value="buy" th:checked="${searchType eq 'buy'}">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <input type="text" class="g_text search_gs_name" name="searchGameServer" id="searchGameServer"
                           title="게임검색" style="ime-mode:active" placeholder="게임명 또는 서버명을 입력해주세요." autocomplete="off"
                           data-gameserver="true" th:value="${searchGameServer}">
                    <a href="javascript:;" class="delete_btn"></a>
                </div>
                <button type="submit" class="g_search_list" id="g_search_list" title="검색">
                    <span class="icon_search"></span>
                </button>
                <div class="g_search_frame" id="g_search_frame" style="">
                    <div class="gs_list gs_selection" data-gslist="true">
                        <div class="game">
                            <ul>
                                <li class="sel_on">로스트아크</li>
                            </ul>
                        </div>
                        <div class="server server_t">
                            <ul>
                                <li>서버전체</li>
                                <li>루페온</li>
                                <li>실리안</li>
                                <li>니나브</li>
                                <li>카단</li>
                                <li>아만</li>
                                <li>카제로스</li>
                                <li class="sel_on">아브렐슈드</li>
                                <li>북미</li>
                                <li>유럽</li>
                                <li>카마인</li>
                                <li>기타</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
<script>
    $(document).ready(function (){
        /*로딩 완료시 게임,서버리스트 숨김처리*/
        $("#g_search_frame").hide();
    })

    $(".search_area ").focusin(function () {
        /*검색바 클릭시 게임,서버리스트 표시*/
        $("#g_search_frame").show();
    })
    $(".search_area").focusout(function () {
        /*검색바 제외 클릭시 게임,서버리스트 숨김*/
        $("#g_search_frame").hide();
    })



</script>
<style>
    .g_search_frame {
        z-index: 99;
        position: absolute;
        left: 0;
        overflow: hidden;
        box-sizing: border-box;
        width: 690px;
        height: 460px;
        padding: 10px;
        border: 1px solid #159efd;
        border-top: 0;
        background-color: #FFF
    }
</style>