<html xmlns:th="http://www.thymeleaf.org">

<script>

</script>
<div class="g_logo_area">
    <!--▼▼▼ 공통 로고 배너 ▼▼▼ -->
    <div class="logo">
        <a href="/">
            <img src="../../image/logo.gif" width="220px"/>
        </a>
    </div>
    </style>
    <div class="g_search_top">
        <form id="g_searchbar_form" method="post" action="/board/boardList" onsubmit="return searchbarSubmit();">
            <div class="g_search_wrapper" id="g_search_wrapper">
                <div class="search_area">
                    <div class="g_trade_type">
                        <label class="radiocontainer f_blue1">
                            팝니다
                            <input type="radio" name="deal" value="sale"
                                   checked="checked"
                                   th:checked="${searchType==null ?true:'sale'}">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radiocontainer f_green1">
                            삽니다
                            <input type="radio" name="deal" value="buy" th:checked="${searchType eq 'buy'}">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <input type="text" class="g_text search_gs_name" name="searchGameServer" id="searchGameServer"
                           title="게임검색" style="ime-mode:active" placeholder="게임명 또는 서버명을 입력해주세요." autocomplete="off"
                           data-gameserver="true" th:value="${searchGameServer}">
                    <a href="javascript:;" class="delete_btn"></a>
                </div>
                <button type="submit" class="g_search_list" id="g_search_list" title="검색">
                    <span class="icon_search"></span>
                </button>
                <div class="g_search_frame" id="g_search_frame" style="">
                    <div class="gs_list gs_selection " id="searchList" data-gslist="true">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
<script>
    /*로딩 완료시 게임,서버리스트 숨김처리
    기존 (document).ready 내부에 위치하였으나 로딩시 리스트가 순간적으로 깜박하며 나타나는 현상을 수정하기위하여
    바깥으로 위치 변경하였음 */

    // 화면 로딩즉시 #g_search_frame 숨김
    $("#g_search_frame").hide();


    $(document).ready(() => {

        // 검색창 클릭 시 #g_search_frame 표시
        $(".g_search_top ").click(function () {
            $("#g_search_frame").show();
        })


        // 마우스커서가 게임,서버리스트내에서 머물러있는동안은 보이고 커서가 떠나면 사라짐
        $(function () {
            // $(".g_search_frame").mouseenter(function () {
            //     $("#g_search_frame").show();
            // });
            $("#g_search_frame").mouseleave(function () {
                $("#g_search_frame").hide();
            });
        });

    })

    // 검색창-> 게임, 서버리스트 비동기통신을 통해 출력 (모든 화면에 적용가능)
    $.ajax({
        url: "/getSearchGameList",
        type: "POST",
        dataType: "text",
        cache: true
    }).done(function (fragment) {
        console.log("done" + fragment)
        // #searchList id를 가지고 있는 done을 fragment 데이터 값으로 변경함
        $("#searchList").replaceWith(fragment);


        // 마우스가 올라간 게임이름이 콜솔에 출력되게 함.
        $("#searchList>ul>li").mousemove(function () {
            console.log("선택된 게임" + $(this).val())
        })


        // 비동기로 출력한 리스트에 클릭이벤트 추가(클릭시 input에 입력되어 submit실행)
        $("#searchList>ul>li").click(function () {
            document.querySelector('[name="searchGameServer"]').value = $(this).text()
            console.log("클릭" + $(this).text())
            $("#g_search_frame").hide();
            $("#g_searchbar_form").submit();
        })
    })


    /*  $.ajax({
          url: "/getSearchGameList",
          type: "POST",
          dataType: "text"
      }).done(function (fragment) {
          console.log("done" + fragment)
          $("#searchList").replaceWith(fragment);
      })*/
    /* .fail(function (jqXHR) {
     console.log(jqXHR);
 }).always(function () {
     console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
 });
*/
    // 게임, 서버리스트 클릭시  g_search_frame가 사라지지 않게 해야함

    /*검색바 클릭시 게임,서버리스트 표시*/

    // 수정 전 코드
    // mouseover로 되어있어서 마우스가 검색창 근처에만 가면 화면이 띄워지는 불편함이 있었음. -> 클릭으로 변경하니 리스트를 클릭해도 값이 들어가지 않음.
    // 수정 후 -> 검색창 클릭시에만 나타나면 띄워지게 하고 검색창과 리스트에 마우스커서가 머물러있으면 계속 유지되고 검색창,리스트를 마우스가 벗어나면 사라지게 변경

    /*$(".g_search_top ").mouseover(function () {
/!*검색바 클릭시 게임,서버리스트 표시*!/
$("#g_search_frame").show();

})

$(".game>ul>li").mousemove(function () {
console.log("선택된 게임" + $(this).val())
})
$(".g_search_top").mouseout(function () {
/!*검색바 제외 클릭시 게임,서버리스트 숨김*!/
if ($("g_search_frame").mouseover(() => {
    return
}))
    $("#g_search_frame").hide();
});*/


    function searchbarSubmit() {
        /*검색 전 예외처리*/
        //form태그 아이디 받기
        var formId = document.getElementById("g_searchbar_form");

        // 받은 formId에 속해있는  value추출
        var st = formId.querySelector('[name="deal"]:checked').value;
        var sGameServer = formId.querySelector('[name="searchGameServer"]').value;
        console.log("form 태그 이동" + st + "&" + sGameServer)
        console.log(st + "-" + sGameServer.trim());

        if (sGameServer.trim() == '') {
            alert("데이터를 입력해주세요")
            return false

            for (const sGameServerKey in sGameServer) {

            }
        }
        //검색시 링크에 deal=sale   deal=buy 값 파라미터로 넣어서 보내줘야함
    }
</script>
<style>
    .g_search_frame {
        z-index: 99;
        position: absolute;
        left: 0;
        overflow: hidden;
        box-sizing: border-box;
        width: 690px;
        height: 460px;
        padding: 10px;
        border: 1px solid #159efd;
        border-top: 0;
        background-color: #FFF
    }
</style>