<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="/css/main/shortCut.css">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
<div class="g_header">
    <div class="top_bg">
        <div class="g_snav">
            <ul class="snav_left">
                <li class="selected"><a href="/">하이템브로커 포탈</a></li>
                <li><a href="/regist">아이템거래</a></li>
            </ul>
            <ul class="snav_right" onchange="isLogin()">
                <li id="login_button"><a href="/login">로그인</a></li>

                <li id="logout_button"><a onclick="total_logout()" style="cursor:pointer">로그아웃</a></li>
                <li><a href="/regist">회원가입</a></li>
                <li><a href="/myroom">마이룸</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    function total_logout()
    {
        // logout();
        // kakaoLogout();
        window.location.replace("/logout");
    }

    function logout()
    {
        let naver_id_login = new naver_id_login("vPoSYGCMBN6Ay_norea_", "http://localhost:8080/index");
        if(naver_id_login.oauthParams.access_token != null)
        {

        }
    }
    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
            Kakao.Auth.logout()
            Kakao.Auth.setAccessToken(undefined)
        }
    }

    function isLogin()
    {
        // if()
        // {
        //     document.querySelector('login_button').style.visibility=false;
        //     document.querySelector('logout_button').style.visibility=true;
        // }
        //     else
        // {
        //     document.querySelector('login_button').style.visibility=true;
        //     document.querySelector('logout_button').style.visibility=false;
        // }
    }
</script>

</body>
</html>