<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="/css/main/shortCut.css">
</head>
<body>
<div class="g_header">
    <div class="top_bg">
        <div class="g_snav">
            <ul class="snav_left">
                <li class="selected"><a href="/">아이템매니아 포탈</a></li>
                <li><a href="/regist">아이템거래</a></li>
            </ul>
            <ul class="snav_right">
                <li><a href="/login">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="/myroom">마이룸</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>