<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="/css/main/shortCut.css">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
<div class="g_header">
    <div class="top_bg">
        <div class="g_snav">
            <ul class="snav_left">
                <li class="selected"><a href="/">하이템브로커 포탈</a></li>
                <li><a href="/regist">아이템거래</a></li>
            </ul>
            <ul class="snav_right" onchange="isLogin()">
<!--                <th:block th:if="">-->
                <li id="login_button"><a href="/login">로그인</a></li>
<!--                </th:block>-->
<!--                <th:block th:unless="">-->
                <li id="logout_button"><a onclick="total_logout()" style="cursor:pointer">로그아웃</a></li>
<!--                </th:block>-->
                <li><a href="/regist">회원가입</a></li>
                <li><a href="/myroom">마이룸</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    function total_logout()
    {
        // naverlogout();
        kakaoLogout();
        window.location.replace("/logout");
    }

    function naverlogout()
    {
        let naver_id_login = new naver_id_login("vPoSYGCMBN6Ay_norea_", "http://localhost:8080/index");
        if(naver_id_login.oauthParams.access_token != null)
        {

        }
    }
    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
            Kakao.Auth.logout()
                .then(function (result)
                {
                    console.log(result)

                    $.ajax({url:'/logout',type:'post',data:JSON.stringify(result),success:function (){console.log("성공적으로 로그아웃 됨")},error:function (err){console.log(err)}})
                    // $.ajax({url:'/oauth/logout?client_id=${ad443805b417fd3da8d9b69982652698}&logout_redirect_uri=${http://localhost:8080/logout}',type:'get',
                    //     success:function (result)
                    //     {
                    //     console.log("result")
                    //     console.log(result)
                    //     },
                    //     fail:function (fail)
                    //     {
                    //         console.log("fail")
                    //         console.log(fail)
                    //     },
                    //     error:function (error)
                    //     {
                    //         console.log("error")
                    //         console.log(error)
                    //     }
                    // })
                })
        }
    }

    function isLogin()
    {
        // if()
        // {
        //     document.querySelector('login_button').style.visibility=false;
        //     document.querySelector('logout_button').style.visibility=true;
        // }
        //     else
        // {
        //     document.querySelector('login_button').style.visibility=true;
        //     document.querySelector('logout_button').style.visibility=false;
        // }
    }
</script>

</body>
</html>