<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/UserForm/mypage.css">
<body>

<!--header 시작-->
<div th:replace="fragment/header"/>

<!--body 시작-->
<div class="g_container" id="g_CONTENT">
  <div class="g_remocon_l">
  </div>

  <!--aside 시작-->
  <div th:replace="/UserForm/myRoom/myRoomAside"/>
  <!--aside 끝-->

  <div class="g_content">
    <div class="g_title_blue">
      개인정보 <span>수정</span>
      <ul class="g_path">
        <li>홈</li>
        <li>마이룸</li>
        <li>개인정보</li>
        <li class="select">기본정보 수정</li>
      </ul>
    </div>
    <!--<div class="g_tab">
      <div class="selected">기본정보수정</div>
      <div><a href="/myroom/myinfo/myinfo_passwd_modify.html">비밀번호수정</a></div>
    </div>-->
    <form id="frmInfo" name="frmInfo" method="post">
      <input type="hidden" name="mpcKey" value="02moid2efe">
      <input type="hidden" name="user_Mobile_auth" value="Y">
      <input type="hidden" name="before_user_mobileA" value="010">
      <input type="hidden" name="before_user_mobileB" value="1234">
      <input type="hidden" name="before_user_mobileC" value="5678">
      <input type="hidden" id="bTalkCheck" value="">
      <input type="hidden" id="user_email_check" value="hitem@naver.com">
      <input type="hidden" name="user_email_previous" value="amVubmF1ZA==">
      <input type="hidden" name="user_email2_previous" value="bmF2ZXIuY29t">
      <input type="hidden" name="email_modify_check" value="N">
      <div class="g_subtitle first">로그인 정보</div>
      <table class="g_blue_table">
        <colgroup>
          <col width="140">
          <col>
          <col width="140">
          <col width="300">
        </colgroup>
        <tbody><tr>
          <th>이름</th>
          <td colspan="3">
            [userRealName]
          </a>
          </td>
        </tr>
        <tr>
          <th>아이디</th>
          <td colspan="3">[userId]</td>
        </tr>
        </tbody></table>
      <div class="g_subtitle">개인 정보</div>
      <table class="g_blue_table">
        <colgroup>
          <col width="140">
          <col>
        </colgroup>
        <tbody>
        <tr>
          <th>닉네임</th>
          <td class="cell_num">
            <div class="s_label">[userName]</div>
          </td>
        </tr>
        <tr>
          <th>비밀번호</th>
          <td class="cell_num">
            <div class="s_label">[userName]</div>
          </td>
        </tr>
        <tr>
          <th>비밀번호 재확인</th>
          <td class="cell_num">
            <div class="s_label">[userName]</div>
          </td>
        </tr>
        <tr>
          <th>연락처</th>
          <td class="cell_num">
            <div class="s_label">휴대폰 번호</div>
            <select class="g_selectbox mobile_type" id="slctMobile_type" style="width: 92px;">
                <option class="">SKT</option>
                <option>KT</option>
                <option>LG U+</option>
                <option>SKT-A</option>
                <option>KT-A</option>
                <option>LG-A</option>
                <!--<option>휴대폰없음</option>-->
            </select>
            <select class="g_selectbox" id="user_mobileA" style="width: 55px;">
              <option>010</option>
              <option>011</option>
              <option>016</option>
              <option>017</option>
              <option>018</option>
              <option>019</option>
            </select>
            <div class="g_left margin_5">-
              <input type="text" name="user_mobileB" id="user_mobileB" maxlength="4" class="g_text" value="1234"> -
              <input type="text" name="user_mobileC" id="user_mobileC" maxlength="4" class="g_text" value="5678">
              <!--<img src="https://img3.itemmania.com/images/btn/btn_cer_ok.gif" width="60" height="20" alt="인증완료">-->
            </div>
          </td>
        </tr>
        <tr>
          <th>이메일</th>
          <td class="email_info">
            <div class="email_block">
              <div class="s_label">이메일:</div>
              <input type="text" name="user_email" id="user_email" class="g_text" value="hitem" readonly=""> @
              <input type="text" name="user_email2" id="user_email2" class="g_text" value="naver.com" readonly="">
              <a href="javascript:;" id="email_auth_btn" class="btn btn_gray3">인증받기</a>
            </div>
            <div class="agree_guide">
              * 야후 또는 핫메일은 정상적인 메일인증이 안될 수도 있으니 참고하시가 바랍니다
            </div>
          </td>
        </tr>

        <!--<tr>
          <th rowspan="2">주소</th>
          <td class="myinfo_address">
            <input type="text" name="user_zipcode" id="user_zipcode" class="g_text" readonly="" value="">
            <input type="hidden" name="user_zipcodeA" id="user_zipcodeA" class="g_text" value="">
            <input type="hidden" name="user_zipcodeB" id="user_zipcodeB" class="g_text" value="">
            <a href="javascript:" id="find_address">
              <img src="https://img4.itemmania.com/images/btn/btn_post_no.gif" width="80" height="20" alt="우편번호 찾기">
            </a>
          </td>
        </tr>-->
        <!--<tr>
          <td class="myinfo_address_detail">
            <input type="text" name="user_addressA" id="user_addressA" class="g_text" readonly="" value="">
            <input type="text" name="user_addressB" id="user_addressB" class="g_text" readonly="" value="">
          </td>
        </tr>-->
        </tbody></table>
      <ul class="tb_bt_txt f_red1">
        <li>※ <span class="f_small">SKT-A, KT-A, LG-A 통신사는 알뜰폰 구분 입니다.</span></li>
        <li>※ <span class="f_small">013으로 시작되는 번호는 연락처 등록이 불가 합니다.</span></li>
      </ul>

      <!--<div class="g_subtitle">
        <span class="g_left">계좌 정보</span>
        <img src="https://img3.itemmania.com/images/btn/btn_acc_edit.gif" width="121" height="18" alt="출금 계좌 수정하기" class="g_right g_button" id="bankmodify_btn">
      </div>
      <table class="g_blue_table" id="myinfo_account">
        <colgroup>
          <col width="140">
          <col width="240">
          <col width="">
        </colgroup>
        <tbody><tr>
          <th>은행명</th>
          <td>&nbsp;</td>
          <td rowspan="3">
            <ul class="g_list bank_info">
              <li>물품대금의 출금이나 환불 시 필요한 정보 입니다.</li>
              <li>본인 명의 계좌가 아니면 출금이 불가능합니다.</li>
              <li>수정을 원하시면 출금계좌 수정하기를 눌러주세요.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>계좌번호</th>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>예금주</th>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>-->

      <div class="g_subtitle">개인정보 유효기간 설정</div>
      <table class="g_blue_table">
        <colgroup>
          <col width="140">
          <col>
        </colgroup>
        <tbody><tr>
          <th>서비스 이용기간 선택</th>
          <td>
            <label class="svc_check">
              <input type="checkbox" name="user_service_use_agree" value="1" class="g_checkbox g_left" style="margin-top:1px">
              개인정보를 파기 또는 분리 저장 ∙ 관리하여야 하는 서비스 미 이용 기간을 회원 탈퇴 시까지로 요청합니다.<br>
              * 다만, 별도의 요청이 없을 경우 서비스 미이용 기간은 1년으로 합니다.
            </label>
          </td>
        </tr>
        </tbody></table>

      <div class="tb_bt_txt">※ <span class="f_small">고객님의 소중한 개인정보가 노출되지 않도록 모든 작업을 마치셨다면 반드시 다른 페이지로 이동하여 주시기 바랍니다.</span></div>

      <div class="g_btn">
        <input type="submit" value="정보 수정하기" class="btn_blue3 big_btn">
        <button type="reset" class="btn_gray3 big_btn">취소 하기</button>
      </div>
    </form>
  </div>
  <div id="emailModify" class="g_layer email_modify">
    <div class="inner">
      <div class="title">
        이메일정보 변경
        <a href="javascript:;" class="close_w"></a>
      </div>
      <div class="cont">
        <table class="g_blue_table">
          <colgroup>
            <col width="140">
            <col>
          </colgroup>
          <tbody><tr>
            <th>이메일</th>
            <td>
              <input type="text" name="user_email_tmp" class="g_text" value="jennaud"> @
              <input type="text" name="user_email_tmp2" class="g_text" value="naver.com">
            </td>
          </tr>
          </tbody></table>
        <div class="g_btn_wrap">
          <a href="javascript:;" id="email_submit"><img src="https://img3.itemmania.com/new_images/btn/pop_btn_ok.gif" width="63" height="35" alt="확인"></a>
          <a href="javascript:;" id="cancel_submit"><img src="https://img4.itemmania.com/new_images/btn/pop_btn_cancel.gif" width="63" height="35" alt="취소"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="g_finish"></div>
</div>

<!--footer 시작-->
<div th:replace="fragment/footer"/>
</body>
</html>