<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/UserForm/mypage.css">
<body>

<!--header 시작-->
<div th:replace="fragment/header"/>

<!--body 시작-->
<div class="g_container" id="g_CONTENT">
  <div class="g_remocon_l">
  </div>

  <!--aside 시작-->
  <div th:replace="/UserForm/myRoom/myRoomAside"/>
  <!--aside 끝-->

  <div class="g_content">
    <div class="g_title_blue">
      개인정보 <span>수정</span>
      <ul class="g_path">
        <li>홈</li>
        <li>마이룸</li>
        <li>개인정보</li>
        <li class="select">기본정보 수정</li>
      </ul>
    </div>

    <form method="post">

      <input type="text" name="userNum" id="userNum" th:value="${user.userNum}">
      <input type="text" name="userName" id="userName" th:value="${user.userName}">

      <table class="g_blue_table">
        <colgroup>
          <col width="140">
          <col>
          <col width="140">
          <col width="300">
        </colgroup>
        <tbody><tr>
          <th>이름</th>
          <td colspan="3">
            <span id="userRealName" name="userRealName" th:text="${user.userRealName}"/>
          </a>
          </td>
        </tr>
        <tr>
          <th>아이디</th>
          <td colspan="3">
            <span th:text="${user.userName}"/>
            <span th:text="${user}"></span>
          </td>
        </tr>
        </tbody></table>
      <div class="g_subtitle">개인 정보</div>
      <table class="g_blue_table">
        <colgroup>
          <col width="140">
          <col>
        </colgroup>
        <tbody>
        <tr>
          <th>비밀번호</th>
          <td class="cell_num">
            <div class="s_label">
              <!--<input type="password" name="userPassword" id="userPassword" class="g_text" th:value="${user.userPassword}">-->
              <input type="password" name="userPassword" id="userPassword" class="g_text">
            </div>
          </td>
        </tr>
        <tr>
          <th>비밀번호 확인</th>
          <td class="cell_num">
            <div class="s_label">
              <!--<input type="password" id="repassword" class="g_text" onchange="pwDuplicateCheck()" th:value="${user.userPassword}">-->
              <input type="password" id="repassword" class="g_text" onchange="pwDuplicateCheck()">
              <div class="" id="DuplicateCheck"/>
            </div>
          </td>
        </tr>
        <tr>
          <th>연락처</th>
          <td class="cell_num">
            <div class="s_label">휴대폰 번호</div>
            <select class="g_selectbox mobile_type" id="slctMobile_type" style="width: 92px;">
              <option class="">SKT</option>
              <option>KT</option>
              <option>LG U+</option>
              <option>SKT-A</option>
              <option>KT-A</option>
              <option>LG-A</option>
              <!--<option>휴대폰없음</option>-->
            </select>
            <select class="g_selectbox" name="user_mobileA" id="user_mobileA" style="width: 55px;" th:value="${#strings.substring(user.userPhoneNumber, 0, 3)}">
              <option>010</option>
              <option>011</option>
              <option>016</option>
              <option>017</option>
              <option>018</option>
              <option>019</option>
            </select>
            <div class="g_left margin_5"/>
            <input type="text" name="user_mobileB" id="user_mobileB" maxlength="4" class="g_text" th:value="${#strings.substring(user.userPhoneNumber, 3, 7)}"> -
            <input type="text" name="user_mobileC" id="user_mobileC" maxlength="4" class="g_text" th:value="${#strings.substring(user.userPhoneNumber, 7, 11)}">
          </td>
        </tr>
        <tr>
          <th>이메일</th>
          <td class="email_info">
            <div class="email_block">
              <div class="s_label">이메일:</div>
              <input type="text" name="userEmail" id="userEmail" class="g_text" th:value="${#strings.arraySplit(user.userEmail, '@')[0]}"> @
              <input type="text" name="userEmail2" id="userEmail2" class="g_text" th:value="${#strings.arraySplit(user.userEmail, '@')[1]}">
              <a href="javascript:;" id="email_auth_btn" class="btn btn_gray3">인증받기</a>
            </div>
            <div class="agree_guide">
              * 야후 또는 핫메일은 정상적인 메일인증이 안될 수도 있으니 참고하시가 바랍니다
            </div>
          </td>
        </tr>
        <tr>
          <th>생년월일</th>
          <td class="cell_num">
            <div class="s_label">
              <input type="date" name="userBirth" id="userBirth" class="g_text" th:value="${user.userBirth}">
            </div>
          </td>
        </tr>
        </tbody></table>
      <ul class="tb_bt_txt f_red1">
        <li>※ <span class="f_small">SKT-A, KT-A, LG-A 통신사는 알뜰폰 구분 입니다.</span></li>
        <li>※ <span class="f_small">013으로 시작되는 번호는 연락처 등록이 불가 합니다.</span></li>
      </ul>

      <div class="g_subtitle">개인정보 유효기간 설정</div>
      <table class="g_blue_table">
        <colgroup>
          <col width="140">
          <col>
        </colgroup>
        <tbody><tr>
          <th>서비스 이용기간 선택</th>
          <td>
            <label class="svc_check">
              <input type="checkbox" name="user_service_use_agree" id="user_service_use_agree" value="1" class="g_checkbox g_left" style="margin-top:1px">
              개인정보를 파기 또는 분리 저장 ∙ 관리하여야 하는 서비스 미 이용 기간을 회원 탈퇴 시까지로 요청합니다.<br>
              * 다만, 별도의 요청이 없을 경우 서비스 미이용 기간은 1년으로 합니다.
            </label>
          </td>
        </tr>
        </tbody></table>

      <div class="tb_bt_txt">※ <span class="f_small">고객님의 소중한 개인정보가 노출되지 않도록 모든 작업을 마치셨다면 반드시 다른 페이지로 이동하여 주시기 바랍니다.</span></div>

      <div class="g_btn">
        <input type="submit" value="정보 수정하기" class="btn_blue3 big_btn" onclick="modifyMember">
        <button type="reset" class="btn_gray3 big_btn">취소 하기</button>
      </div>
    </form>
  </div>

  <div class="g_finish"></div>
</div>

<!--footer 시작-->
<div th:replace="fragment/footer"/>
</body>

<!--개인정보 수정 성공시 alert-->
<!--<script>
  const result = "${msg}"
  if(result==="modify"){
    alert('개인정보가 수정되었습니다. ');
  }
</script>-->

<!--비밀번호 확인 체크-->
<script>
  function pwDuplicateCheck()
  {
    let pw = document.getElementById('userPassword').value;
    let repw = document.getElementById('repassword').value;
    console.log('pw..........' + pw)
    console.log('repw..........' + repw)
    if(pw == repw && pw != '' && repw != '')
    {
      document.getElementById('DuplicateCheck').innerText='비밀번호가 일치합니다';
      document.getElementById('DuplicateCheck').style.color='blue';
    }
    else
    {
      document.getElementById('DuplicateCheck').innerText='비밀번호가 일치하지 않습니다';
      document.getElementById('DuplicateCheck').style.color='red';
    }
  }
</script>

<!--유효기간 확인 체크-->
<!--<script>
  function isChecked() {
    if (!$('#user_service_use_agree').is(":checked")) {
      alert("개인정보 유효기간 설정을 체크해주세요.")
    }
  }
</script>-->

<!--멤버 수정-->
<script>
  function modifyMember()
  {
    const UserModifyRequest = {
      userPassword : document.getElementById('userPassword').value,
      userPhoneNum : document.getElementById('user_mobileA').value + document.getElementById('user_mobileB').value + document.getElementById('user_mobileC').value,
      userEmail : document.getElementById('userEmail').value + '@'+ document.getElementById('userEmail2').value,
      userBirth : document.getElementById('userBirth').value
    }

    console.log(UserModifyRequest)

      $.ajax(
              {
                url:'/myroom/myinfo/modify',
                type:'post',
                data:JSON.stringify(UserModifyRequest),
                dataType:'JSON',
                contentType:'application/json; charset=utf-8',
                success:function (result)
                {
                  console.log(result)

                  if(result != null)
                  {
                    alert("회원수정에 성공 하였습니다")
                    window.location.replace("/");
                  }

                  else
                    alert("회원수정에 실패 하였습니다")
                },
                fail:function ()
                {
                },
                error:function (err)
                {
                  console.log("error")
                  console.log(err)
                }
              })

  }
</script>






</html>