<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/UserForm/mypage.css">
<body>

<!--header 시작-->
<div th:replace="fragment/header"/>

<!--body 시작-->
<div class="g_container" id="g_CONTENT">
  <div class="g_remocon_l">
  </div>

  <!--aside 시작-->
  <div th:replace="/UserForm/myRoom/myRoomAside"/>
  <!--aside 끝-->

  <div class="g_content">
    <div class="g_title_blue">
      신용등급<span>/인증</span>
      <ul class="g_path">
        <li>홈</li>
        <li>마이룸</li>
        <li>개인정보</li>
        <li class="select">신용등급/인증</li>
      </ul>
    </div>
    <div class="new_credit">
      <div>
        <span class="credit_mark _lg" id="credit_mark"><i></i></span>
        <div class="credit_name">
          <div class="f_bold"><span th:text="${user.userRealName}">이름</span>님의 신용등급은
            <span class="basic_txt" id="credit_rank">[일반]</span>입니다.
          </div>
          전체거래점수 :
          <strong class="f_red1"><span th:text="${user.userCreditScore}" id="creditScore">신용점수</span> 점</strong>
        </div>
      </div>
      <div class="credit_up">
        <div class="credit_up_text">
          - 거래건수
          <span class="bold_txt" id="rankup_condition">[5]</span>건이 완료 되면
          <span class="credit "><span class="credit silver_txt">[실버]</span></span>등급으로 승급됩니다.<br>
        </div>
      </div>

      <div class="g_finish"></div>
      <!-- ▼ 신용등급별 혜택 //-->
      <div class="g_subtitle">
        신용등급별 혜택
      </div>
      <div class="benefit">
        <div class="my_benefit basic">
          <ul class="benefit_cnt">
            <li class="area0 on">
              <span class="line"></span>
              <span class="grade"><img src="http://img4.itemmania.com/new_images/common/mark_basic.png"><br><p>일반</p></span>
              <span class="nb">5점 미만</span>
              <span class="cp">프리미엄 5장</span>
              <span class="sp"><p class="credit_btn"><a href="javascript:;" onclick="Fncredit_ajax(1);">발급받기</a></p></span>
            </li>
            <li class="area1">
              <span class="line"></span>
              <span class="grade"><img src="http://img4.itemmania.com/new_images/common/mark_silver.png"><br><p>실버</p></span>
              <span class="nb">5점 이상</span>
              <span class="cp">프리미엄 5장 <br> 물품강조 5장</span>
              <span class="sp"><p class="credit_btn"><a href="javascript:;" onclick="Fncredit_ajax(1);">발급받기</a></p></span>
            </li>
            <li class="area2">
              <span class="line"></span>
              <span class="grade"><img src="http://img4.itemmania.com/new_images/common/mark_gold.png"><br><p>골드</p></span>
              <span class="nb">51점 이상</span>
              <span class="cp"> 프리미엄 5장 <br> 물품강조 5장</span>
              <span class="sp"><p class="credit_btn"><a href="javascript:;" onclick="Fncredit_ajax(1);">발급받기</a></p></span>
            </li>
            <li class="area3 ">
              <span class="line"></span>
              <span class="grade"><img src="http://img4.itemmania.com/new_images/common/mark_platinum.png"><br><p>플래티넘</p></span>
              <span class="nb">101점 이상 <br>(5점 이상)</span>
              <span class="cp">프리미엄 7장 <br> 물품강조 7장</span>
              <span class="sp"><p class="credit_btn"><a href="javascript:;" onclick="Fncredit_ajax(1);">발급받기</a></p></span>
            </li>
            <li class="area4 ">
              <span class="line"></span>
              <span class="grade"><img src="http://img4.itemmania.com/new_images/common/mark_vip.png"><br><p>VIP</p></span>
              <span class="nb">301점 이상<br>(10점 이상)</span>
              <span class="cp">프리미엄 10장 <br> 물품강조 10장 <br>무료출금 12장</span>
              <span class="sp"><p class="credit_btn"><a href="javascript:;" onclick="Fncredit_ajax(1);">발급받기</a></p></span>
            </li>
          </ul>
        </div>
        <div class="g_finish"></div>

        <div class="add_info">
          <ul>
            <li>
              <p>회원등급<a href="javascript:;" onmouseover="$('#user_class').show();" onmouseout="$('#user_class').hide();">자세히보기</a></p>
              전체 거래점수 (이전 3개월 거래점수 합계)
              <div id="user_class" class="g_msgbox blue user_class">
                <div class="title">
                  전체 거래 점수란?
                </div>
                <ul>
                  <li>
                    판매점수 및 구매점수를 합한 총점을 의미하며,<br>
                    판매 완료건수 1건 = 판매점수 1점 / 구매 완료건수 1건 = 구매점수 1점이 됩니다.<br>
                    <span class="f_org1">예)</span>
                    판매 완료건수 2건과 구매 완료건수 10건인 회원의 경우 전체 거래점수는 12점이 됩니다.
                  </li>
                </ul>
                <dl>
                  <dt>▶ 이전 3개월 거래점수 합계 산출 방법</dt>
                  <dd>
                    이전 3개월 거래점수는
                    <span class="f_blue1">당월을 제외한 전월 포함 3개월간의 거래점수 합계</span>를 뜻합니다.<br>
                    <span class="f_org1">예)</span>
                    8월의 경우 7월 / 6월 / 5월 의 거래점수 합계입니다.<br>
                    [7월 (5점) + 6월 (3점) + 5월 (5점)] = 3개월 거래점수 합계 13점
                  </dd>
                </dl>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ▼ 판매정보 보기 //-->
    <div class="g_subtitle">판매정보 보기</div>
    <table class="g_blue_table tb_list">
      <colgroup>
        <col>
        <col width="77">
        <col width="77">
        <col width="77">
        <col width="77">
        <col width="77">
        <col width="77">
        <col width="95">
        <col width="95">
      </colgroup>
      <tbody><tr>
        <th class="f_blue3">총 판매 건수</th>
        <td class="f_bold" colspan="3">0건</td>
        <th class="f_blue3" colspan="2">총 판매 금액</th>
        <td class="f_bold" colspan="3">0원</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="th2">07월</td>
        <td class="th2">08월</td>
        <td class="th2">09월</td>
        <td class="th2">10월</td>
        <td class="th2">11월</td>
        <td class="th2">12월</td>
        <td class="th2">이전 3개월</td>
        <td class="th2">이전 6개월</td>
      </tr>
      <tr>
        <td class="th2">판매건수</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
      </tr>
      <tr>
        <td class="th2">판매금액</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
      </tr>
      <tr>
        <td class="th2">취소/거부</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
      </tr>
      </tbody></table>
    <!-- ▲ 판매정보 보기 //-->
    <!-- ▼ 구매정보 보기 //-->
    <div class="g_subtitle">구매정보 보기</div>
    <table class="g_green_table tb_list">
      <colgroup>
        <col>
        <col width="77">
        <col width="77">
        <col width="77">
        <col width="77">
        <col width="77">
        <col width="77">
        <col width="95">
        <col width="95">
      </colgroup>
      <tbody><tr>
        <th class="f_green2">총 구매 건수</th>
        <td class="f_bold" colspan="3">0건</td>
        <th class="f_green2" colspan="2">총 구매 금액</th>
        <td class="f_bold" colspan="3">0원</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="th2">07월</td>
        <td class="th2">08월</td>
        <td class="th2">09월</td>
        <td class="th2">10월</td>
        <td class="th2">11월</td>
        <td class="th2">12월</td>
        <td class="th2">이전 3개월</td>
        <td class="th2">이전 6개월</td>
      </tr>
      <tr>
        <td class="th2">구매건수</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
      </tr>
      <tr>
        <td class="th2">구매금액</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
      </tr>
      <tr>
        <td class="th2">취소/거부</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
        <td>&nbsp;0</td>
      </tr>
      </tbody></table>
    <!-- ▲ 구매정보 보기 //-->

    <!-- ▼ 알아두기 //-->
    <div class="g_notice">알아두기</div>
    <ul class="g_notice_box1">
      <li>거래 점수란 고객님의 판매 점수와 구매 점수를 합산한 점수를 뜻합니다.</li>
      <li class="list_non">(판매 완료 1건 = 판매 점수 1점 / 구매 완료 1건 = 구매 점수 1점)</li>
      <li>무료 이용권은 [발급받기] 버튼을 통해 정해진 수량만큼 발급 가능합니다.</li>
      <li>플래티넘 및 VIP 등급은 이전 3개월간 거래점수 조건을 충족한 경우 해당 등급에 산정됩니다.</li>
    </ul>
    <!-- ▲ 알아두기 //-->
  </div>

  <div class="g_finish"></div>
</div>

<!--footer 시작-->
<div th:replace="fragment/footer"/>
<script>
  $(document).ready(()=>function (){
    setGrade();
  })

  function setGrade()
  {
    let userCreditScore = document.getElementById("creditScore").value;

    if(userCreditScore < 5)
    {
      $("#credit_mark").addClass("basic");
      $("#credit_rank").value="[일반]";
      $("#rankup_condition").value="[5]";
    }
    else if(userCreditScore < 51 && userCreditScore >= 5)
    {
      $("#credit_mark").addClass("silver");
      $("#credit_rank").value="[실버]";
    }
    else if(userCreditScore < 101 && userCreditScore >= 51)
    {
      $("#credit_mark").addClass("gold");
      $("#credit_rank").value="[골드]";
    }
    else if(userCreditScore < 301 && userCreditScore >= 101)
    {
      $("#credit_mark").addClass("platinum");
      $("#credit_rank").value="[플래티넘]";
    }
    else if(userCreditScore >= 301)
    {
      $("#credit_mark").addClass("vip");
      $("#credit_rank").value="[VIP]";
    }
  }
</script>

</body>
</html>