<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/UserForm/mypage.css">
<body>

<!--header 시작-->
<div th:replace="fragment/header"/>

<!--body 시작-->
<div class="g_container" id="g_CONTENT">
  <div class="g_remocon_l">
  </div>

  <!--aside 시작-->
  <div th:replace="/UserForm/myRoom/myRoomAside"/>
  <!--aside 끝-->

  <div class="g_content">
  <!-- ▼ 타이틀 //-->
  <div class="g_title_blue">
    내 마일리지
    <ul class="g_path">
      <li>홈</li>
      <li>마이룸</li>
      <li>마일리지</li>
      <li class="select">내 마일리지</li>
    </ul>
  </div>
  <!-- ▲ 타이틀 //-->
  <!-- ▼ 메뉴탭 //-->
  <div class="g_tab">
    <div class=""><a href="/myroom/mymileage">마일리지 현황</a></div>
    <div class="selected"><a href="/myroom/mymileage/detail_list">상세내역보기</a></div>
  </div>
  <!-- ▲ 메뉴탭 //-->

    <form id="frmPeriod" name="frmPeriod" action="detail_list.html" method="post">
      <table class="g_blue_table" id="search_table">
        <colgroup>
          <col width="130">
          <col>
        </colgroup>
        <tbody><tr>
          <th>조회기간</th>
          <td id="search_date">
            <div class="g_left">
              <!-- ▼ 시작 날짜 //-->
              <div class="g_selectbox" id="search_year"><input type="hidden" name="search_year" value="2023"><div class="value">2023</div><div class="arrow_img"></div></div>
              <div class="g_left date_text">년</div>
              <div class="g_selectbox" id="search_month"><input type="hidden" name="search_month" value="1"><div class="value">1</div><div class="arrow_img"></div></div>
              <div class="g_left date_text">월</div>
              <div class="g_selectbox" id="search_day"><input type="hidden" name="search_day" value="11"><div class="value">11</div><div class="arrow_img"></div></div>
              <div class="g_left date_text">일 ~</div>
              <!-- ▲ 시작날짜 //-->
              <!-- ▼ 마지막날짜 //-->
              <div class="g_selectbox" id="search_year_end"><input type="hidden" name="search_year_end" value="2023"><div class="value">2023</div><div class="arrow_img"></div></div>
              <div class="g_left date_text">년</div>
              <div class="g_selectbox" id="search_month_end"><input type="hidden" name="search_month_end" value="1"><div class="value">1</div><div class="arrow_img"></div></div>
              <div class="g_left date_text">월</div>
              <div class="g_selectbox" id="search_day_end"><input type="hidden" name="search_day_end" value="11"><div class="value">11</div><div class="arrow_img"></div></div>
              <div class="g_left date_text">일</div>
            </div>
            <div class="g_right">
              <a href="javascript:$.date_scope(1);"><img src="http://img3.itemmania.com/images/btn/btn_today.gif" width="34" height="18" alt="당일"></a>
              <a href="javascript:$.date_scope(3);"><img src="http://img4.itemmania.com/images/btn/btn_3day.gif" width="34" height="18" alt="3일"></a>
              <a href="javascript:$.date_scope(7);"><img src="http://img2.itemmania.com/images/btn/btn_7day.gif" width="34" height="18" alt="7일"></a>
              <a href="javascript:$.date_scope(15);"><img src="http://img3.itemmania.com/images/btn/btn_15day.gif" width="34" height="18" alt="15일"></a>
              <a href="javascript:$.date_scope(30);"><img src="http://img4.itemmania.com/images/btn/btn_30day.gif" width="34" height="18" alt="30일"></a>
            </div>
          </td>
        </tr>
        </tbody></table>
    </form>

    <table class="g_blue_table tb_list">
      <colgroup>
        <col width="148">
        <col width="64">
        <col>
        <col width="141">
        <col width="134">
        <col width="114">
      </colgroup>
      <tbody><tr>
        <th class="first">일자</th>
        <th>분류</th>
        <th>내용</th>
        <th>증가된 마일리지(+)</th>
        <th>감소된 마일리지(-)</th>
        <th>현재 마일리지</th>
      </tr>
      <tr>
        <td colspan="6" class="first">거래내역이 없습니다.</td>
      </tr>
      </tbody></table>

    <div class="tb_bt_txt f_black2">
      <div class="g_left">- 조회기간은 전년기준 5년까지 조회 가능합니다.</div>
      <div class="g_right">(단위:원)</div>
    </div>

</div>
  <div class="g_finish"></div>
</div>

<!--footer 시작-->
<div th:replace="fragment/footer"/>

</body>
</html>