<div class="aside">
     <div class="nav_subject"><a href="#" class="myroom">MyRoom</a></div>
     <div class="nav">
         <div class="nav_title "><a href="#">메세지함</a></div>
         <div class="nav_title "><a href="/myroom/sellRegister">판매관련</a></div>
         <div class="nav_title "><a href="/myroom/buyRegister">구매관련</a></div>
         <div class="nav_title "><a href="/myroom/trnsc_hstry">종료내역</a></div>
         <div class="nav_title "><a href="/myroom/mymileage">마일리지</a></div>
         <ul class="nav_sub">
             <li class=""><a href="/myroom/mymileage">내마일리지</a></li>
             <li class=""><a href="#">마일리지충전</a></li>
             <li class=""><a href="#">마일리지출금</a></li>
             <li class=""><a href="#">마일리지전환</a></li>
         </ul>
         <div class="nav_title "><a href="/myroom/myinfo/modify">개인정보</a></div>
         <ul class="nav_sub">
             <li class=""><a href="/myroom/myinfo/modify">개인정보수정</a></li>
             <li class=""><a href="#">로그인연동관리</a></li>
             <li class=""><a href="/myroom/myinfo/credit_rating">신용등급/인증</a></li>
         </ul>
         <div class="nav_title "><a href="/myroom/user_leave">회원탈퇴</a></div>    </div>
     <div style="margin-top:15px;text-align:center;"><script src="https://compass.adop.cc/assets/js/adop/adopJ.js?v=14"></script><ins class="adsbyadop_6838bf70-c4e4-4d67-8985-ee350b4cea65" _adop_zon="6838bf70-c4e4-4d67-8985-ee350b4cea65" _adop_type="re" style="display:inline-block;width:200px;height:200px;" _page_url=""><div style="width:200px;height:200px; "><iframe id="adopB43301" frameborder="0" marginwidth="0" marginheight="0" paddingwidth="0" paddingheight="0" scrolling="no" style="width: 100%; height: 100%;"></iframe></div></ins>
     </div>
</div>

