<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/UserForm/mypage.css">
<body>

<!--header 시작-->
<div th:replace="fragment/header"/>

<!--body 시작-->
<div class="g_container" id="g_CONTENT">
  <div class="g_remocon_l">
  </div>

  <!--aside 시작-->
  <div th:replace="/UserForm/myRoom/myRoomAside"/>
  <!--aside 끝-->

  <div class="g_content">
    <div class="g_title_blue">
      회원<span>탈퇴</span>
      <ul class="g_path">
        <li>홈</li>
        <li>마이룸</li>
        <li class="select">회원탈퇴</li>
      </ul>
    </div>
    <div class="g_gray_border"></div>
    <div class="SpGroup top_box">
      <p class="top_title"><span class="ft_orange">회원탈퇴</span>안내</p>
      <p>
        회원 탈퇴 시 회원님께서 보유하셨던 마일리지 및 포인트, 쿠폰, 무료이용권은 모두 삭제됩니다.<br>
        회원 탈퇴 후 재가입시에는 신규회원으로 가입이 처리되며, 탈퇴 전의 회원정보와 거래정보 및 마일리지,<br>포인트 등 모든 정보는 복구되지 않습니다.
      </p>
    </div>

    <div class="g_subtitle">마일리지 및 포인트 정보</div>
    <table class="g_blue_table">
      <tbody>
      <tr>
        <th>총 마일리지</th>
        <td><a href="/myroom/mileage/my_mileage/"><span th:text="${user.userMileage}">0 </span> 원</a></td>
      </tr>
      <tr>
        <th>거래점수</th>
        <td th:text="${user.userCreditScore}">0</td>
      </tr>
      </tbody></table>

    <div class="g_black3_11">* 아이템매니아 고객센터(1234-5678)는 365일 24시간 운영됩니다.불편사항은 언제든지 연락 주시면, 최선을 다해 해결 되도록 노력하겠습니다.</div>

    <div class="g_subtitle">회원탈퇴 신청 정보</div>
    <form id="signForm" name="signForm" method="post">
      <input type="hidden" name="pMode" value="user_leave">
      <table class="g_blue_table">
        <colgroup>
          <col width="140">
          <col width="240">
          <col width="140">
          <col width="240">
        </colgroup>
        <tbody><tr>
          <th>아이디</th>
          <td th:text="${user.userName}">[아이디]</td>
          <th>이름</th>
          <td th:text="${user.userRealName}">[홍길동]</td>
        </tr>
        <tr>
          <th>비밀번호</th>
          <td colspan="3">
            <input type="password" class="g_text" name="passwd" id="passwd">
            <input type="hidden" class="g_text" name="userPassword" id="userPassword" th:value="${user.userPassword}">
            <input type="hidden" class="g_text" name="userNum" maxlength="30" th:value="${user.userNum}">
          </td>
        </tr>
        </tbody></table>
      <div class="g_btn">
        <input type="image" src="http://img2.itemmania.com/images/myroom/user_leave/btn_drop_progress.gif" width="98" height="37" alt="탈퇴진행" class="g_image first">
        <a href="/"><img class="g_button" src="http://img3.itemmania.com/images/btn/btn_cancel5.gif" width="98" height="37" alt="취소"></a>
      </div>
    </form>

  </div>

  <div class="g_finish"></div>
</div>

<!--footer 시작-->
<div th:replace="fragment/footer"/>

<!--<script>
  var msg = '${msg}';
  if(msg === '회원 탈퇴되었습니다.') {
    alert("회원 탈퇴되었습니다.")
  } else if(msg === '비밀번호 재확인해주세요.'){
    alert("비밀번호 재확인해주세요.")
  } else if(msg === '탈퇴에 실패하였습니다.'){
    alert("탈퇴에 실패하였습니다.")
  } else if(msg === 'test'){
    alert("test")
  }
</script>-->

<script>
  $(document).ready(function() {
    let msg = "[[${msg}]]";
    console.log(msg)
    if(msg == 'success') {
      alert("회원 탈퇴되었습니다.")
    } else if(msg === 'password'){
      alert("비밀번호 재확인해주세요.")
    } else if(msg === 'fail'){
      alert("탈퇴에 실패하였습니다.")
    } else if(msg === 'test'){
      alert("test")
    }
  })
</script>

</body>
</html>