<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../image/favicon/hb.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>

<!--header 시작-->
<div th:replace="fragment/header"/>

<!--body 시작-->

<!--<input type="text" id="userEntity" th:value="${#authentication.principal.userEntity}">
<div th:text="${#authentication.principal.userEntity.userMileage}"/>-->

<div class="g_container" id="g_CONTENT">
    <div class="g_remocon_l">
    </div>
    <div class="mr_top">
        <!--    <div class="mr_top_left_box">-->
        <div class="mr_user_level">
            <span id="credit_mark2" class="credit_mark2 _lg">BRONZE</span>
        </div>
        <!--<div class="mr_title">MYROOM</div>-->
        <div class="mr_user_level_txt f_black2">
            <div id="user_level" class="user_level_txt">
                BRONZE        </div>
            <span th:text="${user.userRealName}">이름</span>
            회원님의 신용등급은
            <span id="credit_rank" class="">일반</span> (<span th:text="${user.userCreditScore}" id="creditScore">신용점수</span> 점)

            입니다.
            <div class="mr_user_benefit_btn_wrapper">
                <div class="mr_user_benefit_btn">
                    <a href="/myroom/myinfo/credit_rating">혜택보기 <i class="arr">icon</i></a>
                </div>

                <div class="mr_user_benefit_btn" onmouseover="$('#credit_condition').show();" onmouseout="$('#credit_condition').hide();">승급조건 <i class="arr">icon</i></div>
                <div class="credit_condition" id="credit_condition" style="display: none;">
                    <span id="credit_up" class="credit_up_silver">[실버]</span>까지 거래건수 <span id="credit_up_number" class="f_blue1">[5]</span>건 남았습니다.
                </div>
            </div>
        </div>
        <div class="mr_user_mileage_txt">
            <div class="mileage_area">
                <div class="mileage_area_content available_mileage f_black1">사용가능 마일리지</div>
                <div class="mileage_result f_blue1">
                     <span class="over_mile">마일리지</span>
                    <span class="over_mile" th:text="${mileage}">0</span>
                    <span class="won f_black2">원</span>
                </div>
            </div>
            <div class="mileage_area">
                <div class="mileage_area_content all_mileage f_black2">사용가능 프리미엄 티켓</div>
                <div class="mileage_all_result f_black2">
                    <span th:text="${itemNum}">0</span>
                    <span class="won f_black2">원</span>
                </div>
            </div>
            <div class="mileage_area mileage_btn_area">
                <div class="mileage_btn mileage_charge_btn" th:insert="/fragment/chargeModal">
                    <i class="SpGroup icon_charge">icon</i>
                        충전하기
                </div>
                <div class="mileage_btn mileage_withdraw_btn">
                    <input type="button" value="쿠폰 구매하기" id="showBuyModal">
                </div>
            </div>
        </div>
        <!--        <div class="mr_user_level_sub_txt">-->
        <!--        </div>-->
    </div>

    <!--aside 시작-->
    <div th:replace="/UserForm/myRoom/myRoomAside"/>
    <!--aside 끝-->

    <div class="g_content">
        <div class="content_area content_trade">
            <div class="g_subtitle">나의 거래 현황</div>
            <div class="bs_content sell_content2">
                <div class="sell_content_left">
                    <div class="icon_wrap">
                        <i class="SpGroup sell_icon"></i>
                    </div>
                    <div class="product_wrap">
                        <div class="sell_product">
                            <div class="sell_title product_title">판매 등록</div>
                            <div class="sell_result trade_result"><a href="#">0</a>
                            </div>
                        </div>
                        <div class="bargain_product">
                            <div class="bargain_title product_title">흥정 신청</div>
                            <div class="bargain_result trade_result"><a href="#">0</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_line"></div>
                <div class="sell_content_right">
                    <div class="sell_pay_wait_product product">
                        <div class="sell_pay_wait_title product_title product_title2">입금대기</div>
                        <div class="sell_pay_wait_result trade_result2"><a href="#">0</a>
                        </div>
                    </div>
                    <div class="arrow_wrap">
                        <i class="arr2"></i>
                    </div>
                    <div class="sell_ing_product product">
                        <div class="sell_ing_title product_title product_title2">판매중</div>
                        <div class="sell_ing_title trade_result2"><a href="#">0</a>
                        </div>
                    </div>
                    <div class="arrow_wrap">
                        <i class="arr2"></i>
                    </div>
                    <div class="sell_complete_product product">
                        <div class="sell_complete_title product_title product_title2">판매종료</div>
                        <div class="complete_wrap"><a href="#"><span class="btn_detail"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="bs_content buy_content2">
                <div class="buy_content_left">
                    <div class="icon_wrap">
                        <i class="SpGroup buy_icon"></i>
                    </div>
                    <div class="product_wrap">
                        <div class="buy_product">
                            <div class="buy_title product_title">구매 등록</div>
                            <div class="buy_result trade_result"><a href="#">0</a>
                            </div>
                        </div>
                        <div class="bargain_product">
                            <div class="bargain_title product_title">흥정 신청</div>
                            <div class="bargain_result trade_result"><a href="#">0</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_line"></div>
                <div class="buy_content_right">
                    <div class="buy_pay_wait_product product">
                        <div class="buy_pay_wait_title product_title product_title2">입금예정</div>
                        <div class="buy_pay_wait_result trade_result2"><a href="#">0</a>
                        </div>
                    </div>
                    <div class="arrow_wrap">
                        <i class="arr2"></i>
                    </div>
                    <div class="buy_ing_product product">
                        <div class="buy_ing_title product_title product_title2">구매중</div>
                        <div class="buy_ing_title trade_result2"><a href="#">0</a></div>
                    </div>
                    <div class="arrow_wrap">
                        <i class="arr2"></i>
                    </div>
                    <div class="buy_complete_product product">
                        <div class="buy_complete_title product_title product_title2">구매종료</div>
                        <div class="complete_wrap"><a href="#"><span class="btn_detail"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_area content_recent_trade">
            <div class="g_subtitle">최근 거래내역</div>
            <div class="content_table_wrap">
                <table>
                    <colgroup>
                        <col width="50">
                        <col width="100">
                        <col width="100">
                        <col width="270">
                        <col width="120">
                        <col width="80">
                        <col width="100">
                    </colgroup>
                    <!--                <thead>-->
                    <!--                <tr>-->
                    <!--                    <th>카테고리</th>-->
                    <!--                    <th>분류</th>-->
                    <!--                    <th>제목</th>-->
                    <!--                    <th>거래금액</th>-->
                    <!--                    <th>거래종료일</th>-->
                    <!--                    <th>구분</th>-->
                    <!--                </tr>-->
                    <!--                </thead>-->
                    <tbody>
                    <tr height="100" class="tbl_sell_area">
                        <td colspan="7">최근 거래내역이 없습니다.</td>
                    </tr>
                    <tr height="100" class="tbl_buy_area">
                        <td colspan="7">최근 거래내역이 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="g_finish"></div>
    <iframe src="about:blank" width="0" height="0" name="frmTarget" style="border:none"></iframe>
    <form id="reloadFrm" name="reloadFrm" method="post">
    </form>
    <div class="g_finish"></div>
</div>
</div>

<!--Modal-->
<div class="modal fade" id="itemBuyModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 900px">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">프리미엄 작성 쿠폰 구매</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="g_content g_clear_right">
                        <div class="g_gray_border"></div>
                        구매 수량 : <select id="itemNumSelect">

                        <th:block th:each="num : ${#numbers.sequence(1,200)}">
                            <option th:text="${num}" th:value="${num}"></option>
                        </th:block>
                    </select>
                        결제금액 : <input type="text" id="ticket_amount" readonly>
                        <hr>
                        보유 마일리지 :
                        <span th:text="${mileage}">0</span>원
                        <button id="buySubmit">결제하기</button>
                        <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer 시작-->
<div th:replace="fragment/footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

<script th:inline="javascript">
    $().ready(() => {
        setGrade();

        BuyModal = new bootstrap.Modal('#itemBuyModal')

        console.log('userNum : ' + $('#userNum').val())

        $('#itemNumSelect').on("change", function (){
            $('#ticket_amount').val($('#itemNumSelect').val() * 100);


            if($('#ticket_amount').val() > [[${mileage}]])
                $('#buySubmit').attr("disabled",true);

            else
                $('#buySubmit').removeAttr("disabled");
        })

        $('#buySubmit').click(() => itemBuyRequest())
        $('#showBuyModal').click(()=>showModal())
    })

    function itemBuyRequest()
    {

        ItemBuyRequest = {
            itemNum:$('#itemNumSelect').val(),
            itemSerialNum:1
        }

        $.ajax({url:'/buy',
            type:'post',
            data:JSON.stringify(ItemBuyRequest),
            dataType:'JSON',
            contentType:'application/json',success:function (rsp)
            {
                alert('구매성공' + $('#amount').val() / 100 + '장')
                console.log(rsp)
                BuyModal.hide()
                window.location.reload()
            },
            error:function (err)
            {
                console.log(err)
                BuyModal.hide()
            }
        })
    }

    function showModal()
    {
        BuyModal.show()
    }
</script>
<script th:inline="javascript">

    function setGrade()
    {
        let userCreditScore = [[${user.userCreditScore}]];

        console.log(userCreditScore)

        if(userCreditScore < 5)
        {
            $("#credit_mark2").addClass("credit_BRONZE");
            $("#credit_mark2").text("BRONZE");
            $("#user_level").text("BRONZE");
            $("#user_level").addClass("f_BRONZE");
            $("#credit_rank").addClass("f_BRONZE");
            $("#credit_rank").text("일반");
            $("#credit_up").addClass("credit_up_silver");
            $("#credit_up").text("실버");
            $("#credit_up_number").text(5 - userCreditScore);

        }
        else if(userCreditScore < 51 && userCreditScore >= 5)
        {
            $("#credit_mark2").addClass("credit_SILVER");
            $("#credit_mark2").text("SILVER");
            $("#user_level").text("SILVER");
            $("#user_level").addClass("f_SILVER");
            $("#credit_rank").addClass("f_SILVER");
            $("#credit_rank").text("실버");
            $("#credit_up").addClass("credit_up_gold");
            $("#credit_up").text("골드");
            $("#credit_up_number").text(51 - userCreditScore);
        }
        else if(userCreditScore < 101 && userCreditScore >= 51)
        {
            $("#credit_mark2").addClass("credit_GOLD");
            $("#credit_mark2").text("GOLD");
            $("#user_level").text("GOLD");
            $("#user_level").addClass("f_GOLD");
            $("#credit_rank").addClass("f_GOLD");
            $("#credit_rank").text("골드");
            $("#credit_up").addClass("credit_up_platinum");
            $("#credit_up").text("플래티넘");
            $("#credit_up_number").text(101 - userCreditScore);
        }
        else if(userCreditScore < 301 && userCreditScore >= 101)
        {
            $("#credit_mark2").addClass("credit_PLATINUM");
            $("#credit_mark2").text("PLATINUM");
            $("#user_level").text("PLATINUM");
            $("#user_level").addClass("f_PLATINUM");
            $("#credit_rank").addClass("f_PLATINUM");
            $("#credit_rank").text("플래티넘");
            $("#credit_up").addClass("credit_up_vip");
            $("#credit_up").text("VIP");
            $("#credit_up_number").text(301 - userCreditScore);
        }
        else if(userCreditScore >= 301)
        {
            $("#credit_mark2").addClass("credit_VIP");
            $("#credit_mark2").text("VIP");
            $("#user_level").text("VIP");
            $("#user_level").addClass("f_VIP");
            $("#credit_rank").addClass("f_VIP");
            $("#credit_rank").text("VIP");
            $("#credit_up").addClass("credit_up_vip");
            $("#credit_up").text("VIP");
            $("#credit_up_number").text(0);
        }
    }
</script>
<link type="text/css" rel="stylesheet" href="/css/UserForm/mypage.css">

</body>
</html>