
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>아이템매니아</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="아이템매니아,아이템거래,아이템,매니아,아이템매니아주소,아이템매니아바로가기,아이템메니아,아이탬매니아,아이탬메니아,리니지2M,리니지M,리니지,바람의나라,바람의나라연,로스트아크,던전앤파이터,와우클래식,패스오브엑자일,V4,에오스레드">
  <meta name="description" content="게임 아이템 거래 No.1 아이템매니아 - 빠르고 안전한 아이템거래.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.itemmania.com">
  <meta property="og:title" content="아이템매니아">
  <meta property="og:description" content="게임아이템거래 No.1 아이템매니아 - 빠르고 안전한 아이템거래.">
  <meta property="og:image" content="https://img1.itemmania.com/new_images/common/200807_og_image_512x512.png">
  <meta name="NaverBot" content="index,follow"/>
  <meta name="Yeti" content="index,follow"/>
  <meta property="al:android:package" content="com.itemmania.imiapp">
  <meta name="naver-site-verification" content="3689de6fa5eb361eb85c0fa8e81a48c7475da00f">
  <meta name="google-site-verification" content="S8G1uIRyBvpqulp4NJfGibA0ViDdpgDpdeNCVLRlCAI">
  <link rel="canonical" href="http://www.itemmania.com">
  <link rel="shortcut icon" href="https://img1.itemmania.com/images/icon/favicon.ico">
  <link type="text/css" rel="stylesheet" href="/_css/_comm.min.css?v=220722">
  <link type="text/css" rel="stylesheet" href="/_head_tail/css/_head_comm.css?v=221128">
  <link type="text/css" rel="stylesheet" href="/_banner/css/banner_module.css?v=210422">
  <link type="text/css" rel="stylesheet" href="./css/_join_title.css?220407">
  <link type="text/css" rel="stylesheet" href="./css/join_form.css?210818">
  <script type="text/javascript" src="/advertise/advertise_code_head.js?v=200727"></script>
  <script type="text/javascript" src="/_banner/js/banner_module.js?v=220809"></script>
</head>
<body>
<div id="g_SLEEP" class="g_sleep g_hidden">
  <div id="g_OVERLAY" class="g_overlay"></div>
</div>
<div class="g_body" id="g_BODY">
  <div class="myotp_id_layer_wrapper">
    <div class="inner"></div>
  </div>
  <div class="g_layer all_menu_layer" id="all_menu_layer">
    <div class="inner">
      <a href="javascript:;" class="sp_icon close_r" id="menu_close">닫기</a>
    </div>
  </div>
  <!--▼▼▼ 포탈 탑 배너 ▼▼▼ -->
  <!--▲▲▲ 포탈 탑 배너 ▲▲▲ -->
  <div class="g_header">
    <div class="top_bg">
      <div class="g_snav">
        <ul class="snav_left">
          <li class="selected"><a href="http://www.itemmania.com">아이템매니아 포탈</a></li>
          <li><a href="http://trade.itemmania.com/index.html">아이템거래</a></li>
          <li class="shutcut" id="direct_icon">
            바로접속
            <a href="http://www.itemmania.com/event/event_ing/e190417_attend/" class="shortcut"><span class="sp_icon shortcut_on">바로접속</span></a>
            <div class="direct_layer" id="direct_layer">
              <div class="title">
                <div class="title_txt t_on">현재 바로접속 ON상태입니다.</div>
                <div class="close" id="direct_close">닫기</div>
              </div>
              <div class="info_content">
                <div class="benefit_txt">
                  바로가기 접속 고객님의 특별한 혜택<br>
                  1. 매일매일 마일리지 지급<br>
                  - 지급된 마일리지 즉시 사용 가능<br>
                  2. 출석일수에 따라 할인쿠폰 추가 지급<br>
                  - 지급된 할인쿠폰 즉시 사용 가능
                </div>
                <div class="how_title">바로가기로 방문하는 방법</div>
                <ul class="direct_how">
                  <li class="how2" id="g_STARTPAGE">시작페이지 설정하기</li>
                  <li class="how3" id="g_FAVORITE">즐겨찾기 추가하기</li>
                  <li class="how4">
                    <a href="http://www.itemmania.com" target="_blank">URL 직접 입력하기</a>
                  </li>
                </ul>
                <div class="detail_go">
                  <a href="http://www.itemmania.com/event/event_ing/e190417_attend/" target="_blank">혜택 상세보기 GO</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="snav_right">
          <li><a href="javascript:login()">로그인</a></li>
          <li><a href="http://www.itemmania.com/portal/user/">회원가입</a></li>
          <li><a href="http://www.itemmania.com/myroom/">마이룸</a></li>
          <li><a href="http://www.itemmania.com/portal/center/">고객센터</a></li>
          <li><a href="http://www.itemmania.com/portal/guide/service_info.html">서비스안내</a></li>
          <li><a href="http://www.itemmania.com/event/">이벤트</a></li>
        </ul>
      </div>
    </div>
    <!--▼▼▼ 공통 로고 배너 ▼▼▼ -->
    <div class="g_logo_area">
      <div class="logo"><a href="http://www.itemmania.com"><img id="logo_img" src="http://img1.itemmania.com/new_images/common/top_logo.png?190219" width="221" height="140" alt="아이템매니아"></a></div><style>
      .g_header{background-image:url(http://img3.itemmania.com/new_images/banner_manager/20221125/20221125150009_cjmnD.jpg); background-size: 2560px auto; background-position: center 30px; background-repeat: no-repeat;}
      .logo a img{display: none;}
    </style><div class="g_search_top">
      <form id="g_searchbar_form" method="post" action="https://trade.itemmania.com/default.html?returnUrl=" onsubmit="return searchbarSubmit();">
        <input type="hidden" name="search_game" value="138">
        <input type="hidden" name="search_game_text" value="메이플스토리">
        <input type="hidden" name="search_server" value="13208">
        <input type="hidden" name="search_server_text" value="아케인">
        <input type="hidden" name="search_goods" value="all">
        <div class="g_search_wrapper">
          <div class="search_area">
            <div class="g_trade_type">
              <label class="radiocontainer f_blue1">
                팝니다
                <input type="radio" name="search_type" value="sell" checked>
                <span class="checkmark"></span>
              </label>
              <label class="radiocontainer f_green1">
                삽니다
                <input type="radio" name="search_type" value="buy" >
                <span class="checkmark"></span>
              </label>
            </div>
            <input type="text" class="g_text search_gs_name" name="searchGameServer" id="searchGameServer" title="게임검색" style="ime-mode:active" placeholder="게임명 또는 서버명을 입력해주세요." autocomplete="off" data-gameserver="true">
          </div>
          <button type="submit" class="g_search_list" id="g_search_list" title="검색">
            <span class="icon_search"></span>
          </button>
          <div class="g_search_frame g_hidden" >
            <div class="initial_screen">
              <div class="tab searchbar_tab">
                <div class="active">
                  <a href="javascript:;" data-target="tab_lastsearch">최근검색게임</a>
                </div>
                <div>
                  <a href="javascript:;" data-target="tab_mygame">나만의 게임</a>
                </div>
              </div>
              <div class="tab_content">
                <div class="tab_child show" data-content="tab_lastsearch">
                  <ul class="last_search"></ul>
                </div>
                <div class="tab_child" data-content="tab_mygame">
                  <ul class="g_my_search"></ul>
                </div>
              </div>
              <div class="popular_game" data-popular="true">
                <div class="popular_game_title">인기게임</div>
                <ul class="popular_list">
                  <li data-pgame="2696">
                    <em class="top_rank">1</em>로스트아크                                </li>
                  <li data-pgame="138">
                    <em class="top_rank">2</em>메이플스토리                                </li>
                  <li data-pgame="4696">
                    <em class="top_rank">3</em>오딘:발할라라이징                                </li>
                  <li data-pgame="281">
                    <em>4</em>던전앤파이터                                </li>
                  <li data-pgame="546">
                    <em>5</em>아이온                                </li>
                  <li data-pgame="4922">
                    <em>6</em>히트2                                </li>
                  <li data-pgame="4322">
                    <em>7</em>바람의나라:연                                </li>
                  <li data-pgame="4741">
                    <em>8</em>드래곤라자오리진                                </li>
                  <li data-pgame="3449">
                    <em>9</em>리니지M                                </li>
                  <li data-pgame="155">
                    <em>10</em>마비노기                                </li>
                </ul>
                <div class="new_game_title">신규게임</div>
                <ul class="popular_list">
                  <li data-pgame="4938">
                    <em class="new_game"></em>DK모바일디오리진                                    </li>
                  <li data-pgame="5012">
                    <em class="new_game"></em>에버소울                                    </li>
                </ul>
              </div>
            </div>
            <div class="gs_list g_hidden" data-gslist="true" ></div>
          </div>
        </div>
      </form>
      <div class="admin_area">
        <ul class="keyword" id="keyword">
          <li>
            <a href="http://www.itemmania.com/sell/list_search.html?search_game=4741&search_game_text=%EB%93%9C%EB%9E%98%EA%B3%A4%EB%9D%BC%EC%9E%90%EC%98%A4%EB%A6%AC%EC%A7%84&search_server=19493&search_server_text=%ED%95%B8%EB%93%9C%EB%A0%88%EC%9D%B4%ED%81%AC">#드래곤라자오리진</a>
          </li>
          <li>
            <a href="https://bit.ly/3X7TdVQ" target="_blank">템으로강해지는법</a>
          </li>
          <li>
            <a href="http://www.itemmania.com/sell/list_search.html?search_game=138&search_game_text=%EB%A9%94%EC%9D%B4%ED%94%8C%EC%8A%A4%ED%86%A0%EB%A6%AC&search_server=13208&search_server_text=%EC%95%84%EC%BC%80%EC%9D%B8">#메이플스토리</a>
          </li>
          <li>
            <a href="http://www.itemmania.com/sell/list_search.html?search_game=4714&search_game_text=%EB%94%94%EC%95%84%EB%B8%94%EB%A1%9C2%3A%EB%A0%88%EC%A0%80%EB%A0%89%EC%85%98&search_server=18280&search_server_text=%EB%85%B8%EB%A7%90">#디아2:레저렉션</a>
          </li>
          <li>
            <i></i>                        <a href="http://trade.itemmania.com/event/event_ing/e220419_new_member_bingo/" target="_blank">빙고이벤트</a>
          </li>
          <li>
            <a href="http://trade.itemmania.com/myroom/mileage/change/culturecash/" target="_blank">#컬쳐캐쉬</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
    <!--▲▲▲ 공통 로고 배너 ▲▲▲ -->
    <div class="nav_wrap nav_wrap_p">
      <div class="content_center">
        <ul class="nav nav_highlight">
          <li class="highlight">
            <a href="http://trade.itemmania.com/index.html"><i class="portalSpGroup portalSpIcon adult19"></i> 아이템거래</a>
          </li>
        </ul>
        <ul class="nav nav_ct">
          <li><a href="http://giftcard.itemmania.com/portal/giftcard/">상품권몰</a></li>
          <li>
            <a href="http://www.itemmania.com/gamemania/transfer.html?SendUrl=http://www.gamemania.co.kr/" target="_blank">게임매니아</a>
          </li>
          <li><a href="http://www.itemmania.com/portal/free_coupon/">게임쿠폰</a></li>
          <li><a href="https://ssadaprice.itemmania.com" target="_blank"><i class="icon_ssada"></i>싸다프라이스<i class="icon_event"></i></a></li>
          <li><a href="http://www.itemmania.com/myroom/lotto/lottopot.html">로또</a></li>
          <li><a href="http://www.itemmania.com/myroom/fortune/index.html">운세/사주</a></li>
        </ul>
        <div class="right_icon">
          <a href="http://www.itemmania.com/myroom/message/" class="user_noti">
            <span class="sp_icon bell"></span>
          </a>
          <a href="javascript:;" class="all_menu" id="all_menu">
            <span class="sp_icon list"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--▼▼▼ 알림톡 ▼▼▼ -->

  <div class="g_container" id="g_CONTENT">
    <div class="g_remocon_l">
    </div>

    <div class="top_area">
      <h1>회원가입</h1>
      아이템매니아에 오신것을 환영합니다.<br>
      회원이 되시면 보다 다양한 혜택을 받아보실 수 있습니다.
      <div class="sp_join step3"></div>
      <div class="join_new_banner">
      </div>
    </div>    <form id="certifyForm" method="post">
    <input type="hidden" name="certify_info" value="YToyOntzOjk6ImZvcm1fbmFtZSI7czo3OiJmcm1JbmZvIjtzOjEwOiJzdWJtaXRfdXJsIjtzOjU1OiJodHRwczovL3d3dy5pdGVtbWFuaWEuY29tL3BvcnRhbC91c2VyL2pvaW5fZm9ybV9vay5odG1sIjt9">
    <input type="hidden" name="user_name" value="김유선">
    <input type="hidden" name="user_birth" value="19690523">
    <input type="hidden" name="user_gender" value="2">
    <input type="hidden" name="user_nation" value="1">
    <input type="hidden" name="user_mobile_type">
    <input type="hidden" name="user_mobileA">
    <input type="hidden" name="user_mobileB">
    <input type="hidden" name="user_mobileC">
  </form>
    <form id="frmInfo" action="https://www.itemmania.com/portal/user/join_form_ok.html" method="post">
      <input type="hidden" name="join_type" value="">
      <input type="hidden" id="user_agreement" name="user_agreement" value="0">
      <input type="hidden" name="user_name" value="김유선">
      <input type="hidden" name="user_id_check" value="N">
      <input type="hidden" name="captcha_check" id="captcha_check" value="">
      <input type="hidden" name="user_email_check" id="user_email_check">
      <input type="hidden" name="ipin_no" value="">
      <input type="hidden" name="di" value="MC0GCCqGSIb3DQIJAyEAc1JTCOjgI4ky1Cc8cLG/rhqGxkIfNXadydnvpHbztRU=">
      <input type="hidden" name="ci" value="tujUX4AY0gmnk9ciYXJvfH7URZQYaTRn6fe4tKDS4bdKnY0Puxk0SJ+71JgtlOPpdMWhnUQKCuVrfaXmtznK4g==">
      <input type="hidden" name="ci_v" value="3">
      <input type="hidden" name="birth" value="19690523">
      <input type="hidden" name="sex" value="2">
      <input type="hidden" name="fgn" value="1">
      <input type="hidden" name="protector_agreement" value="">
      <input type="hidden" name="protector_certify_type" value="">
      <input type="hidden" name="foreign_agree" value="">
      <input type="hidden" name="user_service_use_agree" value="0">
      <input type="hidden" name="user_auth_agree" value="a86581e0f9bdccd7d548206f24f1d617">


      <table>
        <colgroup>
          <col width="206">
          <col/>
        </colgroup>
        <tr>
          <th>이름</th>
          <td>
            김유선                </td>
        </tr>
        <tr>
          <th>아이디</th>
          <td>
            <div class="guide_add2">
              <input type="text" name="user_id" class="g_text" id="user_id" maxlength="12">
              <span class="id_check" id="idCheck"></span>
            </div>
            <div class="g_hidden captcha" id="captcha_area">
              <input type="hidden" name="captcha_data" id="captcha_data" value="21394d48b016096c7b0ee83ec74399fe03e3800b2b7538b4a89d878b3e262b6d9d36be3ede093345924bc4b538956d1295e627187c45a4272a1a410e341a6a77"/>
              <ul class="g_left">
                <li>
                  <span class="f_black3">* 아래 보이는 숫자를 공백 없이 입력해주세요.</span>
                </li>
                <li>
                  <img id="captcha_image" src="/images/captcha/captcha_images_num.php?t=1673508626" width="200"/>
                  <span class="reset" onclick="captchaResets()"/>새로고침</span>
                </li>
                <li>
                  <input type="text" id="captcha_text" name="captcha_text" class="g_text">
                  <input type="button" value="중복확인" id="idCheckBtn" class="btn_blue3">
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <th>비밀번호</th>
          <td>
            <div class="guide_add">
              <input type="password" name="user_password" class="g_password" id="user_password" maxlength="16">
              <div class="password_help" id="password_help"></div>
            </div>
            <div class="muser_password" id="muser_password"></div>
          </td>
        </tr>
        <tr>
          <th>비밀번호 확인</th>
          <td>
            <div class="guide_add">
              <input type="password" name="user_password_validate" class="g_password" id="user_password_validate" maxlength="16">
              <div class="password_help" id="password_help2"></div>
            </div>
          </td>
        </tr>
        <tr>
          <th>연락처(휴대폰)</th>
          <td class="mobile_area">
            <select id="slctMobile_type" name="user_mobile_type">
              <option value="1"selected>SKT</option>
              <option value="2">KT</option>
              <option value="3">LG U+</option>
              <option value="4">SKT-A</option>
              <option value="5">KT-A</option>
              <option value="6">LG-A</option>
              <option value="N">휴대폰없음</option>
            </select>
            <select name="user_mobileA" id="user_mobileA">
              <option value="010"selected>010</option>
              <option value="011">011</option>
              <option value="016">016</option>
              <option value="017">017</option>
              <option value="018">018</option>
              <option value="019">019</option>
            </select>
            -
            <input type="text" name="user_mobileB" id="user_mobileB" maxlength="4" class="g_text" value="8960" readonly>
            -
            <input type="text" name="user_mobileC" id="user_mobileC" maxlength="4" class="g_text" value="6100" readonly>
            <span class="f_black3">※ SMS 수신거부는 가입 후 마이룸에서 가능합니다.</span>
          </td>
        </tr>
        <tr>
          <th>이메일</th>
          <td class="email_area">
            <input type="text" name="user_email" maxlength="30" class="g_text"> @
            <input type="text" name="user_email_direct" value="" maxlength="30" class="g_text">
            <select id="slctEmail_host" name="user_email_host">
              <option value="direct">직접입력</option>
              <option value="naver.com">naver.com</option>
              <option value="daum.net">daum.net</option>
              <option value="hotmail.com">hotmail.com</option>
              <option value="nate.com">nate.com</option>
              <option value="yahoo.co.kr">yahoo.co.kr</option>
              <option value="paran.com">paran.com</option>
              <option value="empas.com">empas.com</option>
              <option value="dreamwiz.com">dreamwiz.com</option>
              <option value="freechal.com">freechal.com</option>
              <option value="lycos.co.kr">lycos.co.kr</option>
              <option value="korea.com">korea.com</option>
              <option value="gmail.com">gmail.com</option>
              <option value="hanmir.com">hanmir.com</option>
            </select>
            <input type="button" value="중복확인" id="emailCheckBtn" class="btn_blue3">
          </td>
        </tr>

      </table>

      <div class="g_btn">
        <input type="submit" value="회원가입" class="btn_blue3 big_btn">
      </div>
    </form>

    <div class="g_finish"></div>
  </div>
  <!-- ▲ 컨텐츠 영역 //-->
  <div class="g_footer_area" id="g_TAIL">
    <div class="g_footer">
      <div class="g_footer_menu">
        <ul>
          <li>
            <a href="http://www.imicorp.co.kr/" target="_blank">회사소개</a>
          </li>
          <li>
            <a href="http://www.itemmania.com/portal/company/useyak.html">이용약관</a>
          </li>
          <li class="f_bold">
            <a href="http://www.itemmania.com/portal/company/useprotect.html">개인정보 처리방침</a>
          </li>
          <li>
            <a href="http://www.itemmania.com/portal/company/usejunior.html">청소년 보호정책</a>
          </li>
          <li>
            <a href="http://www.itemmania.com/portal/company/useemail.html">이메일 수집거부</a>
          </li>
          <li>
            <a href="http://www.imicorp.co.kr/recruit/recruit.html" target="_blank">채용안내</a>
          </li>
          <li>
            <a href="http://www.itemmania.com/portal/company/usepartner.html">제휴문의</a>
          </li>
          <li>
            <a href="http://www.itemmania.com/portal/center/">고객센터</a>
          </li>
          <li>
            <a href="http://cyberbureau.police.go.kr/" target="_blank"><img src="https://img1.itemmania.com/new_images/common/img_police.jpg" width="88" height="26" alt="경찰청 사이버안전국"></a>
          </li>
        </ul>
        <div class="sns">
          <a href="https://www.facebook.com/1temmania" target="_blank" class="SpGroup facebook">페이스북</a>
          <a href="https://www.instagram.com/itemmania/" target="_blank" class="SpGroup instagram">인스타그램</a>
          <a href="https://www.youtube.com/user/FUNMANIA1004" target="_blank" class="SpGroup youtube">유투브</a>
        </div>
      </div>
    </div>
    <div class="g_copyright">
      <div class="footer_logo">
        <img src="https://img1.itemmania.com/new_images/common/foot_logo.png" width="104" height="31" alt="IMI">
      </div>
      <div class="comp_info">
        (주)아이엠아이<br>
        전주시 덕진구 가리내로 56 아이엠아이빌딩 대표이사:박수종<br>
        고객센터:1544-8278 Fax:0505-247-8278 E-mail:itemmania@itemmania.com<br>
        사업자등록번호:402-81-50705 통신판매업신고번호:제 2002-전주덕진-0015호<br>
        아이템매니아는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 아이템매니아는 상품 거래정보 및 거래에 대하여 책임을 지지 않습니다.<br>
        Copyright ⓒ IMI. All rights reserved.
      </div>
      <div class="inicis_com">
        <a href="javascript:window.open('https://mark.inicis.com/mark/escrow_popup.php?mid=IESitemman','mark','scrollbars=no,resizable=no,width=565,height=683')"><img src="//image.inicis.com/mkt/certmark/escrow/escrow_74x74_color.png" width="54" height="54" alt="클릭하시면 이니시스 결제시스템의 유효성을 확인하실 수 있습니다."></a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/_js/_jquery3.js?v=190220"></script>
<script type="text/javascript" src="/_js/_comm.min.js?v=23011110"></script>
<script type="text/javascript" src="/_js/_gs_control_200924.min.js?v=21101416"></script>
<script type="text/javascript" src="/_js/_common_initialize_new.min.js?v=21110910"></script>
<script type="text/javascript" src="/portal/banner/js/banner.js?v=190220"></script>
<script type="text/javascript" src="js/join_form.js?210309"></script>
<script type='text/javascript'>
  var join_type='';
</script>
<script type="text/javascript">
  var gsVersion = '2301121120';
  var _LOGINCHECK = '';
  _initialize();
</script>
<script type="text/javascript" src="/advertise/advertise_code.js?v=221219"></script>
</body>
</html>