
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>아이템매니아</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="아이템매니아,아이템거래,아이템,매니아,아이템매니아주소,아이템매니아바로가기,아이템메니아,아이탬매니아,아이탬메니아,리니지2M,리니지M,리니지,바람의나라,바람의나라연,로스트아크,던전앤파이터,와우클래식,패스오브엑자일,V4,에오스레드">
    <meta name="description" content="게임 아이템 거래 No.1 아이템매니아 - 빠르고 안전한 아이템거래.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:title" content="아이템매니아">
    <meta property="og:description" content="게임아이템거래 No.1 아이템매니아 - 빠르고 안전한 아이템거래.">
    <meta property="og:image" content="https://img1.itemmania.com/new_images/common/200807_og_image_512x512.png">
    <meta name="NaverBot" content="index,follow"/>
    <meta name="Yeti" content="index,follow"/>
    <meta property="al:android:package" content="com.itemmania.imiapp">
    <meta name="naver-site-verification" content="3689de6fa5eb361eb85c0fa8e81a48c7475da00f">
    <meta name="google-site-verification" content="S8G1uIRyBvpqulp4NJfGibA0ViDdpgDpdeNCVLRlCAI">
    <link rel="canonical" href="http://www.itemmania.com">
    <link rel="shortcut icon" href="https://img1.itemmania.com/images/icon/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/_css/_comm.min.css?v=220722">
    <link type="text/css" rel="stylesheet" href="/_head_tail/css/_head_comm.css?v=221128">
    <link type="text/css" rel="stylesheet" href="/_banner/css/banner_module.css?v=210422">
    <link type="text/css" rel="stylesheet" href="./css/_join_title.css?220407">
    <link type="text/css" rel="stylesheet" href="./css/join_form.css?210818">
    <script type="text/javascript" src="/advertise/advertise_code_head.js?v=200727"></script>
    <script type="text/javascript" src="/_banner/js/banner_module.js?v=220809"></script>
</head>
<body>
<div th:replace="fragment/header"/>
<div id="g_SLEEP" class="g_sleep g_hidden">
    <div id="g_OVERLAY" class="g_overlay"></div>
</div>
<div class="g_body" id="g_BODY">
    <div class="myotp_id_layer_wrapper">
        <div class="inner"></div>
    </div>
    <div class="g_layer all_menu_layer" id="all_menu_layer">
        <div class="inner">
            <a href="javascript:;" class="sp_icon close_r" id="menu_close">닫기</a>
        </div>
    </div>
    <div class="g_header">
        <div class="top_bg">
    <div class="g_container" id="g_CONTENT">
        <div class="g_remocon_l">
        </div>

        <div class="top_area">
            <h1>회원가입</h1>
            아이템매니아에 오신것을 환영합니다.<br>
            회원이 되시면 보다 다양한 혜택을 받아보실 수 있습니다.
            <div class="sp_join step3"></div>
            <div class="join_new_banner">
            </div>
        </div>    <form id="certifyForm" method="post">
        <input type="hidden" name="certify_info" value="YToyOntzOjk6ImZvcm1fbmFtZSI7czo3OiJmcm1JbmZvIjtzOjEwOiJzdWJtaXRfdXJsIjtzOjU1OiJodHRwczovL3d3dy5pdGVtbWFuaWEuY29tL3BvcnRhbC91c2VyL2pvaW5fZm9ybV9vay5odG1sIjt9">
        <input type="hidden" name="user_name" value="김유선">
        <input type="hidden" name="user_birth" value="19690523">
        <input type="hidden" name="user_gender" value="2">
        <input type="hidden" name="user_nation" value="1">
        <input type="hidden" name="user_mobile_type">
        <input type="hidden" name="user_mobileA">
        <input type="hidden" name="user_mobileB">
        <input type="hidden" name="user_mobileC">
    </form>
        <form id="frmInfo" action="https://www.itemmania.com/portal/user/join_form_ok.html" method="post">
            <input type="hidden" name="join_type" value="">
            <input type="hidden" id="user_agreement" name="user_agreement" value="0">
            <input type="hidden" name="user_name" value="김유선">
            <input type="hidden" name="user_id_check" value="N">
            <input type="hidden" name="captcha_check" id="captcha_check" value="">
            <input type="hidden" name="user_email_check" id="user_email_check">
            <input type="hidden" name="ipin_no" value="">
            <input type="hidden" name="di" value="MC0GCCqGSIb3DQIJAyEAc1JTCOjgI4ky1Cc8cLG/rhqGxkIfNXadydnvpHbztRU=">
            <input type="hidden" name="ci" value="tujUX4AY0gmnk9ciYXJvfH7URZQYaTRn6fe4tKDS4bdKnY0Puxk0SJ+71JgtlOPpdMWhnUQKCuVrfaXmtznK4g==">
            <input type="hidden" name="ci_v" value="3">
            <input type="hidden" name="birth" value="19690523">
            <input type="hidden" name="sex" value="2">
            <input type="hidden" name="fgn" value="1">
            <input type="hidden" name="protector_agreement" value="">
            <input type="hidden" name="protector_certify_type" value="">
            <input type="hidden" name="foreign_agree" value="">
            <input type="hidden" name="user_service_use_agree" value="0">
            <input type="hidden" name="user_auth_agree" value="a86581e0f9bdccd7d548206f24f1d617">


            <table>
                <colgroup>
                    <col width="206">
                    <col/>
                </colgroup>
                <tr>
                    <th>이름</th>
                    <td>
                        김유선                </td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td>
                        <div class="guide_add2">
                            <input type="text" name="user_id" class="g_text" id="user_id" maxlength="12">
                            <span class="id_check" id="idCheck"></span>
                        </div>
                        <div class="g_hidden captcha" id="captcha_area">
                            <input type="hidden" name="captcha_data" id="captcha_data" value="21394d48b016096c7b0ee83ec74399fe03e3800b2b7538b4a89d878b3e262b6d9d36be3ede093345924bc4b538956d1295e627187c45a4272a1a410e341a6a77"/>
                            <ul class="g_left">
                                <li>
                                    <span class="f_black3">* 아래 보이는 숫자를 공백 없이 입력해주세요.</span>
                                </li>
                                <li>
                                    <img id="captcha_image" src="/images/captcha/captcha_images_num.php?t=1673508626" width="200"/>
                                    <span class="reset" onclick="captchaResets()"/>새로고침</span>
                                </li>
                                <li>
                                    <input type="text" id="captcha_text" name="captcha_text" class="g_text">
                                    <input type="button" value="중복확인" id="idCheckBtn" class="btn_blue3">
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td>
                        <div class="guide_add">
                            <input type="password" name="user_password" class="g_password" id="user_password" maxlength="16">
                            <div class="password_help" id="password_help"></div>
                        </div>
                        <div class="muser_password" id="muser_password"></div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td>
                        <div class="guide_add">
                            <input type="password" name="user_password_validate" class="g_password" id="user_password_validate" maxlength="16">
                            <div class="password_help" id="password_help2"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>연락처(휴대폰)</th>
                    <td class="mobile_area">
                        <select id="slctMobile_type" name="user_mobile_type">
                            <option value="1"selected>SKT</option>
                            <option value="2">KT</option>
                            <option value="3">LG U+</option>
                            <option value="4">SKT-A</option>
                            <option value="5">KT-A</option>
                            <option value="6">LG-A</option>
                            <option value="N">휴대폰없음</option>
                        </select>
                        <select name="user_mobileA" id="user_mobileA">
                            <option value="010"selected>010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                        </select>
                        -
                        <input type="text" name="user_mobileB" id="user_mobileB" maxlength="4" class="g_text" value="8960" readonly>
                        -
                        <input type="text" name="user_mobileC" id="user_mobileC" maxlength="4" class="g_text" value="6100" readonly>
                        <span class="f_black3">※ SMS 수신거부는 가입 후 마이룸에서 가능합니다.</span>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td class="email_area">
                        <input type="text" name="user_email" maxlength="30" class="g_text"> @
                        <input type="text" name="user_email_direct" value="" maxlength="30" class="g_text">
                        <select id="slctEmail_host" name="user_email_host">
                            <option value="direct">직접입력</option>
                            <option value="naver.com">naver.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="hotmail.com">hotmail.com</option>
                            <option value="nate.com">nate.com</option>
                            <option value="yahoo.co.kr">yahoo.co.kr</option>
                            <option value="paran.com">paran.com</option>
                            <option value="empas.com">empas.com</option>
                            <option value="dreamwiz.com">dreamwiz.com</option>
                            <option value="freechal.com">freechal.com</option>
                            <option value="lycos.co.kr">lycos.co.kr</option>
                            <option value="korea.com">korea.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="hanmir.com">hanmir.com</option>
                        </select>
                        <input type="button" value="중복확인" id="emailCheckBtn" class="btn_blue3">
                    </td>
                </tr>

            </table>

            <div class="g_btn">
                <input type="submit" value="회원가입" class="btn_blue3 big_btn">
            </div>
        </form>

        <div class="g_finish"></div>
    </div>
</div>
        <div th:replace="fragment/footer"/>

<script type="text/javascript" src="/_js/_jquery3.js?v=190220"></script>
<script type="text/javascript" src="/_js/_comm.min.js?v=23011110"></script>
<script type="text/javascript" src="/_js/_gs_control_200924.min.js?v=21101416"></script>
<script type="text/javascript" src="/_js/_common_initialize_new.min.js?v=21110910"></script>
<script type="text/javascript" src="/portal/banner/js/banner.js?v=190220"></script>
<script type="text/javascript" src="js/join_form.js?210309"></script>
<script type='text/javascript'>
    var join_type='';
</script>
<script type="text/javascript">
    var gsVersion = '2301121120';
    var _LOGINCHECK = '';
    _initialize();
</script>
<script type="text/javascript" src="/advertise/advertise_code.js?v=221219"></script>
</body>
</html>