<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link type="text/css" rel="stylesheet" href="/css/UserForm/findPage.css">
</head>
<body>
<div th:replace="fragment/header"/>
<div class="g_container" id="g_CONTENT">
  <div class="g_remocon_l">
  </div>
  <div class="find_title">
    비밀번호 찾기
    <span>개인 정보 보안을 위해 회원님 본인인증 후 비밀번호를 찾으실 수 있습니다.</span>
  </div>

  <div class="tab_area">
    <div><a href="/find/id">아이디 찾기</a></div>
    <div class="selected"><a href="#">비밀번호 찾기</a></div>
  </div>

  <div class="collapse active">
    <div class="collapse_title">내 정보에 등록된 <span class="blue">휴대폰으로 찾기</span></div>
    <div class="collapse_cont">
      <form name="frmMobile" id="frmMobile" action="https://www.itemmania.com/portal/user/lose/find_id_preview.html" method="post">
        <input type="hidden" name="user_type" id="user_type" value="hp">
        <input type="hidden" name="captcha_data" value="fabf6e8f2a46b10644c796fc947c8edb4350a5077ab1a0892510f083de79fb2f7f77a76c2d3e30dc775df6c99ff96be4313eed209c7f612957e16683ec878f3b">
        <dl>
          <dt>이름</dt>
          <dd><input type="text" class="g_text" name="user_name" maxlength="12"></dd>
          <dt>생년월일</dt>
          <dd>
            <input type="text" class="g_text" name="user_birth" maxlength="8" placeholder="예)19990101">
          </dd>
          <dt>아이디</dt>
          <dd>
            <input type="text" class="g_text" name="user_id" maxlength="20">
          </dd>
          <dd>
            <div class="g-recaptcha" id="recaptcha_hp"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdyY4cUAAAAAEJ94u8n9w7sF-qHmyY-vr3jiBno&amp;co=aHR0cHM6Ly93d3cuaXRlbW1hbmlhLmNvbTo0NDM.&amp;hl=ko&amp;v=u35fw2Dx4G0WsO6SztVYg4cV&amp;theme=light&amp;size=normal&amp;cb=7q8lass1epvi" width="304" height="78" role="presentation" name="a-n2y77dwpryne" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
            <!--                        <img id="captcha_image" src="/images/captcha/captcha_images_num.php?t=-->
            <!--" width="200"/>-->
            <!--                        <input type="text" name="captcha_text" class="g_text" placeholder="자동입력 방지문자">-->
            <!--                        <div class="g-recaptcha" data-sitekey="6LdyY4cUAAAAAEJ94u8n9w7sF-qHmyY-vr3jiBno" id="recaptcha_hp"></div>-->
          </dd>
          <dd>
            <input type="submit" value="인증 받기" class="btn_blue3 big_btn">
          </dd>
        </dl>
      </form>
    </div>
  </div>

  <div class="collapse">
    <div class="collapse_title">내 정보에 등록된 <span class="blue">이메일로 찾기</span></div>
    <div class="collapse_cont">
      <form name="frmEmail" id="frmEmail" action="https://www.itemmania.com/portal/user/lose/find_id_preview.html" method="post">
        <input type="hidden" name="user_type" id="user_type" value="email">
        <input type="hidden" name="captcha_data" value="fabf6e8f2a46b10644c796fc947c8edb4350a5077ab1a0892510f083de79fb2f7f77a76c2d3e30dc775df6c99ff96be4313eed209c7f612957e16683ec878f3b">
        <dl>
          <dt>이름</dt>
          <dd><input type="text" class="g_text" name="user_name" maxlength="12" value=""></dd>
          <dt>생년월일</dt>
          <dd>
            <input type="text" class="g_text" name="user_birth" maxlength="8" placeholder="예)19990101">
          </dd>
          <dt>이메일 주소</dt>
          <dd><input type="text" class="g_text" name="user_email" id="user_email" maxlength="30" placeholder="예)itemmania@itemmania.com"></dd>
          <dd>
            <div class="g-recaptcha" id="recaptcha_email"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdyY4cUAAAAAEJ94u8n9w7sF-qHmyY-vr3jiBno&amp;co=aHR0cHM6Ly93d3cuaXRlbW1hbmlhLmNvbTo0NDM.&amp;hl=ko&amp;v=u35fw2Dx4G0WsO6SztVYg4cV&amp;theme=light&amp;size=normal&amp;cb=ro1idchuqtyy" width="304" height="78" role="presentation" name="a-70ucb93ryiqq" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response-1" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
            <!--                        <div class="g-recaptcha" data-sitekey="6LdyY4cUAAAAAEJ94u8n9w7sF-qHmyY-vr3jiBno" id="recaptcha_email"></div>-->
            <!--                        <img id="captcha_image" src="/images/captcha/captcha_images_num.php?t=-->
            <!--" width="200"/>-->
            <!--                        <input type="text" name="captcha_text" class="g_text" placeholder="자동입력 방지문자">-->
          </dd>
          <dd><input type="submit" value="인증 받기" class="btn_blue3 big_btn"></dd>
        </dl>
      </form>
    </div>
  </div>

  <div class="g_right bt_txt">
    아직 하이템브로커 회원이 아니세요?
    <a href="/regist" class="join_btn">회원가입</a>
  </div>

  <div class="g_finish"></div>
  <div th:replace="fragment/footer"/>
</div>
</body>
</html>