body {
    position: relative;
    height: 100%;
    font-family: "ë§‘ì€ ê³ ë”•", "Malgun Gothic", ë‹ì›€, dotum, sans-serif;
    font-size: 13px;
    letter-spacing: -0.08em;
    color: #1d1d1d
}

body, div, input, ul, li, dl, dt, dd, form, fieldset, label, strong, span, button, a, p {
    margin: 0;
    padding: 0;
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 12px
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none;
    color: inherit
}

i {
    display: inline-block;
    font-style: normal
}

form {
    display: inline;
    margin: 0;
    padding: 0
}

button, input[type="button"], input[type="submit"] {
    border: 0;
    cursor: pointer
}

select, textarea, button, input[type="submit"] {
    font-family: "ë§‘ì€ ê³ ë”•", "Malgun Gothic", ë‹ì›€, dotum, sans-serif
}

select {
    min-height: 23px;
    font-size: 12px;
    vertical-align: middle;
    color: #1d1d1d
}

textarea {
    box-sizing: border-box;
    min-height: 60px;
    padding: 10px;
    resize: none;
    border: 1px solid #d7d7d7;
    font-size: 13px;
    color: #666
}

textarea[readonly] {
    background-color: #f0f0f0;
    color: #9f9f9f
}

em {
    font-style: normal
}

label + label {
    margin-left: 12px
}

input + label {
    margin-right: 12px
}

table + table {
    margin-top: 10px
}

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 2px solid #e1e1e1;
    color: #1d1d1d
}

table tr th {
    box-sizing: border-box;
    height: 40px;
    padding: 7px 0;
    border-bottom: 1px solid #e1e1e1;
    background-color: #f0f0f0;
    text-align: center
}

table tr td {
    position: relative;
    box-sizing: border-box;
    padding: 7px 0 7px 10px;
    border-bottom: 1px solid #e1e1e1;
    text-align: left
}

table tr .center {
    padding-left: 0;
    text-align: center
}

table tr .right {
    padding-right: 10px;
    text-align: right
}

table tr .left {
    padding-left: 10px;
    text-align: left
}

.tb_list th {
    height: 40px
}

.tb_list th, .tb_list td {
    padding: 7px 0;
    border-left: 1px solid #e1e1e1;
    text-align: center
}

.tb_list th:first-child, .tb_list td:first-child {
    border-left: 0
}

.tb_top_txt {
    margin-bottom: 10px
}

.tb_top_txt:after {
    display: block;
    clear: both;
    content: ""
}

.tb_bt_txt {
    margin-top: 10px
}

.g_blue_table tr th {
    background-color: #e8f2ff
}

.g_green_table tr th {
    background-color: #ecf8ec
}

.g_blue_table, .g_blue_table tr th, .g_blue_table tr td {
    border-color: #d5e2f2
}

.g_green_table, .g_green_table tr th, .g_green_table tr td {
    border-color: #c1e2c1
}

.g_sleep {
    z-index: 98;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.g_overlay {
    -moz-opacity: .60;
    opacity: .60;
    z-index: 97;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: wait;
    filter: alpha(opacity=60)
}

.g_text, .g_password {
    box-sizing: border-box;
    height: 23px;
    padding: 0 5px;
    border: 1px solid #d7d7d7;
    font-family: "ë§‘ì€ ê³ ë”•", "Malgun Gothic", ë‹ì›€, dotum, sans-serif;
    font-size: 13px;
    vertical-align: middle
}

.g_checkbox {
    vertical-align: middle
}

.mode-active {
    ime-mode: active
}

.g_baseline {
    vertical-align: baseline
}

.g_no {
    font-size: 0;
    line-height: 0
}

.g_hidden {
    display: none !important
}

.g_clear_left {
    float: left;
    clear: both
}

.g_clear_right {
    float: right;
    clear: both
}

.g_clear {
    clear: both
}

.g_center {
    position: relative;
    left: 50%
}

.g_free {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%
}

.g_finish {
    clear: both;
    height: 0;
    margin-top: -1px;
    font-size: 1px;
    line-height: 0
}

.placeholder {
    color: #a9a9a9
}

.w100 {
    width: 100%
}

.f_small {
    font-size: 12px
}

.f_large {
    font-size: 15px
}

.f_bold {
    font-weight: 700
}

.f_white1 {
    color: #FFF
}

.f_black3 {
    color: #9f9f9f
}

.f_black4 {
    color: #828282
}

.f_red1, g_red1 {
    color: #ff2400
}

.f_blue2 {
    color: #6a8198
}

.f_blue3, g_blue1 {
    color: #216ed7
}

.f_org1, g_org1 {
    color: #f26522
}

.f_green1 {
    color: #00c73c
}

.f_right {
    text-align: right
}

.f_center {
    text-align: center
}

.underline {
    text-decoration: underline
}

.big_btn {
    display: inline-block;
    width: 180px;
    padding: 16px 0;
    font-size: 13px;
    font-weight: bold
}

.mid_btn {
    display: inline-block;
    width: 100px;
    padding: 14px 0
}

.btn_white1 {
    display: inline-block;
    box-sizing: border-box;
    height: 23px;
    border: 1px solid #9b9b9b;
    background-color: #FFF;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color: #1d1d1d
}

.btn_white2 {
    box-sizing: border-box;
    border: 1px solid #a9bcce;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    color: #6a8198
}

.btn_gray1 {
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
    background-color: #b1b1b1;
    text-align: center;
    vertical-align: middle;
    color: #FFF
}

.btn_gray2 {
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
    background-color: #f0f0f0;
    text-align: center;
    vertical-align: middle
}

.btn_gray3 {
    box-sizing: border-box;
    border: 1px solid #696969;
    background-color: #8e8e8e;
    text-align: center;
    vertical-align: middle;
    color: #FFF
}

.btn_blue1 {
    display: inline-block;
    box-sizing: border-box;
    background-color: #a9bcce;
    text-align: center;
    vertical-align: middle;
    color: #FFF
}

.btn_blue3 {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #1076d1;
    background-color: #1076d1;
    text-align: center;
    vertical-align: middle;
    color: #FFF
}

.btn_blue4 {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #159efd;
    background-color: #159efd;
    text-align: center;
    vertical-align: middle;
    color: #FFF
}

.btn_blue5 {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #1d64c3;
    background-color: #2977dc;
    text-align: center;
    vertical-align: middle;
    color: #FFF
}

.btn_green2 {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #39a742;
    background-color: #39a742;
    text-align: center;
    vertical-align: middle;
    color: #FFF
}

.btn_red1 {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #a80000;
    background-color: #e50000;
    color: #FFF
}

.box1 {
    border: 1px solid #e0e0e0;
    background-color: #FFF
}

.box2 {
    border: 1px solid #bec8d8;
    background-color: #FFF
}

.box3 {
    border: 1px solid #dee3eb;
    background-color: #FFF
}

.box6 {
    padding: 15px;
    border: 1px solid #e1e1e1;
    background-color: #f0f0f0
}

.box7 {
    border: 1px solid #d5e2f2;
    background-color: #e8f2ff
}

.g_notice_box1 {
    position: relative;
    box-sizing: border-box;
    padding: 15px 20px;
    border: 1px solid #e1e1e1;
    background: #f0f0f0;
    font-size: 12px;
    color: #636363
}

.g_btn_wrap, .g_btn {
    margin: 45px 0;
    text-align: center
}

.g_btn_wrap > :not(:last-child), .g_btn > :not(:last-child) {
    margin-right: 15px
}

.g_btn_wrap > a {
    display: inline-block
}

.g_btn_wrap > img, .g_btn > img {
    cursor: pointer
}

.g_title, .g_title_green, .g_title_blue {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 3px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -2px
}

.g_title_blue {
    height: 30px;
    border-bottom: 2px solid #159efd;
    color: #159efd
}

.g_title_green {
    height: 30px;
    border-bottom: 2px solid #249e1e;
    color: #249e1e
}

.g_subtitle, .g_subtitle_blue {
    position: relative;
    box-sizing: border-box;
    min-height: 30px;
    margin-top: 15px;
    padding: 11px 0 8px;
    font-size: 15px;
    font-weight: 700;
    color: #2f2f2f
}

.g_subtitle:after, .g_subtitle_blue:after {
    display: block;
    clear: both;
    content: ""
}

.g_title_blue.mg0, .g_subtitle.mg0, .g_subtitle_blue.mg0 {
    margin: 0
}

.g_smtitle {
    position: relative;
    margin-top: 15px;
    padding: 11px 0 8px;
    font-weight: 700;
    color: #2f2f2f
}

.g_notice {
    height: 24px;
    margin-top: 40px;
    padding-left: 21px;
    background: url(//img3.itemmania.com/images/icon/img_notice.gif) no-repeat 0 2px;
    font-weight: bold
}

.g_title_notice {
    height: 24px;
    margin-top: 21px;
    padding-left: 21px;
    background-position: 0 -1223px;
    font-weight: 700
}

.g_selectbox {
    height: 22px;
    border: 1px solid #d7d7d7;
    background-color: #FFF;
    font-size: 12px;
    text-align: left
}

.g_selectbox .arrow_img {
    float: right;
    width: 15px;
    height: 15px;
    margin: 4px 3px 0 5px;
    background: url(//img1.itemmania.com/images/icon/arrow_dn_gray.gif) no-repeat;
    cursor: pointer;
    _margin-right: 1px
}

.g_icon, .layer_title .btn_close {
    background: url(//img1.itemmania.com/images/icon/icon.gif) no-repeat
}

.g_icon_v, .g_title_notice, .g_path li {
    background-image: url(//img1.itemmania.com/images/icon/icon_v.gif);
    background-repeat: no-repeat
}

.f_center_hard {
    text-align: center !important
}

.g_selectbox .g_search_input {
    float: left;
    padding: 2px 0 0 5px;
    border: 0;
    font-family: "ë§‘ì€ ê³ ë”•", "Malgun Gothic", ë‹ì›€, dotum, sans-serif;
    font-size: 12px;
    color: #767676;
    ime-mode: active
}

.g_selectbox .value {
    float: left;
    height: 22px;
    margin-left: 5px;
    cursor: pointer;
    line-height: 21px;
    color: #767676
}

.g_selectbox_list {
    z-index: 51;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #d7d7d7;
    border-top: 0;
    background-color: #FFF;
    font-size: 12px
}

.g_selectbox_list div {
    overflow: hidden;
    height: 20px;
    padding-left: 5px;
    background-color: #FFF;
    text-align: left;
    cursor: pointer;
    line-height: 20px
}

.g_selectbox_list .over, .g_selectbox_list .select {
    background-color: #f5f5f5
}

.g_tab {
    position: relative;
    display: table;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
    margin: 20px 0
}

.g_tab > * {
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    height: 45px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 2px solid #666;
    border-left: 1px solid #e1e1e1;
    background-color: #f1f0f3;
    text-align: center;
    vertical-align: middle;
    cursor: pointer
}

.g_tab > *:last-child {
    border-right: 1px solid #e1e1e1
}

.g_tab > * > a {
    display: block;
    padding: 10px 0;
    text-align: center;
    line-height: 22px
}

.g_tab > .selected {
    border: 2px solid #666;
    border-bottom: 0;
    background-color: #FFF;
    font-weight: 700
}

.g_tab > .selected + * {
    border-left: 0
}

.g_tab .side {
    border-top: 0;
    border-right: 0;
    background-color: #FFF;
    cursor: auto
}

.g_tab_line {
    z-index: -1;
    position: relative;
    top: -2px;
    clear: both;
    height: 0;
    margin-bottom: 20px;
    border-top: 2px solid #666
}

.tab_sib {
    overflow: hidden;
    padding-bottom: 7px;
    font-size: 12px
}

.g_list dt {
    position: relative;
    margin-bottom: 5px
}

.g_list li, .g_list dd {
    position: relative;
    margin-bottom: 3px;
    padding-left: 7px
}

.g_list li:before, .g_list dd:before {
    position: absolute;
    left: 0;
    content: "· "
}

.g_path {
    position: absolute;
    top: 10px;
    right: 0;
    font-weight: bold;
    letter-spacing: -1px
}

.g_path li {
    position: relative;
    float: left;
    margin-right: 5px;
    padding-right: 10px;
    font-size: 12px;
    color: #636363
}

.g_path li:after {
    position: absolute;
    right: 0;
    content: ">";
    font-size: 12px
}

.g_path .select {
    margin: 0;
    padding: 0;
    background: 0;
    font-weight: 700
}

.g_paging {
    display: block;
    margin-top: 15px;
    font-size: 0;
    text-align: center
}

.g_paging li {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle
}

.g_paging .page_nums {
    margin: 0 16px
}

.g_paging .page_nums strong, .g_paging .page_nums a {
    display: inline-block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin: 0 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px
}

.g_paging .page_nums a:hover {
    border: 1px solid #DDD;
    line-height: 30px
}

.g_paging .page_nums strong {
    background-color: #429aff;
    color: #FFF
}

.g_paging .cpnt {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px solid #DDD;
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 0;
    line-height: 32px;
    color: #5b5b5b
}

.g_paging .cpnt > a {
    display: block
}

.g_paging .first {
    background-image: url(//img1.itemmania.com/new_images/common/paging_first.png)
}

.g_paging .prev {
    background-image: url(//img1.itemmania.com/new_images/common/paging_prev.png)
}

.g_paging .next {
    background-image: url(//img1.itemmania.com/new_images/common/paging_next.png)
}

.g_paging .last {
    background-image: url(//img1.itemmania.com/new_images/common/paging_last.png)
}

.g_paging .first + .prev {
    border-left: 0
}

.g_paging .next + .last {
    border-left: 0
}

.screenshot_wrap {
    position: relative
}

.screenshot_re_txt {
    font-size: 12px;
    color: #767676
}

.screenshot_list {
    margin: 5px 0
}

.screenshot_wrap .screen_guide {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #767676
}

.g_screenshot {
    position: relative;
    float: left;
    clear: both;
    margin-top: 5px;
    padding-right: 5px
}

.g_screenshot .g_text {
    float: left;
    width: 150px
}

.g_screenshot .tmp_file {
    position: relative;
    float: left;
    width: 57px;
    height: 23px;
    margin: 0 5px
}

.g_screenshot .tmp_btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 55px;
    height: 21px;
    border: 1px solid #7d7d7d;
    background-color: #878787;
    font-size: 12px;
    text-align: center;
    line-height: 21px;
    color: #f5f4f4
}

.g_screenshot [type="file"] {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 57px !important;
    height: 23px
}

.g_screenshot .ad_btn {
    float: left;
    margin-right: 5px
}

.g_screenshot .ad_btn > a {
    display: inline-block;
    width: 42px;
    height: 23px;
    vertical-align: top;
    text-indent: -9999px
}

.g_screenshot .ad_btn .screen_del {
    background: url(//img3.itemmania.com/new_images/sell/btn_del.gif) no-repeat
}

.g_screenshot .ad_btn .screen_add {
    margin-left: 3px;
    background: url(//img3.itemmania.com/new_images/sell/btn_add.gif) no-repeat
}

.g_file {
    display: none
}

.screen_guide2 {
    font-size: 13px;
    color: #1d1d1d
}

.screen_guide2 .guide_txt {
    font-size: 13px;
    color: #159efd
}

.screenshot_wrap2 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    transition: height .5s ease-out;
    font-size: 0
}

.screenshot_wrap2.on {
    height: 180px
}

.screenshot_wrap2 ~ .view_info {
    float: right;
    margin: 10px 8px 0 0;
    padding: 0 4px 2px;
    border: 1px solid #696969;
    background-color: #8e8e8e;
    font-size: 11px;
    cursor: pointer;
    line-height: 15px;
    color: #f5f4f4
}

.g_screenshot2 {
    position: relative;
    float: left;
    margin: 10px 8px 0 0
}

.g_screenshot2 > .tmp_file {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 122px;
    height: 80px;
    background: #f5f6f8 url(//img1.itemmania.com/new_images/icon/icon_scr.png) 50% no-repeat;
    text-align: center
}

.g_screenshot2.active > .tmp_file {
    padding-top: 45px;
    background-image: url(//img1.itemmania.com/new_images/icon/icon_photo.png);
    background-position: 50% 20px;
    font-size: 11px;
    color: #666
}

.g_screenshot2 > .tmp_file > span {
    display: inline-block;
    vertical-align: middle
}

.g_screenshot2 > .tmp_file > .tmp_file_info {
    overflow: hidden;
    max-width: 75%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis
}

.g_screenshot2 .screen_del {
    z-index: 10;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 12px;
    height: 12px;
    background: url(http://img4.itemmania.com/new_images/icon/icon_close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%
}

.screen_preview {
    width: 370px;
    padding-right: 10px;
    border-right: 1px solid #eaeaea;
    display: inline-block;
    vertical-align: top
}

.screen_preview .preview_area {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 220px;
    background-color: #f5f6f8;
    font-size: 20px;
    text-align: center;
    line-height: normal;
    color: #a6a6a6
}

.preview_area .default_txt {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -30px;
    text-align: center
}

.preview_area img {
    display: none
}

.preview_area.active .default_txt {
    display: none
}

.preview_area.active img {
    display: block
}

.default_txt p {
    font-size: 26px;
    font-weight: bold;
    text-align: center
}

.screen_preview .screen_guide2 {
    padding: 10px 0 20px
}

.screen_preview .screenshot_wrap2 {
    height: auto;
    text-align: center
}

.screen_preview .g_screenshot2 {
    display: inline-block;
    float: none;
    width: 70px;
    height: 48px;
    margin: 5px 4px 0 0;
    vertical-align: top
}

.screen_preview .g_screenshot2:nth-child(5n) {
    margin-right: 0
}

.screen_preview .g_screenshot2 > .tmp_file {
    width: 70px;
    height: 48px
}

.screen_preview .g_screenshot2 > .tmp_file.preview {
    padding-top: 0;
    background-image: none
}

.screen_preview .g_screenshot2 > .tmp_file.preview > .tmp_file_info {
    max-width: 100%;
    height: 100%
}

.g_layer {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center
}

.g_layer .inner {
    position: relative;
    display: inline-block;
    max-width: 1080px;
    border: 2px solid #159efd;
    background-color: #FFF;
    vertical-align: middle
}

.g_layer .title {
    padding: 10px 20px 12px;
    background-color: #159efd;
    font-size: 18px;
    font-weight: 700;
    color: #FFF
}

.g_layer .close {
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 17px;
    height: 16px;
    margin-left: 13px;
    background-position: -503px -10px;
    vertical-align: middle
}

.g_layer .close_w {
    z-index: 10;
    position: absolute;
    top: 13px;
    right: 20px;
    display: block;
    width: 19px;
    height: 19px;
    margin-left: 13px;
    background: url(//img1.itemmania.com/new_images/common/top_close_w.png) no-repeat;
    vertical-align: middle
}

.g_layer .close_r {
    display: block;
    float: right;
    width: 17px;
    height: 16px;
    margin: 10px 10px 5px 0;
    background-position: -503px -10px
}

.g_layer .cont {
    padding: 20px
}

.g_layer:after {
    display: inline-block;
    width: 0;
    height: 100%;
    content: "";
    vertical-align: middle
}

.g_layer.green .inner {
    border-color: #249e1e
}

.g_layer.green .title {
    background-color: #249e1e
}

.g_layer .subtitle {
    margin-top: 15px;
    font-weight: bold
}

.g_layer .subtitle.first {
    margin-top: 0
}

.g_layer .g_btn_wrap {
    margin: 20px 0 10px
}

.g_msgbox {
    z-index: 10;
    position: absolute;
    display: none;
    padding: 10px 14px 14px;
    border: 2px solid;
    background-color: #FFF;
    line-height: 170%;
    color: #767676
}

.g_msgbox .close:after {
    position: absolute;
    top: 3px;
    right: 20px;
    content: "x";
    font-size: 20px
}

.g_msgbox.blue {
    border-color: #159efd
}

.g_msgbox.green {
    border-color: #13a33f
}

.g_msgbox.green .title {
    font-weight: 700;
    color: #13a33f
}

.g_msgbox .btn {
    margin-top: 18px;
    text-align: center
}

.g_msgbox .btn > a {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle
}

.g_container {
    position: relative;
    width: 1080px;
    min-height: calc(100vh - 215px - 194px - 60px);
    margin: 0 auto;
    padding-top: 30px
}

.g_container_m {
    min-height: calc(100vh - 167px - 194px - 60px)
}

.content_center {
    position: relative;
    width: 1080px;
    margin: 0 auto
}

.aside {
    float: left;
    width: 214px
}

.g_content {
    float: right;
    width: 820px
}

.sp_icon, .g_search_list .icon_search, .quickmenu_cont .hotgame li, .g_layer .close {
    background-image: url(//img1.itemmania.com/new_images/common/sp_icon_20210312.png?210312);
    background-repeat: no-repeat;
    text-indent: -9999px
}

.hexagon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    background-color: #2eb30c;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: #FFF;
    font: bold 24px tahoma
}

.hexagon:before {
    position: absolute;
    top: -13px;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 13px solid #2eb30c;
    border-left: 20px solid transparent
}

.hexagon:after {
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    border-top: 13px solid #2eb30c;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent
}

.hexagon i:before {
    color: #FFF
}

.hexagon._lg {
    margin: 14px 7px;
    -moz-transform: scale(1.5);
    transform: scale(1.5)
}

.hexagon._sm {
    box-sizing: border-box;
    width: 26px;
    height: 15px;
    font-size: 14px;
    line-height: 15px
}

.hexagon._sm:before {
    top: -7.5px;
    border-right: 12.99px solid transparent;
    border-bottom: 7.5px solid #2eb30c;
    border-left: 12.99px solid transparent
}

.hexagon._sm:after {
    bottom: -7.5px;
    border-top: 7.5px solid #2eb30c;
    border-right: 12.99px solid transparent;
    border-left: 12.99px solid transparent
}

.hexagon.silver {
    background-color: #c1c3c5
}

.hexagon.silver:before {
    border-bottom-color: #c1c3c5
}

.hexagon.silver:after {
    border-top-color: #c1c3c5
}

.hexagon.gold {
    background-color: #e5b445
}

.hexagon.gold:before {
    border-bottom-color: #e5b445
}

.hexagon.gold:after {
    border-top-color: #e5b445
}

.hexagon.platinum {
    background-color: #e34f77
}

.hexagon.platinum:before {
    border-bottom-color: #e34f77
}

.hexagon.platinum:after {
    border-top-color: #e34f77
}

.hexagon.royal {
    background-color: #e3876b
}

.hexagon.royal:before {
    border-bottom-color: #e3876b
}

.hexagon.royal:after {
    border-top-color: #e3876b
}

.hexagon.vip {
    background-color: #7d6eb1
}

.hexagon.vip:before {
    border-bottom-color: #7d6eb1
}

.hexagon.vip:after {
    border-top-color: #7d6eb1
}

.hexagon.super {
    background-color: #ff3600
}

.hexagon.super:before {
    border-bottom-color: #ff3600
}

.hexagon.super:after {
    border-top-color: #ff3600
}

.hexagon.basic i:before {
    content: "B"
}

.hexagon.silver i:before {
    content: "S"
}

.hexagon.gold i:before {
    content: "G"
}

.hexagon.platinum i:before {
    content: "P"
}

.hexagon.royal i:before {
    content: "R"
}

.hexagon.vip i:before {
    content: "V"
}

.hexagon.super i:before {
    content: "S"
}

.credit_mark {
    display: inline-block;
    width: 29px;
    height: 33px;
    background: url(//img1.itemmania.com/new_images/common/mark_basic.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
    text-indent: -9999px
}

.credit_mark._lg {
    width: 48px;
    height: 56px
}

.credit_mark._xsm {
    width: 22px;
    height: 25px
}

.credit_mark.silver {
    background-image: url(//img1.itemmania.com/new_images/common/mark_silver.png)
}

.credit_mark.gold {
    background-image: url(//img1.itemmania.com/new_images/common/mark_gold.png)
}

.credit_mark.platinum {
    background-image: url(//img1.itemmania.com/new_images/common/mark_platinum.png)
}

.credit_mark.vip {
    background-image: url(//img1.itemmania.com/new_images/common/mark_vip.png)
}

.basic_txt {
    color: #2ca20e
}

.silver_txt {
    color: #9f9f9f
}

.gold_txt {
    color: #fba929
}

.platinum_txt {
    color: #ec3868
}

.royal_txt {
    color: #b77955
}

.vip_txt {
    color: #785bdb
}

.super_txt {
    color: #ff3600
}

.cert_state {
    display: inline-block;
    width: 86px;
    height: 24px;
    margin-right: 5px;
    border: 1px solid #c6c6c6;
    background-color: #FFF;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
    color: #a1a1a1
}

.cert_state.on {
    border: 1px solid #ff4e00;
    font-weight: bold;
    color: #ff4e00
}

.cert_state.on:before {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    content: "";
    background: url(//img1.itemmania.com/new_images/common/icon_cer_on.png) no-repeat
}

.txt_ellipsis {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis
}

.blind {
    text-indent: -9999px
}

.search_area {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 650px;
    height: 46px;
    padding: 0 40px 0 200px;
    border: 3px solid #159efd;
    background: white
}

.search_area .g_trade_type {
    position: absolute;
    top: 7px;
    left: 11px;
    line-height: normal
}

.search_area .g_text {
    width: 100%;
    height: 23px;
    margin-top: 8px;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 23px
}

.search_gs_name ~ .delete_btn {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 40px;
    text-align: center
}

.search_gs_name ~ .delete_btn:after {
    display: inline-block;
    width: 15px;
    content: "\2573";
    font-size: 12px;
    vertical-align: top;
    line-height: normal
}

.search_gs_name::-ms-clear, .search_gs_name::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

.search_gs_name::-webkit-search-decoration, .search_gs_name::-webkit-search-cancel-button, .search_gs_name::-webkit-search-results-button, .search_gs_name::-webkit-search-results-decoration {
    display: none;
    width: 0;
    height: 0
}

.g_trade_type .radiocontainer {
    position: relative;
    padding-left: 25px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: #636363
}

.g_trade_type .radiocontainer input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.g_trade_type .radiocontainer .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #159efd;
    border-radius: 50%
}

.g_trade_type .radiocontainer .checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    content: "";
    border-radius: 50%;
    background-color: #159efd
}

.g_trade_type .f_green1 {
    margin-left: 13px;
    color: #00c73c
}

.g_trade_type .f_green1 .checkmark:after {
    background-color: #00c73c
}

.g_trade_type .f_green1 .checkmark {
    border-color: #00c73c
}

.g_search_top .g_search_list {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 46px;
    background-color: #159efd
}

.g_search_list .icon_search {
    position: absolute;
    top: 11px;
    left: 7px;
    width: 22px;
    height: 22px;
    background-position: -10px -10px
}

.g_search_wrapper {
    position: relative
}

.g_search_frame {
    z-index: 99;
    position: absolute;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 690px;
    height: 460px;
    padding: 10px;
    border: 1px solid #159efd;
    border-top: 0;
    background-color: #FFF
}

.g_header .g_search_frame {
    z-index: 100
}

.g_search_frame ::-webkit-scrollbar {
    width: 15px
}

.g_search_frame ::-webkit-scrollbar-track {
    background: transparent
}

.g_search_frame ::-webkit-scrollbar-thumb {
    border: 1px solid #DDD;
    background: transparent
}

.g_search_frame .initial_screen {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    padding-right: 226px
}

.initial_screen .tab {
    overflow: hidden
}

.initial_screen .tab > div {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    border: 1px solid #e6e7e9;
    border-right: 0;
    background-color: #f8f9fb;
    line-height: 40px
}

.initial_screen .tab > div > a {
    display: block;
    text-align: center
}

.initial_screen .tab > .active {
    border-bottom: 0;
    background-color: #FFF
}

.initial_screen .tab_content {
    box-sizing: border-box;
    height: 400px;
    padding: 10px 10px 10px 25px
}

.initial_screen .tab_content .tab_child {
    display: none;
    overflow-y: auto;
    height: 100%
}

.initial_screen .tab_content .tab_child.show {
    display: block
}

.initial_screen .tab_content .tab_child ul {
    overflow: hidden;
    overflow-y: auto;
    padding-right: 15px;
    font-size: 14px;
    line-height: 27px;
    color: #666
}

.initial_screen .tab_content .tab_child ul li {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 0 25px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.initial_screen .tab_content .tab_child .g_my_search li {
    padding-left: 0
}

.initial_screen .tab_content .tab_child ul .empty {
    padding-top: 100px;
    text-align: center
}

.initial_screen .tab_content .tab_child ul li span {
    display: inline-block;
    margin-right: 5px
}

.initial_screen .tab_content .tab_child ul li .sell {
    color: #159efd
}

.initial_screen .tab_content .tab_child ul li .buy {
    color: #00c73c
}

.initial_screen .tab_content .tab_child ul li > i {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    cursor: pointer
}

.initial_screen .tab_content .tab_child ul li .icon_star_sell {
    background: url(//img1.itemmania.com/new_images/icon/ico_blue.png) no-repeat
}

.initial_screen .tab_content .tab_child ul li .icon_star_sell.on {
    background-color: #159efd
}

.initial_screen .tab_content .tab_child ul li .icon_star_buy {
    background: url(//img1.itemmania.com/new_images/icon/ico_green.png) no-repeat
}

.initial_screen .tab_content .tab_child ul li .icon_star_buy.on {
    background-color: #00c73c
}

.initial_screen .tab_content .tab_child .search_add_btn {
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    border: 1px solid #8e8e8e;
    border-radius: 13px;
    background-color: #f8f9fb;
    text-align: center;
    line-height: 26px;
    color: #373737
}

.initial_screen .tab_content .tab_child .delete_btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC
}

.initial_screen .tab_content .tab_child .delete_btn:before {
    display: inline-block;
    width: 15px;
    content: "\2573";
    font-size: 12px;
    line-height: normal
}

.initial_screen .popular_game {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 226px;
    padding-left: 23px;
    border-left: 1px solid #e6e7e9
}

.initial_screen .popular_game > .popular_game_title {
    font-size: 15px;
    font-weight: bold;
    margin: 7px 0 10px
}

.initial_screen .popular_game > .new_game_title {
    font-size: 15px;
    font-weight: bold;
    margin: 17px 0 6px
}

.initial_screen .popular_game > .popular_list {
    line-height: 28px
}

.popular_game .popular_list > li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer
}

.popular_game .popular_list > li > em {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #999;
    font: italic bold 14px/18px Tahoma
}

.popular_game .popular_list > li > .top_rank {
    color: #F00
}

.popular_game .popular_list > li > .new_game {
    color: #F00;
    width: 40px
}

.popular_game .popular_list > li > .new_game:before {
    content: "NEW"
}

.gs_search_list {
    padding: 25px
}

.gs_search_list > ul {
    line-height: 27px
}

.gs_search_list > .boundary {
    border-top: 1px solid #e6e7e9
}

.gs_list_area {
    position: relative
}

.gs_list_wrap {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border: 1px solid #d1d1d1;
    border-top: 0;
    background-color: #FFF
}

.gs_list_wrap li {
    padding-left: 7px;
    cursor: pointer
}

.gs_list {
    display: block;
    clear: both;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

.gs_list > div {
    display: block;
    overflow: hidden;
    height: 100%;
    max-height: 45%;
    margin-top: 10px;
    padding: 1px 5px;
    font-size: 14px
}

.gs_list > div:first-child {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebeef3
}

.gs_list > div > ul {
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    height: 99%
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .g_search_frame {
        scrollbar-base-color: transparent;
        scrollbar-face-color: #FFF;
        scrollbar-3dlight-color: transparent;
        scrollbar-highlight-color: transparent;
        scrollbar-track-color: transparent;
        scrollbar-arrow-color: transparent;
        scrollbar-shadow-color: #DDD
    }

    .gs_selection > div > ul {
        height: 430px
    }
}

.gs_list > div > ul > li {
    overflow: hidden;
    box-sizing: border-box;
    width: 97%;
    margin: 0 10px;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 27px
}

.gs_list > div > ul > li > span {
    font-weight: bold;
    color: #159efd
}

.gs_list li:hover, .gs_list .sel_on, .gs_list li:hover, .gs_list .focus {
    background-color: #edf8ff;
    font-weight: 700
}

.gs_list .icon_new {
    display: inline-block;
    width: 34px;
    height: 13px;
    margin: -3px 0 0 5px;
    background: url(//img1.itemmania.com/new_images/icon/icon_char_new.png) no-repeat;
    vertical-align: middle
}

.game_empty > div, .game_empty > div:first-child {
    max-height: 99%;
    margin-top: 0;
    border-bottom: 0
}

.gs_selection {
    display: table;
    table-layout: fixed
}

.gs_selection > div {
    display: table-cell;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    vertical-align: top;
    white-space: nowrap
}

.gs_selection .title {
    display: none
}

.gs_selection > div:not(:first-child) {
    border-left: 1px solid #ebeef3
}

.gs_selection .server_t {
    width: 60%
}

.gs_selection .server_t li {
    float: left;
    width: 44%
}

.admin_area {
    position: relative;
    overflow: hidden;
    height: 20px;
    margin-top: 12px
}

.admin_area .keyword_wrap {
    position: absolute;
    overflow: hidden;
    width: 690px;
    max-width: 600px;
    height: 20px
}

.admin_area .keyword {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #636363
}

.admin_area .keyword li {
    float: left;
    padding: 0 10px;
    line-height: 20px
}

.admin_area .keyword li > i {
    display: inline-block;
    width: 10px;
    height: 9px;
    background: url(//img1.itemmania.com/new_images/common/icon_event.gif)
}

.admin_area .move_area {
    z-index: 10;
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 0
}

.admin_area .move_area > a {
    display: inline-block;
    height: 16px
}

.admin_area .move_area .left {
    width: 16px;
    background-position: -42px -10px
}

.admin_area .move_area .right {
    width: 15px;
    background-position: -58px -10px
}

.g_popup {
    display: none;
    float: left;
    max-width: 700px;
    border: 2px solid #159efd;
    background-color: #FFF
}

.g_popup.green {
    border-color: #29ac0b
}

.g_popup .layer_title {
    clear: both;
    overflow: hidden;
    padding: 10px 20px 12px;
    background-color: #159efd;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #FFF
}

.g_popup.green .layer_title {
    background-color: #29ac0b
}

.layer_title .btn_close {
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    background-position: -174px -2px;
    text-indent: -9999px;
    cursor: pointer
}

.g_popup .layer_content, .g_popup_green .layer_content {
    float: left;
    clear: both;
    padding: 20px 20px 25px
}

.g_popup .layer_content .g_btn, .g_popup_green .layer_content .g_btn {
    margin: 20px 0 10px;
    text-align: center
}

select:disabled, .f_black2 {
    color: #767676
}

img, .g_image {
    border: 0;
    vertical-align: middle
}

label > input, .g_check.charge_service .total_charge, .g_radio {
    margin: -2px 3px 0 0;
    vertical-align: middle
}

.g_button, .g_btn_wrap img {
    cursor: pointer
}

.g_left, .g_sideway li, .g_snav .snav_left > li, .g_search_frame .g_level_icon, .g_popup .layer_title .title, .g_popup_green .layer_title .title {
    float: left
}

.g_right, .g_snav .snav_right, .g_search_frame .g_level_icon2 {
    float: right
}

.f_black1, .all_menu_layer dl dd {
    color: #636363
}

.f_blue1, .quickmenu_cont .user_name span, .quickmenu_cont .sell .cnt, .quickmenu_cont .sell .ings dd, .quickmenu_cont .sell .status {
    color: #159efd !important
}

.f_green2, .quickmenu_cont .buy .cnt, .quickmenu_cont .buy .ings dd, .quickmenu_cont .buy .status {
    color: #13a33f
}

.f_center, .gs_list .search_ing {
    text-align: center
}

.g_title_blue > span, .g_title_green > span {
    color: #1d1d1d
}

.g_subtitle.first, .g_subtitle_blue.first, .g_screenshot:first-child {
    margin-top: 0;
    padding-top: 0
}

.f_medium, .quickmenu_cont .rank span {
    font-size: 14px
}

.g_list .list_non:before, .g_path li:last-child:after, .g_snav .snav_right > li:first-child:before {
    content: ""
}

.g_paging .end, .g_popup .layer_content .g_btn .first, .g_popup_green .layer_content .g_btn .first {
    margin-right: 10px
}

.quickmenu_cont .hexagon, .quickmenu_cont .s_title2 {
    margin-top: 20px
}

.g_msgbox.blue .title, .quickmenu_cont .other_menu li:hover, .all_menu_layer dl dt {
    font-weight: 700;
    color: #159efd
}

.g_msgbox .cont, .quickmenu_cont .favorite_area .g_list, .quickmenu_contb .ssada li {
    margin-top: 10px
}

.quickmenu_area .quickmenu li:not(.on):hover div, .radiocontainer input:checked ~ .checkmark:after {
    display: block
}

.quickmenu_cont .sell .c_txt, .quickmenu_cont .other_menu li:hover:before {
    background-color: #159efd
}

.quickmenu_cont .buy .c_txt, .f_green1 .checkmark:after {
    background-color: #00c73c
}

.g_header, .g_snav .snav_left .selected {
    background-color: #FFF
}

.credit_banner a img {
    margin-bottom: 10px
}