<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<!--header영역  CDN주소 들어가있음-->

<div th:replace="fragment/header"/>

<!--content_center-> class 입력시 중앙정렬-->
<link type="text/css" rel="stylesheet" href="/css/main/indexMain.css">

<div class="g_container" id="g_CONTENT">

    <div id="character_top_section">
        <div class="section_title_wrapper ">
            <h2 class="section_title">하이템브로커 게임목록</h2>
        </div><!-- //.section_title_wrapper -->
        <div id="character_top_section_game_list" class="clear_fix">
            <div class="character_menu_wrapper">
                <ul class="character_menu_list" th:each="gs:${gameServer}">
                    <li class="character_menu border_gradient">
                        <a class="text_ellipsis" href="">
                            <img class="game_icon" th:src="${gs.gameIcon}" />
                            <span th:text="${gs.gameName}"/>
                            <!--                            <img class="game_icon" src="images/${gs.gameNum.gameIcon}" />
                                                        <img class="game_icon" th:src="images/${gs.gameNum.gameIcon}" />
                                                        <img class="game_icon" th:src="@{images/} + ${gs.gameNum.gameIcon}" />
                                                        <img class="game_icon" th:src="@{{images} + ${gs.gameNum.gameIcon}}" th:alt="${gs.gameNum.gameName}" />
                                                        <img class="game_icon" th:src="@{../../images/${gs.gameNum.gameIcon}}" th:alt="${gs.gameNum.gameName}">-->
                        </a>
                    </li><!-- //.character_menu -->
                </ul><!-- //.character_menu_list -->
            </div><!-- //.character_menu_wrapper -->
        </div><!-- //.character_top_section_game_list -->
    </div><!-- //.character_top_section -->


</div><!-- //.g_container -->

<div th:replace="fragment/footer"/>

<script type="text/javascript">
    // 접근 토큰 값 출력
    // alert(naver_id_login.oauthParams.access_token);
    // 네이버 사용자 프로필 조회
    // naver_id_login.get_naver_userprofile("naverSignInCallback()");
    // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
    function naverSignInCallback() {
        // alert(naver_id_login.getProfileData('email'));
        // alert(naver_id_login.getProfileData('nickname'));
        // alert(naver_id_login.getProfileData('age'));
    }
</script>
</body>
</html>