.g_footer_area{clear:both;margin-top:30px;background-color:#616161;letter-spacing:0;  box-sizing: border-box;}
.g_footer{overflow:hidden;height:43px; border-bottom:1px solid #767676; box-sizing: border-box;}
.g_footer .g_footer_menu{position:relative; width:1080px;height:43px;margin:0 auto;line-height:43px;}
.g_footer .g_footer_menu li{float:left; margin-right:25px;color:#E1E1E1; box-sizing: border-box;}
.g_footer .g_footer_menu .f_bold{color:#FEFFCF;}
.g_footer .g_footer_menu li a{height: 100%; box-sizing: border-box;}
.g_footer .g_footer_menu li a img{padding-top:6px; height: 100%;  box-sizing: border-box;}
.g_footer_menu .sns{position:absolute;top:0;right:16px;}
.g_footer_menu .sns a{display:inline-block;width:22px;height:22px;margin-right:2px;vertical-align:middle;text-indent:-9999px;}
.g_footer_menu .sns .facebook{background-position:-802px -2px;}
.g_footer_menu .sns .instagram{background-position:-802px -26px;}
.g_footer_menu .sns .youtube{background-position:-802px -50px;}
.g_footer_area .g_copyright{position:relative;box-sizing:border-box;width:1080px;height:150px;margin:0 auto;padding:20px 0;font-size:12px;color:#B0B0B0;}
.g_footer_area .inicis_com{position:absolute;top:23px;right:30px;overflow:hidden;width:54px;height:54px;background-color:#616161;}
.g_copyright .footer_logo{float:left;}
.g_copyright .comp_info{float:left;margin-left:40px;line-height:18px;}
.aside .nav_subject{position:relative;box-sizing:border-box;width:100%;height:87px;border:1px solid #DDD;border-bottom:0;font-size:25px;font-weight:bold;text-align:center;}
.aside .nav_subject > a{display:inline-block;height:47px;margin-top:21px;background:url(//img2.itemmania.com/new_images/common/sp_subname.jpg) no-repeat;text-indent:-9999px;}
.aside .nav_subject .a_img{width:100%;background:none;text-align:center;text-indent:0;}
.aside .nav_subject .myroom{width:72px;background-position:-10px -10px;}
.aside .nav_subject .customer{width:107px;background-position:-199px -10px;}
.aside .nav_subject .giftcard{width:98px;background-position:-91px -10px;}
.aside .nav_subject .guide{width:98px;background-position:-316px -10px;}
.aside .nav_subject .power{width:168px;background-position:-422px -10px;}
.aside .nav{position:relative;box-sizing:border-box;width:100%;height:auto;border:1px solid #DDD;border-top:4px solid #159EFD;}
.aside .nav a{display:block;}
.aside .nav > .nav_title{position:relative;box-sizing:border-box;width:100%;height:40px;padding-left:25px;font-weight:bold;line-height:40px;color:#636363;}
.aside .nav > .on_active{background:#159EFD;color:white;}
.aside .nav > .nav_sub{position:relative;box-sizing:border-box;width:100%;padding-left:30px;line-height:20px;color:#9F9F9F;}
.aside .nav > .on_active ~ .nav_sub{margin-top:5px;}
.aside .nav > .nav_sub .on_active{font-weight:bold;color:#767676;}
.aside .nav > .nav_sub:last-child{margin-bottom:10px;}
.SpGroup {
    background-image: url(//img1.itemmania.com/new_images/common/sp_renew_20221011.png);
    background-repeat: no-repeat;
    background-size: 1090px 2272px;
}