<!DOCTYPE html>
<html lang="ko">
<head>
    <title>title</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragment/header"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

<div id="g_SLEEP" class="g_sleep g_hidden">
    <div id="g_OVERLAY" class="g_overlay"></div>
</div>
<div class="g_body" id="g_BODY">
    <div class="myotp_id_layer_wrapper">
        <div class="inner"></div>
    </div>
    <div class="g_layer all_menu_layer" id="all_menu_layer">
        <div class="inner">
            <a href="javascript:;" class="sp_icon close_r" id="menu_close">닫기</a>
        </div>
    </div>
    <div class="g_container" id="g_CONTENT">
        <div class="g_remocon_l">
        </div>

        <div class="top_area">
            <h1>회원가입</h1>
            하이템브로커에 오신것을 환영합니다.<br>
            회원이 되시면 보다 다양한 혜택을 받아보실 수 있습니다.
            <div class="sp_join step3"></div>
            <div class="join_new_banner">
            </div>
        </div>
    </form>
        <form id="frmInfo">
            <table>
                <colgroup>
                    <col width="206">
                    <col/>
                </colgroup>
                <tr>
                    <th>이름</th>
                    <th:block th:if="${data} != null">
                        <td th:text="${data.profile_nickname}"/>
                        <input type="hidden" class="g_text" id="user_name" th:value="${data.profile_nickname}">
                    </th:block>
                    <th:block th:if="${data} == null">
                        <td><input type="text" required="true" name="user_name" class="g_text" id="user_name" maxlength="12"></td>
                    </th:block>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td>
                        <div class="guide_add2">
                            <input type="text" required="true" name="user_id" class="g_text" id="user_id" maxlength="12">
                            <span class="id_check" id="idCheck">
                                <input type="button" name="user_id_checker" id="idChecker" onclick="idDoubleChecker()" value="중복확인">
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td>
                        <div class="guide_add">
                            <input type="password" required="true" name="user_password" class="g_password" id="user_password" maxlength="16" onchange="pwConditionCheck()">
                            <div class="password_help" id="password_help"></div>
                        </div>
                        <div class="muser_password" id="muser_password"></div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td>
                        <div class="guide_add">
                            <input type="password" required="true" name="user_password_validate" class="g_password" id="user_password_validate" maxlength="16" onchange="pwDuplicateCheck()">
                            <div class="password_help" id="password_help2"></div>
                        </div>
                        <div class="DuplicateCheck" id="DuplicateCheck"></div>
                    </td>
                </tr>
                <tr>
                    <th>연락처(휴대폰)</th>
                    <td class="mobile_area">
                        <select id="slctMobile_type" name="user_mobile_type">
                            <option value="1"selected>SKT</option>
                            <option value="2">KT</option>
                            <option value="3">LG U+</option>
                            <option value="4">SKT-A</option>
                            <option value="5">KT-A</option>
                            <option value="6">LG-A</option>
                            <option value="N">휴대폰없음</option>
                        </select>
                        <select name="user_mobileA" required="true" id="user_mobileA">
                            <option value="010"selected>010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                        </select>
                        -
                        <input type="text" name="user_mobileB" required="true" id="user_mobileB" maxlength="4" class="g_text" >
                        -
                        <input type="text" name="user_mobileC" required="true" id="user_mobileC" maxlength="4" class="g_text" >
                        <span class="f_black3">※ SMS 수신거부는 가입 후 마이룸에서 가능합니다.</span>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <th:block th:if="${data} != null">
                        <td th:text="${data.account_email}"/>
                        <input type="hidden" id="user_email" th:value="${data.account_email}"/>
                        <input type="hidden" id="user_email_direct" value=""/>
                    </th:block>
                    <th:block th:if="${data} == null">
                    <td class="email_area">
                        <input type="text" id="user_email" name="user_email" required="true" maxlength="30" class="g_text"> @
                        <input type="text" id="user_email_direct" name="user_email_direct" required="true" value="" maxlength="30" class="g_text">
                        <select id="slctEmail_host" name="user_email_host" onchange="emailDirChange()">
                            <option value="direct">직접입력</option>
                            <option value="naver.com">naver.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="hotmail.com">hotmail.com</option>
                            <option value="nate.com">nate.com</option>
                            <option value="yahoo.co.kr">yahoo.co.kr</option>
                            <option value="paran.com">paran.com</option>
                            <option value="empas.com">empas.com</option>
                            <option value="dreamwiz.com">dreamwiz.com</option>
                            <option value="freechal.com">freechal.com</option>
                            <option value="lycos.co.kr">lycos.co.kr</option>
                            <option value="korea.com">korea.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="hanmir.com">hanmir.com</option>
                        </select>
                        <input type="button" value="중복확인" id="emailCheckBtn" class="btn_blue3" onclick="eMailDoubleChecker()">
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <th>생년월일</th>
                    <td class ="birthday_area">
                        <input type="date" required="true" max="2099-12-31" min="1980-01-01" id="user_birth">
                    </td>
                </tr>

            </table>

            <div class="g_btn">
                <input type="button" value="회원가입" class="btn_blue3 big_btn" onclick="RegistMember()" id="regist_button">
            </div>
        </form>

        <div class="g_finish"></div>
    </div>
            <div th:replace="fragment/footer"/>
</div>
<script>
    function idDoubleChecker() {
        console.log(document.getElementById('user_id').value)
        $.ajax({
            url: '/regist/idDoublecheck',
            type: 'post',
            data: {userName:document.getElementById('user_id').value},
            success: function (data) {
                console.log(data);
                if(data)
                {
                    alert("동일한 아이디가 있습니다")
                    document.getElementById('regist_button').disabled = true;
                }
                else
                {
                    alert("사용 가능한 아이디 입니다")
                    document.getElementById('user_id').readOnly = true;
                    document.getElementById('regist_button').disabled = false;
                }
            },
            fail: function (e) {
                console.log(e)
            }
        })
    }
    function eMailDoubleChecker() {
        let email = document.getElementById('user_email').value + '@'+ document.getElementById('user_email_direct').value;
        console.log(email)
        $.ajax({
            url: '/regist/emailDoublecheck',
            type: 'post',
            data: {userEmail:email},
            success: function (data) {
                if(data)
                {
                    alert("동일한 이메일이 있습니다")
                    document.getElementById('regist_button').disabled = true;
                }
                else
                {
                    alert("사용 가능한 이메일 입니다")
                    document.getElementById('user_email').readOnly = true;
                    document.getElementById('regist_button').disabled = false;
                }
            },
            fail: function (e) {
                console.log(e)
            }
        })
    }
</script>
<script>
    function emailDirChange()
    {
        if( document.getElementById('slctEmail_host') != null && document.getElementById('slctEmail_host').value != "direct")
            document.getElementById('user_email_direct').value = document.getElementById('slctEmail_host').value;
    }
</script>
<script>
    function pwConditionCheck()
    {
        let pw = document.getElementById('user_password').value;
        let req = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,12}$/;
        console.log(pw)
        if(!req.test(pw))
        {
            document.getElementById('muser_password').innerText='비밀번호에 대소문자와 특수문자가 반드시 하나씩 포함되어야 하며 길이가 6~12글자 이내여야 합니다';
            document.getElementById('muser_password').style.color='red';
            document.getElementById('regist_button').disabled = true;
        }
        else
            document.getElementById('muser_password').innerText="";
            document.getElementById('regist_button').disabled = false;

    }

    function pwDuplicateCheck()
    {
        let pw = document.getElementById('user_password').value;
        let pw_validate = document.getElementById('user_password_validate').value;
        console.log(pw)
        console.log(pw_validate)
        if(pw == pw_validate && pw != '' && pw_validate != '')
        {
            document.getElementById('DuplicateCheck').innerText='비밀번호가 일치합니다';
            document.getElementById('DuplicateCheck').style.color='blue';
            document.getElementById('regist_button').disabled = false;
        }

        else
        {
            document.getElementById('DuplicateCheck').innerText='비밀번호가 일치하지 않습니다';
            document.getElementById('DuplicateCheck').style.color='red';
            document.getElementById('regist_button').disabled = true;
        }
    }
</script>
<script>
    function RegistMember()
    {
        const UserDTO = {
            userName : document.getElementById('user_id').value,
            userPassword : document.getElementById('user_password').value,
            userRealName : document.getElementById('user_name').value,
            userEmail : document.getElementById('user_email').value + '@'+ document.getElementById('user_email_direct').value,
            userPhoneNum : document.getElementById('user_mobileA').value + document.getElementById('user_mobileB').value + document.getElementById('user_mobileC').value,
            userBirth : document.getElementById('user_birth').value
        }


        console.log(UserDTO)

        if(UserDTO.userName == "" ||
            UserDTO.userPassword == "" ||
            UserDTO.userRealName == "" ||
            UserDTO.userEmail == "" ||
            UserDTO.userPhoneNum == "" ||
            UserDTO.userBirth == "")
        {
            alert("모든 데이터를 입력하세요 ")
        }

        else
        {
            $.ajax(
                {
                    url:'/regist/insert',
                    type:'post',
                    data:JSON.stringify(UserDTO),
                    dataType:'JSON',
                    contentType:'application/json; charset=utf-8',
                    success:function (result)
                    {
                        console.log(result)

                        if(result != null)
                        {
                            alert("회원가입에 성공 하였습니다")
                            window.location.replace("/");
                        }

                        else
                            alert("회원가입에 실패 하였습니다")
                    },
                    fail:function ()
                    {
                    },
                    error:function (err)
                    {
                        console.log("error")
                        console.log(err)
                    }
                })
        }
    }
</script>
</body>
</html>