<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../../image/favicon/hb.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/css/UserForm/findPage.css">

</head>
<body>
<div th:replace="fragment/header"/>
<div class="g_container" id="g_CONTENT">
  <div class="g_remocon_l">
  </div>
  <div class="find_title">
    비밀번호 찾기
    <span>개인 정보 보안을 위해 회원님 본인인증 후 비밀번호를 찾으실 수 있습니다.</span>
  </div>

  <div class="tab_area">
    <div><a href="/find/id">아이디 찾기</a></div>
    <div class="selected"><a href="#">비밀번호 찾기</a></div>
  </div>

  <div class="collapse active show" id="phone_met">
    <div class="collapse_title">내 정보에 등록된 <span class="blue">아이디로 찾기</span></div>
    <div class="collapse_cont">
<!--      <form name="frmMobile" id="frmMobile" action="https://www.itemmania.com/portal/user/lose/find_id_preview.html" method="post">-->
<!--        <input type="hidden" name="user_type" id="user_type" value="hp">-->
<!--        <input type="hidden" name="captcha_data" value="fabf6e8f2a46b10644c796fc947c8edb4350a5077ab1a0892510f083de79fb2f7f77a76c2d3e30dc775df6c99ff96be4313eed209c7f612957e16683ec878f3b">-->
        <dl>
          <dt>이름</dt>
          <dd><input type="text" class="g_text" id="user_name" name="user_name" maxlength="12"></dd>
          <dt>생년월일</dt>
          <dd>
            <input type="text" class="g_text" id="user_birth" name="user_birth" maxlength="8" placeholder="예)19990101">
          </dd>
          <dt>아이디</dt>
          <dd>
            <input type="text" class="g_text" id="user_id" name="user_id" maxlength="20">
          </dd>
          <dd>
<!--            <div class="g-recaptcha" id="recaptcha_hp"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdyY4cUAAAAAEJ94u8n9w7sF-qHmyY-vr3jiBno&amp;co=aHR0cHM6Ly93d3cuaXRlbW1hbmlhLmNvbTo0NDM.&amp;hl=ko&amp;v=u35fw2Dx4G0WsO6SztVYg4cV&amp;theme=light&amp;size=normal&amp;cb=7q8lass1epvi" width="304" height="78" role="presentation" name="a-n2y77dwpryne" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>-->
            <!--                        <img id="captcha_image" src="/images/captcha/captcha_images_num.php?t=-->
            <!--" width="200"/>-->
            <!--                        <input type="text" name="captcha_text" class="g_text" placeholder="자동입력 방지문자">-->
            <!--                        <div class="g-recaptcha" data-sitekey="6LdyY4cUAAAAAEJ94u8n9w7sF-qHmyY-vr3jiBno" id="recaptcha_hp"></div>-->
          </dd>
          <dd>
            <input type="submit" value="인증 받기" class="btn_blue3 big_btn" onclick="findPw()">
          </dd>
        </dl>
      </form>
    </div>
  </div>

  <div class="g_right bt_txt">
    아직 하이템브로커 회원이 아니세요?
    <a href="/regist" class="join_btn">회원가입</a>
  </div>

  <div class="g_finish"></div>

<!-- Modal -->
  <div class="modal fade" id="password_modal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">비밀번호 변경</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="change_password" class="col-form-label">변경할 비밀번호</label>
              <input type="password" class="form-control" id="change_password" onchange="pwConditionCheck()">
              <div id="muser_password"></div>
            </div>
            <div class="mb-3">
              <label for="change_password_checker" class="col-form-label">비밀번호 확인</label>
              <input type="password" class="form-control" id="change_password_checker" onchange="pwDuplicateCheck()">
              <div id="DuplicateCheck"></div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" id="change_password_button" onclick="changePw()">변경</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--footer-->
  <div th:replace="fragment/footer"/>

<!--Script-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  <script>
    editPasswordModal = new bootstrap.Modal('#password_modal');
    function findPw()
    {
      birth = document.getElementById('user_birth').value;

      PwFindRequest = {
        userRealName:document.getElementById('user_name').value,
        userBirth:birth.slice(0,4) + '-' + birth.slice(4,6) + '-' + birth.slice(6,8),
        userName:document.getElementById('user_id').value,
        userEmail:document.getElementById('user_email').value
      }

      console.log(PwFindRequest)

      $.ajax({url:'/find/pw',type:'post',async:false,data:JSON.stringify(PwFindRequest),contentType:'application/JSON',success:function (result)
                {
                  console.log(result)

                  if(result == "empty")
                    alert("등록된 데이터와 일치하는 계정이 없습니다")

                  else
                  {
                    // alert(result)
                    // console.log("여기로 들어왔다")
                    editPasswordModal.show();
                  }
                },
                fail:function ()
                {
                  alert("비밀번호 변경에 실패하였습니다")
                },
                error:function (error)
                {
                  console.log(error)
                }
              }
      )
    }
  </script>

  <script>
    function changePw()
    {
      birth = document.getElementById('user_birth').value;

      PwChangeRequest = {
        userRealName:document.getElementById('user_name').value,
        userBirth:birth.slice(0,4) + '-' + birth.slice(4,6) + '-' + birth.slice(6,8),
        userName:document.getElementById('user_id').value,
        userEmail:document.getElementById('user_email').value,
        userPassword:document.getElementById('change_password').value
      }

      console.log(PwFindRequest)

      $.ajax({url:'/find/pw', type:'put', async:false, data:JSON.stringify(PwChangeRequest), contentType:'application/JSON', success:function (result)
                {
                  console.log(result)

                  if(!result)
                  {
                    alert("비밀번호 변경에 실패하였습니다")
                    document.getElementById('change_password').value="";
                    document.getElementById('change_password_checker').value="";
                    editPasswordModal.hide();
                  }

                  else
                  {
                    alert("비밀번호 변경이 완료되었습니다")
                    document.getElementById('change_password').value="";
                    document.getElementById('change_password_checker').value="";
                    editPasswordModal.hide();
                  }
                },
                fail:function ()
                {
                  alert("비밀번호 변경에 실패하였습니다")
                  document.getElementById('change_password').value="";
                  document.getElementById('change_password_checker').value="";
                },
                error:function (error)
                {
                  console.log(error)
                }
              }
      )
    }
  </script>
  <script>
    let req = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,12}$/;

    function pwConditionCheck()
    {
      let pw = document.getElementById('change_password').value;
      console.log(pw)
      if(!req.test(pw))
      {
        document.getElementById('muser_password').innerText='비밀번호에 대소문자와 특수문자가 반드시 하나씩 포함되어야 하며 길이가 6~12글자 이내여야 합니다';
        document.getElementById('muser_password').style.color='red';
        document.getElementById('change_password_button').disabled = true;
      }
      else
        document.getElementById('muser_password').innerText="";
    }

    function pwDuplicateCheck()
    {
      let pw = document.getElementById('change_password').value;
      let pw_validate = document.getElementById('change_password_checker').value;
      console.log(pw)
      console.log(pw_validate)
      if(pw == pw_validate && pw != '' && pw_validate != '' && req.test(pw_validate))
      {
        document.getElementById('DuplicateCheck').innerText='비밀번호가 일치합니다';
        document.getElementById('DuplicateCheck').style.color='blue';
        document.getElementById('change_password_button').disabled = false;
      }

      else
      {
        document.getElementById('DuplicateCheck').innerText='비밀번호가 일치하지 않습니다';
        document.getElementById('DuplicateCheck').style.color='red';
        document.getElementById('change_password_button').disabled = true;
      }
    }
  </script>
</body>
</html>