<!DOCTYPE html>
<html lang="ko">
<head>
  <title>아이템매니아</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="아이템매니아,아이템거래,아이템,매니아,아이템매니아주소,아이템매니아바로가기,아이템메니아,아이탬매니아,아이탬메니아,리니지2M,리니지M,리니지,바람의나라,바람의나라연,로스트아크,던전앤파이터,와우클래식,패스오브엑자일,V4,에오스레드">
  <meta name="description" content="게임 아이템 거래 No.1 아이템매니아 - 빠르고 안전한 아이템거래.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.itemmania.com">
  <meta property="og:title" content="아이템매니아">
  <meta property="og:description" content="게임아이템거래 No.1 아이템매니아 - 빠르고 안전한 아이템거래.">
  <meta property="og:image" content="http://img1.itemmania.com/new_images/common/200807_og_image_512x512.png">
  <meta name="NaverBot" content="index,follow"/>
  <meta name="Yeti" content="index,follow"/>
  <meta property="al:android:package" content="com.itemmania.imiapp">
  <meta name="naver-site-verification" content="3689de6fa5eb361eb85c0fa8e81a48c7475da00f">
  <meta name="google-site-verification" content="S8G1uIRyBvpqulp4NJfGibA0ViDdpgDpdeNCVLRlCAI">
  <link rel="canonical" href="http://www.itemmania.com">
  <link rel="shortcut icon" href="http://img1.itemmania.com/images/icon/favicon.ico">
  <link type="text/css" rel="stylesheet" href="/css/charge.css">
  <link type="text/css" rel="stylesheet" href="/_head_tail/css/_head_comm.css?v=221128">
  <link type="text/css" rel="stylesheet" href="/_banner/css/banner_module.css?v=210422">
  <link type="text/css" rel="stylesheet" href="css/charge.css?v=221220">
  <script type="text/javascript" src="/advertise/advertise_code_head.js?v=200727"></script>
  <script type="text/javascript" src="/_banner/js/banner_module.js?v=220809"></script>
</head>
<body>

  <div class="g_container" id="g_CONTENT">


    <div class="g_content" style="width: 820px">

    <div class="g_gray_border"></div>
    <ul class="g_big_box1">
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/toss.html', 701, 900);">토스페이<span class="img_charge39">토스페이</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/ktclip.html', 701, 900);">카드포인트<div class="icon_new"></div><span class="img_charge34">카드포인트</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/creditcard.html', 701, 900);">신용카드 충전<span class="img_charge01">신용카드 충전</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/phone_ars.html', 701, 900);">휴대폰 ARS충전<span class="img_charge06">휴대폰 ARS충전</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/realaccount.html', 701, 900);">자동이체<span class="img_charge11">자동이체</span></li>

      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/ars.html', 701, 900);">전화결제(ARS)<span class="img_charge16">전화결제(ARS)</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/onlyculture.html', 701, 900);">문화상품권<span class="img_charge02">문화상품권</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/teencash.html', 701, 900);">틴캐시<span class="img_charge12">틴캐시</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/pointpark.html', 701, 900);">포인트충전<span class="img_charge22">포인트충전</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/bookgift.html', 701, 900);">도서문화 상품권<span class="img_charge03">도서문화 상품권</span></li>

      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/eggmoney.html', 701, 900);">에그머니<span class="img_charge13">에그머니</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/mybank.html', 701, 900);">내통장결제<span class="img_charge38">내통장결제</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/tcash.html', 701, 900);">TCash 충전<span class="img_charge28">TCash 충전</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/onlyhpmn.html', 701, 900);">해피머니상품권<span class="img_charge04">해피머니상품권</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/tmoney.html', 701, 900);">모바일티머니<span class="img_charge09">모바일티머니</span></li>

      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/maniacoupon.html', 701, 900);">매니아 선불쿠폰<span class="img_charge19">매니아 선불쿠폰</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/coupon.html', 701, 900);">이벤트쿠폰<span class="img_charge24">이벤트쿠폰</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/onlydgcl.html', 701, 900);">스마트문상(게임문상)<span class="img_charge05">스마트문상(게임문상)</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/cashbee.html', 701, 900);">모바일캐시비<span class="img_charge10">모바일캐시비</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/cashgate.html', 701, 900);">캐시플러스<span class="img_charge15">캐시플러스</span></li>

      <li onclick="window.open('/portal/maniaplay/free/index.html');">무료충전소<span class="img_charge25">무료충전소</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/mileage.html', 701, 900);">마일리지 상품권<span class="img_charge26">마일리지 상품권</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/index.html', 701, 900);">전용계좌<span class="img_charge21">전용계좌</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/mmileage.html', 701, 900);">M마일리지 이용권<span class="img_charge30">M마일리지 이용권</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/im_gift.html', 701, 900);">IM기프트 상품권<span class="img_charge31">IM기프트 상품권</span></li>

      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/mobilepop.html', 701, 900);">모바일팝<span class="img_charge32">모바일팝</span></li>
      <!--            <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/moneytree.html', 701, 900);">머니트리<span class="img_charge33">머니트리</span></li>-->
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/pipe.html', 701, 900);">암호화폐 충전<span class="img_charge35">암호화폐 충전</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/paycoin.html', 701, 900);">페이코인 충전<span class="img_charge36">페이코인 충전</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/kbank.html', 701, 900);">케이뱅크 페이<span class="img_charge37">케이뱅크 페이</span></li>
      <li onclick="_window.open('mileage_charge', '/myroom/mileage/charge/moneytree_point.html', 701, 900);">통합포인트(머니트리) <span class="img_charge33">통합포인트(머니트리)</span></li>
    </ul>
    <div class="g_finish"></div>
    <div class="mile_info" style="width: 816px">
      <div class="top_info">
        <img src="http://img4.itemmania.com/images/icon/icon_info.gif" width="69" height="69" alt="INFO 08"></div>
      <div class="g_no">
        <img src="http://img2.itemmania.com/new_images/myroom/img_mileage.gif" width="816" height="74" alt="마일리지 충전 안내">
      </div>
      <ul>
        <li class="title">
          <img src="http://img3.itemmania.com/images/myroom/mileage/info01.gif" width="57" height="15" alt="무통장입금(전용계좌)">
        </li>
        <li>고객님의 입금편의를 위해 전용 입금 계좌를 제공하고 있으며 계좌 발급 후 입금하시면 마일리지로 충전됩니다.<br>모바일 사이트(m.itemmania.com)에서도 내 전용계좌 확인이 가능합니다.</li>
        <li class="line"></li>
        <li class="title">
          <img src="http://img4.itemmania.com/images/myroom/mileage/info02.gif" width="155" height="15" alt="자동이체(실시간 계좌이체)">
        </li>
        <li>고객님의 은행계좌에서 계좌정보 및 공인인증서 확인 후 바로 마일리지로 충전 가능합니다.</li>
        <li class="line"></li>
        <li class="title">
          <img src="http://img2.itemmania.com/images/myroom/mileage/info03.gif" width="93" height="15" alt="전화결제(ARS)">
        </li>
        <li>유선 일반전화기를 이용하여 마일리지를 충전하실 수 있습니다.</li>
        <li class="line"></li>
        <li class="title">
          <img src="http://img4.itemmania.com/images/myroom/mileage/info05.gif" width="73" height="15" alt="상품권충전">
        </li>
        <li>문화상품권, 스마트문화상품권, 도서문화, 해피머니 상품권으로 마일리지를 충전하실 수 있습니다.</li>
        <li class="line"></li>
        <!--			<li class="title"><img src="--><!--/images/myroom/mileage/info06.gif" width="73" height="15" alt="편의점충전"></li>-->
        <!--			<li>가맹 편의점에서 아이템매니아 캐쉬를 구입 후 영수증에 기재된 일련번호를 입력하면 즉시 마일리지로 충전할 수 있습니다.</li>-->
        <!--			<li class="line"></li>-->
        <li class="title">
          <img src="http://img3.itemmania.com/images/myroom/mileage/info07.gif" width="84" height="15" alt="선불카드충전">
        </li>
        <li>편의점 또는 문구점에서 판매되는 틴캐시, 에그머니, GP쿠폰 등으로 마일리지를 충전하실 수 있습니다.</li>
        <li class="line"></li>
        <li class="title">
          <img src="http://img4.itemmania.com/images/myroom/mileage/info08.gif" width="101" height="15" alt="매니아전용충전">
        </li>
        <li>M마일리지 이용권, 마일리지상품권 등 아이템매니아와 제휴가 맺어진 상품권으로 마일리지를 충전하실 수 있습니다.</li>
      </ul>
    </div>
    <div class="subtxt">※ 마일리지 충전 시 마일리지 서비스 이용료가 부과됩니다.</div>
  </div>
    <div class="g_finish"></div>
  </div>

</div>
<script type="text/javascript" src="/_js/_jquery3.js?v=190220"></script>
<script type="text/javascript" src="/_js/_comm.min.js?v=23011110"></script>
<script type="text/javascript" src="/_js/_gs_control_200924.min.js?v=21101416"></script>
<script type="text/javascript" src="/_js/_common_initialize_new.min.js?v=21110910"></script>
<script type="text/javascript" src="/portal/banner/js/banner.js?v=190220"></script>
<script type="text/javascript">
  var gsVersion = '2301091610';
  var _LOGINCHECK = '1';
  _initialize();
</script>
<script type="text/javascript" src="/advertise/advertise_code.js?v=221219"></script>
</body>
</html>