

.login_form{width:400px;margin:0 auto;padding:70px 0 160px;}
.login_form .g_title{font-size:26px;text-align:center;color:#505050;}
/* ▼ 로그인 */
.login_form .btn_wrap{margin-top:20px;}
.login_form .btn{display:block;width:100%;height:58px;margin-bottom:10px;font-size:16px;font-weight:bold;text-align:center;}
.login_form a.btn{line-height:58px;}
.login_form .btn_blue{background-color:#216ED7;color:#FFF;}
.login_form .btn_green{background-color:#00C73C;color:#FFF;}
.login_form .btn_yellow{background-color:#FEE100;color:#5A4D16;}
.login_form .btn_orange{background-color:#F08C00;color:#FFF;}
.login_form .btn_gray{background-color:#9F9F9F;color:#FFF;}
.login_form .btn_red{background-color:#DA4328;color:#FFF;}
.login_form .btn_orange em{font-size:12px;font-weight:normal;}
.btn [class^=icon]{display:inline-block;width:21px;height:21px;margin-right:10px;vertical-align:middle;}
.icon_naver{background:url(//img2.itemmania.com/new_images/login/icon_naver.png) no-repeat;}
.icon_kakao{background:url(//img2.itemmania.com/new_images/login/icon_kakao.png) no-repeat;}
.icon_myotp{background:url(//img2.itemmania.com/new_images/login/icon_myotp.png) no-repeat;}
.input_area li{margin-bottom:10px;}
.input_area .id_save{margin-bottom:0;}
.input_area .g_text, .input_area .g_password{width:100%;height:50px;padding:0 15px;font-size:15px;}
.input_area .g_checkbox{width:20px;height:20px;margin-right:3px;vertical-align:top;}
.gray_line{height:1px;margin:20px 0;border-top:1px solid #DEDEDE;}
.find_area{text-align:center;color:#767676;margin-bottom:20px;}
.find_area > a{display:inline-block;vertical-align:middle;}
.find_area > a::after{display:inline-block;margin:-3px 10px 0;content:"|";font-size:11px;vertical-align:middle;color:#C1C1C1;}
.find_area > a:last-child::after{content:"";}
.login_ing{display:none;}
.login_ing > div{ margin-bottom:20px;padding:20px 0;border:1px solid #D7D7D7;text-align:center;}
/* ▲ 로그인 */
/* ▼ 로그인실패 */
.login_info{margin-bottom:10px;padding:20px;border:1px solid #D7D7D7;}
.login_info .top_txt{padding:10px 0;font-size:14px;font-weight:bold;text-align:center;color:#FF2400;}
.login_info .top_txt2{font-weight:bold;color:#FF2400;}
.error_info{padding:20px;background-color:#F8F8F8;font-size:16px;font-weight:bold;color:#444;}
.error_info .term{margin-left:40px;font-size:14px;}
.error_txt{margin-top:10px;color:#767676;}
.center_text{font-weight:bold;color:#767676;}
/* ▲ 로그인실패 */
/* ▼ myOtp 로그인 */
.myotp_id_layer_wrapper{ z-index:11;position:absolute;top:0;right:0;bottom:0;left:0;display:none;background:rgba(0, 0, 0, 0.8);}
.myotp_id_layer_wrapper > .inner > .myotp_id_layer_content{ z-index:12;position:absolute;top:50%;left:50%;width:500px;height:350px;margin-top:-175px;margin-left:-250px;background:url(//img2.itemmania.com/new_images/login/pop_otp.jpg) no-repeat;}
.myotp_id_layer_wrapper > .inner > .myotp_id_layer_content > .myotp_id_success{ position:absolute;bottom:30px;left:100px;width:137px;height:46px;background:url(//img2.itemmania.com/new_images/login/btn_potp_ok.gif) no-repeat;font-size:0;cursor:pointer;}
.myotp_id_layer_wrapper > .inner > .myotp_id_layer_content > .myotp_id_cancle{ position:absolute;right:100px;bottom:30px;width:137px;height:46px;background:url(//img2.itemmania.com/new_images/login/btn_potp_cancel.gif) no-repeat;font-size:0;cursor:pointer;}
/* ▲ myOtp 로그인 */