/*
 * @title		팝니다 리스트
 * @author		[F/E]김보람
 * @date		2018.11.13
 * @update		수정날짜(수정자)
 * @description
 */

.mask_on{overflow:hidden;}
.bn_list_top{margin-bottom:10px;}
.sp_list{display:inline-block;background:url(//img2.itemmania.com/new_images/sell/sp_list.png?211103) no-repeat;vertical-align:middle;}
.g_title_blue .trade_sub_title{float:left;font-size:20px;letter-spacing:-2px;}
.g_title_blue .trade_sub_title li{float:left;margin-right:15px;}
.g_title_blue .trade_sub_title .game_name{padding-top:4px;font-size:15px;letter-spacing:-1px;color:#1D1D1D;}
.g_title_blue .trade_sub_title .game_name span{vertical-align:middle;}
.g_title_blue .trade_sub_title .quotation{display:none;padding-top:10px;font-size:12px;}
.g_title_blue .trade_sub_title .quotation > span{color:#767676;}
.g_title_blue .trade_sub_title .quotation > a{margin-left:10px;color:#9F9F9F;}
.g_title_blue .trade_sub_title .quotation .f_normal{font-weight:normal;}
.btn_reg{display:inline-block;box-sizing:border-box;width:98px;height:30px;border-radius:15px;background-color:#159EFD;font-size:14px;font-weight:bold;text-align:center;vertical-align:top;cursor:pointer;line-height:28px;color:white !important;}
.trade_sub_title .favorite{display:inline-block;width:23px;height:22px;margin:0 10px 0 4px;cursor:pointer;}
.trade_sub_title .favorite.onfav{background-image:url(//img2.itemmania.com/new_images/sell/icon_star.png);}
.trade_sub_title .favorite.offfav{background-image:url(//img2.itemmania.com/new_images/sell/icon_star_off.png);}
.g_tab{table-layout:auto;margin-bottom:0;}
.g_tab > *{width:17%;height:40px;border-bottom:1px solid #E1E1E1;}
.g_tab .selected{border:1px solid #E1E1E1;border-top:3px solid #159EFD;border-bottom:0;color:#159EFD;}
.g_tab .side{width:305px;}
.g_tab .icon_new{display:inline-block;width:34px;height:13px;margin:-3px 0 0 5px;background:url(//img1.itemmania.com/new_images/icon/icon_char_new.png) no-repeat;vertical-align:middle;}

/* 검색영역 */
.search_word{font-size:0;text-align:right;}
.search_word li{display:inline-block;vertical-align:middle;}
.search_word .btn_search{display:inline-block;width:34px;height:29px;background-position:-44px -135px;text-indent:-9999px;cursor:pointer;}
.search_word input{float:left;width:234px;height:29px;}
.detail_search{overflow:hidden;width:100%;}
.search_box{position:relative;overflow:hidden;}
.search_box .search_reset{position:absolute;top:7px;right:10px;width:69px;height:29px;background-image:url(//img2.itemmania.com/new_images/sell/btn_reset.gif);text-indent:-9999px;cursor:pointer;}
.search_box .search_row{overflow:hidden;padding:13px 0;border:1px solid #E1E1E1;border-top:0;line-height:20px;}
.search_box .search_row .search_tit{float:left;width:65px;margin-left:30px;padding-right:10px;font-weight:bold;}
.search_box .search_row ul{float:left;width:400px;}
.search_box .search_row ul:last-child{width:450px;}
.search_box .search_row li{float:left;margin-right:12px;}
.search_box .spec{background-color:#F9F9F9;line-height:22px;}
.toggleer{position:absolute;left:530px;width:42px;height:21px;background-image:url(//img2.itemmania.com/new_images/sell/btn_list_up.gif);cursor:pointer;}
.toggleer.down{background-image:url(//img2.itemmania.com/new_images/sell/btn_list_down.gif);}
.search_box .btn_character_level{display:inline-block;padding:1px 3px 0;}

/* 아이템 상세 검색 */
.item_detail_search{float:left;overflow:hidden;padding-left:20px;}
.item_detail_search .s_title{float:left;margin-top:2px;font-weight:bold;}
.item_detail_search .item_list{float:left;}
.item_detail_search select{width:130px;margin:0 5px;vertical-align:top;}
.item_detail_search .hide{display:none;}
/*.detail_srh_btn{float:left;box-sizing:border-box;width:60px;height:23px;margin-left:10px;padding-top:1px;border:1px solid #159EFD;background:#159EFD;text-align:center;color:#FFF;}*/

/* 리스트 영역 */
.g_subtitle{font-size:20px;}
.loading{width:40px;height:40px;margin:15px auto;background:url(//img1.itemmania.com/new_images/common/loading_blue.gif) no-repeat;}
.opt_list{display:inline-block;margin-left:7px;font-size:11px;font-weight:400;vertical-align:middle;color:#9F9F9F;}
.opt_list > li{float:left;margin-right:15px;cursor:pointer;}
.opt_list > .active{color:#1D1D1D }
.opt_list > li:before{display:inline-block;width:10px;height:9px;margin:-2px 3px 0 0;content:"";vertical-align:middle;}
.opt_list > .active:before{background:url(//img2.itemmania.com/new_images/sell/sp_list.png?211103) no-repeat -194px -104px;}
.search_list_all > .search_list > li > .col_01{width:120px;}
.search_list_all > .search_list > li > .col_02{width:480px;}
.search_list{display:table;table-layout:fixed;clear:both;width:100%;}
.search_list > li{display:table-row;}
.search_list > li > div{position:relative;display:table-cell;box-sizing:border-box;height:60px;border-bottom:1px solid #E3E3E3;text-align:center;vertical-align:middle;line-height:22px;}
.search_list > .empty > div{width:1080px }
.search_list > li > .mulline{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.search_list > li > .col_01{width:80px;}
.search_list > li > .col_02{width:520px;}
.search_list > li > .col_03{width:140px;color:#767676;}
.search_list > li > .col_04{width:270px;}
.search_list > li > .col_05{width:70px;color:#767676;}
.list_head > li > div{position:relative;box-sizing:border-box;height:40px;border-top:1px solid #BEBEBE;border-bottom:1px solid #BEBEBE;background-color:#E3E3E3;text-align:center;line-height:38px;color:#1D1D1D !important;}
.list_head > li > .col_02{text-align:center;}
.search_list > li:hover{background-color:#E3F4FE;}
.search_list > li:hover > .col_02:not(.active) > a{cursor:auto;}
.search_list > li > .col_02 .mulline > .title{display:inline-block;overflow:hidden;max-width:440px;vertical-align:top;white-space:nowrap;text-overflow:ellipsis;}
.search_list_all .search_list > li > .col_02 .mulline > .title{max-width:400px;}
.search_list > li > .col_02 .mulline > .title.title_bold{font-weight:bold }
.search_list > li > .col_02 .mulline > .title.title_blue{color:#216ED7;}
.search_list > li > .col_03 > .mulline{text-align:right;}
.search_list > li > .col_03 > .mulline > span{font-weight:bold;color:#216ED7;}

/* 돋보기, 빠른거래 */
.search_list > li > .col_02 > .view_detail{opacity:1;position:absolute;top:14px;right:10px;display:none;width:32px;height:32px;background-position:-2px -135px;cursor:pointer;}
.search_list > li > .col_02 > .view_detail_quick{position:absolute;top:17px;right:0;display:block;width:73px;height:27px;background-image:url(//img2.itemmania.com/new_images/sell/btn_quick.gif);background-repeat:no-repeat;cursor:pointer;}
.search_list > li:hover > .col_02.active > .view_detail{display:block;}
/* 돋보기, 빠른거래 */

/* 프리미엄 물품 */
.premium_info{position:absolute;top:11px;right:0px;bottom:5px;box-sizing:border-box;width:131px;height:29px;border:1px solid #E0E0E0;font-size:12px;font-weight:normal;text-align:center;cursor:pointer;line-height:27px;}
.premium_info::after{margin-left:5px;content:"〉〉〉";font-weight:bold;letter-spacing:-5.5px; /* 같은문자를 겹치게 두어 bold효과 */ color:#159EFD;}
.search_list_premium > li{display:block;overflow:hidden;box-sizing:border-box;margin-top:5px;background-color:#F0F8FD;box-shadow:0px 0 0 1px #C3DAEA inset;}
.search_list_premium > li:first-child{margin-top:0;}
.search_list_premium > li:not(.empty):hover{box-shadow:0 0 0 2px #399FE7 inset;}
.search_list_premium > .power_product:not(.empty):hover, .search_list_premium > .on{background-color:#FFFEF0;box-shadow:0 0 0 2px #399FE7 inset;}
.search_list_premium > .empty{background:#E3F4FE;}
.search_list_premium > li > div{border-bottom:0;box-shadow:none;}
.search_list_premium > li > .col_01:before{z-index:10;position:absolute;top:0;left:0;width:44px;height:34px;content:"";background:url(//img2.itemmania.com/new_images/sell/img_pre_tab.png?190311) no-repeat;}
.search_list_premium > li > .col_02{color:#585858;}
.search_list_premium > li > .col_02 .unit{color:#216ED7;}
/* 프리미엄 물품 */

/* 파워물품 */
.search_list > .power_product{background-color:#FFFEF0;}
.search_list > .power_product > .col_02{height:80px;font-size:14px;font-weight:bold;color:#216ED7;}
.search_list > .power_product > .col_02 > .view_detail{top:24px;}
.search_list > .power_product > .col_02 > .view_detail_quick{top:27px;}
.search_list_premium > .power_product{display:block;overflow:hidden;box-sizing:border-box;margin-top:5px;background-color:#FFFEF0;box-shadow:0px 0 0 1px #97B0D6 inset;}
.search_list_premium > .power_product > .col_01:before{z-index:10;position:absolute;top:0;left:0;width:55px;height:43px;content:"";background:url(//img2.itemmania.com/new_images/sell/img_power_tab.png) no-repeat;}
/* 파워물품 */

/* 거래종료 물품 */
.block_item{background-color:#F0F0F0;color:#BDBDBD;}
.block_item .title,
.search_list > .block_item > .col_03,
.search_list > .block_item > .col_05,
.search_list > .block_item > .col_03  > .mulline > *{color:#BDBDBD;}
/* 클릭한 물품 */
.search_list_all .search_list:not(.search_list_premium) .clicked_item .col_01, .search_list:not(.search_list_premium) .clicked_item .unit, .search_list:not(.search_list_premium) .clicked_item .title, .search_list:not(.search_list_premium) .clicked_item .col_03{opacity:0.7;}
/* 검색단어 강조 */
.list_highlight{background-color:#FF9;font-size:12px;font-weight:bold;color:red;}
.black{color:#1D1D1D;}

/* 아이콘 */
.search_list > li > .col_04 > i{height:41px;margin-left:10px;background-position-y:-53px;text-indent:-9999px;}
.search_list > li > .col_04 > i:first-child{margin-left:0;}
.search_list > li > .col_04 > i.active_icon{background-position-y:-2px;}
i.icon_good{width:38px;margin-left:0;background-position-x:-2px;}
i.icon_200{width:43px;background-position-x:-50px;}
i.icon_200_buy{width:63px;background-position-x:-235px;}
i.icon_dc{width:26px;background-position-x:-103px;}
i.icon_nego{width:38px;background-position-x:-139px;}
.load_more{height:46px;margin-top:20px;border:1px solid #E0E0E0;font-size:14px;text-align:center;cursor:pointer;line-height:46px;}
.goTopDiv{float:right;margin:15px 0;}
.icon_power{display:inline-block;width:56px;height:26px;border-radius:3px;background-color:#216ED7;font-size:12px;font-weight:bold;text-align:center;cursor:default;line-height:26px;color:white;}
.badge{display:inline-block;padding:0 10px 2px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;font-size:12px;vertical-align:middle;line-height:normal;color:#FFF;}
.badge.bargain{background-color:#3AC337;}
.badge.bargain:before{content:"흥정";}
.badge.hasScreenshot{padding-left:25px;border:1px solid #808080;background:#FFF url(//img3.itemmania.com/new_images/icon/ico_camera.png) no-repeat 10px 50%;cursor:pointer;color:#585858;}
.badge.hasScreenshot:before{content:"스크린샷 보기";}
.badge.crt_level{background-color:#D13F51;}
.badge.crt_job{background-color:#395A8F;}
.badge.crt_subject{background-color:#3388E6;}

/* 물품 정보 안내 */
.list_info{position:relative;padding-top:7px;font-size:12px;font-weight:normal;}
.list_info > div{float:left;margin-left:10px;}
.list_info .g_checkbox{margin-top:-3px;}
.list_info > .info_layer{z-index:1;position:absolute;top:28px;right:33px;display:none;box-sizing:border-box;width:364px;height:200px;padding:12px 15px 0;border:1px solid #707070;background-color:#FFF;color:#636363;}
.list_info > .info_layer.active{display:block;}
i.icon_info{float:none;width:14px;height:14px;margin:-3px 10px 0 5px;background-position:-214px -104px;cursor:pointer;}
i.icon_refresh{float:none;width:14px;height:14px;margin:-3px 10px 0 0;background-position:-238px -104px;cursor:pointer;}
.list_info > .info_layer > .il_title{margin-bottom:15px;font-weight:bold;}
.list_info > .info_layer > .il_close{position:absolute;top:10px;right:10px;display:block;width:14px;height:13px;background-position:-170px -104px;cursor:pointer;}
.list_info > .info_layer > .il_row{height:32px;margin-bottom:5px;font-size:11px;line-height:32px;}
.list_info > .info_layer > .il_row > .il_btn{float:left;box-sizing:border-box;width:103px;height:32px;margin-right:10px;border:1px solid #CFCFCF;border-radius:3px;background-color:#F7F7F7;text-align:center;line-height:30px;}
.list_info > .info_layer > .il_row > .il_btn > i{height:21px;margin:-3px 5px 0 0;}
.list_info > .info_layer > .il_row > .il_btn > .il_btn_good{width:15px;background-position:-2px -104px;}
.list_info > .info_layer > .il_row > .il_btn > .il_btn_g200{width:17px;background-position:-27px -104px;}
.list_info > .info_layer > .il_row > .il_btn > .il_btn_g200_buy{width:17px;background-position:-260px -104px;}
.list_info > .info_layer > .il_row > .il_btn > .il_btn_dc{width:21px;background-position:-53px -104px;}
.list_info > .info_layer > .il_row > .il_btn > .il_btn_nego{width:18px;background-position:-85px -104px;}

/* 물품 등록정보 레이어 */
.item_regInfo.layer_active{display:block;}
.regInfo_subcontent{overflow:hidden;overflow:hidden;width:100%;margin-top:5px;}
.regInfo_subcontent > li > div{float:left;height:33px;line-height:31px;}
.regInfo_subcontent > li{overflow:hidden;border-bottom:1px solid #D5E2F2;}
.regInfo_subcontent > li:first-child{border-top:1px solid #D5E2F2;}
.regInfo_subcontent_label{width:110px;background-color:#E8F2FF;text-align:center;}
.regInfo_subcontent_in{box-sizing:border-box;width:232px;padding-left:15px;}
.regInfo_subcontent_in > .credit_mark{margin-bottom:3px;}
.regInfo_subcontent_in > .seller_rank{font-weight:bold;}
.regInfo_subcontent_in > .cert_state{width:62px;height:19px;margin-right:0;line-height:17px;}
.item_regInfo .regInfo_btn{width:97px;height:35px;background-repeat:no-repeat;text-indent:-9999px;cursor:pointer;}
.item_regInfo .regInfo_btn.buyapp{background-image:url(//img2.itemmania.com/new_images/btn/btn_buyapp.gif);}
.item_regInfo .regInfo_btn.detail{background-image:url(//img2.itemmania.com/new_images/btn/btn_detail.gif);}
.sise_indicator{margin-top:12px;font-size:12px;font-weight:normal;letter-spacing:-1px;color:black;}
.sise_indicator > span{margin:0 2px;}
.sise_indicator > .sise_up{color:#159EFD;}
.sise_indicator > .sise_up:before{content:"▲";}
.sise_indicator > .sise_down{color:#FF2400;}
.sise_indicator > .sise_down:before{content:"▼";}

/* 물품 등록 알리미 */
.alarm_float{position:fixed; top:50%; width:80px; height:80px; margin-left:1150px; transform:translate(-50%); border:2px solid #159EFD; border-radius:50%; background-color:#FFF; background-color:#E3F4FE; font-weight:bold; cursor:pointer; color:#159EFD;}
.alarm_float p{font-size:12px; text-align:center;}
.alarm_float p img{transform-origin:50% 0;animation:swing ease-in-out 1.5s infinite;}
.alarm_float p:first-child{margin-top:10px; margin-bottom:4px;}

/* 스크린샷 보기 */
.all_screenshot .cont{position:relative;background-color:#000;}
.all_screenshot .navi_btn{display:inline-block;width:40px;height:40px;vertical-align:middle;text-indent:-9999px;}
.all_screenshot .prev{background:url(//img4.itemmania.com/new_images/sell/icon_left.png) no-repeat;}
.all_screenshot .next{background:url(//img4.itemmania.com/new_images/sell/icon_right.png) no-repeat;}
.all_screenshot .screen_wrap{display:inline-block;overflow:auto;width:840px;height:840px;margin:0 16px;vertical-align:middle;}
.all_screenshot .screen_area{display:table;table-layout:fixed;width:820px;height:820px;}
.all_screenshot .screen_area .screen_area_cell{display:table-cell;text-align:center;vertical-align:middle;}
.all_screenshot .g_btn_wrap{margin:10px 0 30px;}
.all_screenshot .go_detail{display:inline-block;height:56px;padding:0 33px;border-radius:50px;background-color:#333;font-size:16px;font-weight:bold;line-height:58px;color:#FFF;}
.all_screenshot .go_detail:before{display:inline-block;width:25px;height:25px;margin:-3px 12px 0 0;content:"";background:url(//img4.itemmania.com/new_images/sell/ico_btn_glass.png) no-repeat;vertical-align:middle;}
.all_screenshot .go_app{display:inline-block;width:142px; height:56px; padding:0 33px; border-radius:50px;background-color:#159EFD;font-size:16px;font-weight:bold;text-align:center;line-height:58px;color:#FFF;}
.all_screenshot .go_app:before{display:inline-block;width:25px;height:25px;margin:-3px 12px 0 0;content:"";background:url(//img4.itemmania.com/new_images/sell/ico_btn_cart.png) no-repeat;vertical-align:middle;}
.all_screenshot ::-webkit-scrollbar{width:15px;}
.all_screenshot ::-webkit-scrollbar-track{background:#F1F1F1;}
.all_screenshot ::-webkit-scrollbar-thumb{border:1px solid #C1C1C1;background:#C1C1C1;}

/* ITM-12727 물품정보검색영역 추가 노출 */
.search_box .search_row li{margin-right:0;}
.search_box .search_row .search_tit{margin-top:2px;}
.search_box .search_row input[type='radio'], .search_box .search_row input[type='checkbox']{visibility: hidden; position:absolute;}
.search_box .search_row input[type='radio']+label, .search_box .search_row input[type='checkbox']+label{display: inline-block;text-align: center; cursor: pointer; padding:3px 8px; border-radius: 3px;}
.search_box .search_row input[type='radio']:disabled+label{color:#ccc; background-color: #fff; cursor:default;}
.search_box .search_row input[type='radio']:checked+label{color:#fff; background-color: #159efd;}
.search_box .search_row input[type='checkbox']:disabled+label{color:#ccc; background-color: #fff; cursor:default;}
.search_box .search_row input[type='checkbox']:checked+label{color:#fff; background-color: #159efd;}
.search_box .search_row input[type='checkbox']:checked.check_purple+label{color:#fff; background-color: #6741d9;}
.search_box .search_row #search_character_job{min-width:120px; height:29px;}
.search_box .search_row .g_text{height:29px; border-radius: 3px;}
.search_box .search_row .item_detail_search{padding:0;}
.search_box .search_row .item_list select{margin-left:0; height:29px;}

@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    /* IE 스크롤바 처리 */
    .all_screenshot{scrollbar-base-color:transparent;scrollbar-face-color:#C1C1C1;scrollbar-3dlight-color:#F1F1F1;scrollbar-highlight-color:#F1F1F1;scrollbar-track-color:#F1F1F1;scrollbar-arrow-color:transparent;scrollbar-shadow-color:#F1F1F1;}
}

@keyframes swing{
    0%{transform:rotate(10deg)}
    10%{transform:rotate(-10deg)}
    20%{transform:rotate(10deg)}
    30%{transform:rotate(-10deg)}
    30%{transform:rotate(-5deg)}
    50%{transform:rotate(0deg)}
    75%{transform:rotate(0deg)}
    100%{transform:rotate(0deg)}
}
